---
title: Eigene Bits & Bäume organisieren
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/community/self-organisation/
---


<section class="max-w-3xl">
	<h1>Organisier dein eigenes Bits & Bäume Event!</h1>

Die Konferenzen 2018 & 2022 sind das Herzstück von Bits & Bäume. Wer hinter unseren <a href="/forderungen">Forderungen</a> steht, kann jederzeit eigene Aktionen (oder sogar eine nächste Konferenz?) ins Leben rufen. Ob es in deiner Stadt schon eine Gruppe gibt, kannst du <a href="/community/regionale-zweige">hier</a> nachschauen. 
<br>
Im Folgenden haben wir Hinweise für die Organisation eigener Events und Konferenzen für euch gesammelt.

    <div class="box box-cta">
		<h2 class="h3">Awareness</h2>
		<p>Im Rahmen der Konferenzen haben wir ein Awareness Konzept entwickelt, um den Raum diskriminierungssensibel zu gestalten. Ein Miteinander, in dem sich alle Personen sicher und wohl fühlen können, liegt uns am Herzen. Gerne könnt ihr das Konzept (in abgeänderter Form) für eure eigenen Events verwenden.</p>
        <a href="/konferenz-2022/awareness"
		    <button class="btn-dark">Awarenesskonzept</button>
	    </a>


		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>

    <div class="box box-cta">
		<h2 class="h3">Nachhaltige Konferenzorga</h2>
		<p>Wir finden: Eine Veranstaltung zum Thema Nachhaltigkeit sollte sich auch bei der Planung und Umsetzung an diesen Ziele orientieren. Bei der Nutzung und Bereitstellung digitaler und analoger Infrastrukturen haben wir beispielsweise auf Ressourcenschonung, Datenschutz und Gemeinwohlorientierung gleichermaßen geachtet. In diesem Sinne teilen wir Informationen und unsere Erfahrungen gerne mit euch.</p>
        <a href="/konferenz-2018/nachhaltige-konferenzorga"
		    <button class="btn-dark">Nachhaltige Konferenzorga</button>
	    </a>


		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>




    <p>

        Wir wollen explizit nicht, dass der Name für Formate verwendet wird, auf denen sich Tech-Giganten einkaufen können und auf denen Politiker*innen Raum bekommen, für sich und ihre Partei zu werben statt ernsthaft zu diskutieren. 
        Diese Gruppen haben genug andere Möglichkeiten, sich Gehör zu verschaffen, sind aber als mitdenkende Besucher*innen freilich stets willkommen.
        Wir wollen mit allen an diesem Ziel arbeiten, die sich mit ganzem Herzen einer für alle lebenswerten materiellen und immateriellen Welt verschrieben haben.
    </p>
    <p>
        Wenn ihr Anregungen braucht oder hilfreiche Informationen bei uns vermutet, dann meldet euch gerne unter <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a>.
    </p>

</section>
