---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
---

<section class="max-w-3xl">
	<h1>Community</h1>
	<p>to be done</p>
</section>
