---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/community/
---

<section class="max-w-3xl">
	<h2>Werde Teil der Bits & Bäume Community</h2>
	Hier findest du einige Möglichkeiten um dich mit der Bits & Bäume Community zu vernetzen und Teil unserer Bewegung zu werden oder etwas eigenes zu starten!
	<div class="box box-cta">
		<ul>
		<li><a href="{{ site.url }}/community/regionale-zweige/"><span>schließ dich einem <b>Regionalen Zweig</b> an,</span></a></li>
		<li><a href="{{ site.url }}/community/eigenen-regionalzweig-gruenden/"><span>oder gründe einen <b>eigenen Zweig</b></span></a></li>
		<li><a href="https://lists.bits-und-baeume.org/postorius/lists/community.lists.bits-und-baeume.org/">werde Teil der <b>Community Mailingliste</b></a></li>
		<li><a href="/newsletter/">abonniere unser <b>Newsletter</b></a></li>
		<li><a href="{{ site.url }}/termine/"><span>Besuche unser monatliches <b>Online-Treffen</b></span></a></li>

		<li><a href="https://matrix.to/#/#bitsundbaeume:matrix.org">Schreib mit uns im <b>Community-Matrix-Chat</b></a></li>
		<li><a href="https://mastodon.bits-und-baeume.org/@bits_und_baeume">Folge uns auf <b>Mastodon</b></a></li>
		<li><a href="https://discourse.bits-und-baeume.org"><span>Diskutiere mit uns in unserem <b>Discourse</b></span></a></li>
		<li><a href="{{ site.url }}/termine/"><span>finde Events im <b>Kalender</b></span></a></li>
		<br>
<a href="{{ site.url }}/kontakt/"><span>... oder schreib uns einfach!</span></a>
		</ul>

		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>




</section>
