---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/community/
---

<section class="max-w-3xl">
	<h2>Bits & Bäume
	Community beitreten</h2> 
	Hier findest du einige Möglichkeiten um dich mit der Bits und Bäume Community zu vernetzen und ein Teil unserer Bewegung zu werden!
	<div class="box box-cta">
		<ul>
		<li><a href="{{ site.url }}/community/regionale-zweige/"><span>Regionale Zweige</span></a></li>
		<li><a href="https://wiki.bits-und-baeume.org/community-treffen/"><span>Regelmäßige Online-Treffen</span></a> (jeden 1. Donnerstag im Monat)</li>
		
		<li><a href="https://matrix.to/#/#bitsundbaeume:matrix.org">Community-Matrix-Chat</a></li>
		<li><a href="https://mastodon.bits-und-baeume.org/@bits_und_baeume">Community-Mastodon</a></li>
		<li><a href="https://discourse.bits-und-baeume.org"><span>Discourse (Diskussionsforum)</span></a></li>
		<li><a href="https://lists.bits-und-baeume.org/postorius/lists/community.lists.bits-und-baeume.org/">Mailingliste</a></li>
		</ul>

		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>




</section>
