---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/community/regional-branches/
---

<section class="max-w-3xl">
	<h1>Regionale Zweige</h1>
	<p>
		Die Bits&Bäume-Community wächst! Es gibt regionale Zweige mit unterschiedlichen Aktivitäten und Formaten: Stammtische zum 
		Diskutieren, Gruppen die Abendformate mit Vorträgen organisieren, oder sogar eigene Konferenzen. Vieles ist möglich!
		</p>
		
		<p>Du willst dich einem Zweig anschließen?<br>
		<a href="mailto:info@bits-und-baeume.org?subject=Regionalzweige"><button class="btn-dark">Schreib uns!</button></a>
		</p>
		<p>Deine Stadt oder deine Region ist hier nicht zu finden?<br>
		<a href="/community/eigenen-regionalzweig-gruenden"><button class="btn-dark">lass einen eigenen Zweig wachsen!</button></a>
		<p>	
		
</p>
	{% for item in content.zweige.items %}
	<div class="box {{ item.style }}">
		{% if item.url %}
		<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
		{% else %}
		<h3>{{ item.name }}</h3>
		{% endif%}
		<p>{{ item.content | safe }}</p>
		<div class="box__pixel">
			<img src="{{ item.pixel }}" alt="box" width="50" height="50">
		</div>
	</div>
	{% endfor %}


</section>

