---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/ueber-uns/
---


<section class="max-w-5xl">
	<h1>Über uns</h1>

	<h3>Our story</h3>

	
	<p>At the beginning of 2018, seven NGOs from the field of sustainability and three civil society organisations  from the field of network policy joined together to organise  a large-scale conference called Bits & Bäume. The main topics were the material basis of digitalisation, environmental and network policy, digital infrastructures and fundamental questions, for example on democratic societies in the digital age </p>

	<p>
		The two-day conference, which took place on 17 and 18 November at the Technical University (TU) Berlin  attracted around 2,000 participants, encompassed nearly 200 contributions and generated over 17,000 views of the video recordings. It offered events on five stages, eleven additional rooms, more than 120 international panels, hands-on workshops and a philosophical parlour . In addition, there were artistic performances, meeting spaces, interactive exhibition formats, and an evening and social programme with concerts and aperitifs.
	
	</p>

	<p>
		The conference created a common understanding of how digitalisation can be designed to contribute to the welfare of the community and peace, take data protection seriously, and promote social and ecological goals equally.

	
	</p>

	<p>

		At the Bits & Bäume conference 2018, the panel of supporters (Trägerkreis)  developed eleven political demands to push for necessary changes. As a follow-up to the conference, the book "Was Bits und Bäume verbindet" (en: What connect Bits and Trees ) was published in 2019. The book collects debate contributions from the first Bits & Bäume conference and develops them further. In doing so, it brings together diverse perspectives on our digital future. The contributions highlight, for example, the effects of our digital consumption on  the Global South, the sustainable use of data, and  the risks and potentials of a digitalised economic system.


	</p>

	<p>

		2018 was the first time that  civil society organisations from the digital and sustainability scenes worked together on such a scale. Today, the Bits & Bäume movement also includes regional subgroups in eight major cities/regions and a large online community. The regional groups organise  their own events, meet for round tables and engage in promoting sustainable digitalisation in a wide variety of ways. 

	</p>
	
	<p>
		2018 was the first time that  civil society organisations from the digital and sustainability scenes worked together on such a scale. Today, the Bits & Bäume movement also includes regional subgroups in eight major cities/regions and a large online community. The regional groups organise  their own events, meet for round tables and engage in promoting sustainable digitalisation in a wide variety of ways. 

	</p>


	<h3> <b>How is the Bits & Bäume 2022 Conference organised?
	</b> </h3>

	<p>Open, participatory, voluntary!
	</p>
	
	<p>In order to distribute specific tasks as efficiently as possible amongst the many involved parties, the panel of supporters (Trägerkreis, TK) of the conference has developed an organisational model (orgamodel). It is based on a split of the operational work between different working groups (AGs) and the coordination of this work by a conference office (KB).
	</p>

	<p>
		Members of the TK, the KB and volunteers from the Bits & Bäume community participate in the AGs. All people working in AGs or in the KB act as an “Orgakreis” and meet regularly in a plenum to keep each other up-to-date and make bigger operational decisions together. The framework for the work of the Orgakreis is set by the TK, in the form of guidelines and assignments. To guide the organisation of the conference, the TK meets regularly with the KB.

	</p>

	<p>
		Members of the TK, the KB and volunteers from the Bits & Bäume community participate in the AGs. All people working in AGs or in the KB act as an “Orgakreis” and meet regularly in a plenum to keep each other up-to-date and make bigger operational decisions together. The framework for the work of the Orgakreis is set by the TK, in the form of guidelines and assignments. To guide the organisation of the conference, the TK meets regularly with the KB.
	</p>


	

	<h3>Der Trägerkreis</h3>

	<p>Im Jahr 2022 richten 13 Organisationen aus Umweltschutz, Digitalpolitik, Entwicklungspolitik 
	und Wissenschaft gemeinsam mit einer engagierten Community die zweite Konferenz für Digitalisierung 
	und Nachhaltigkeit Bits & Bäume aus. Denn wir sind überzeugt: Es braucht politische Veränderungen, 
	damit die Digitalisierung besser zum drängenden sozialen und ökologischen Wandel beiträgt.</p>
    
	<p>Uns vereint ein integratives Verständnis von Nachhaltigkeit sowie der Wille, 
	eine Zukunft zu gestalten, in der der digitale Wandel eine positive Rolle einnimmt und Mensch, 
	Lebensgrundlagen und Umwelt unterstützt und schützt.</p>

		
	{% for item in content.traegerinnen_english.items %}
	<div class="box box-orga">
		<div class="image">
			<a href="{{ item.url }}"><img src="{{ item.image }}" alt="Logo von {{ item.name }}" > </a>
		</div>
		<div class="text">
			<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
			<p>{{ item.content | safe }}</p>
		</div>
	</div>
	{% endfor %}

	

	<h3>Das Konferenzbüro</h3>

	<p>Das Konferenzbüro (kurz auch „KB“) steht im Zentrum des organisatorischen Prozesses: es ist für die 
	Choreographie des gesamten OK und die Einhaltung der Leitplanken aus dem TK zuständig. 
	Das Büro ist also die Schnittstelle zwischen TK und OK. Um den notwendigen Informationsfluss 
	aufrechtzuerhalten, beteiligen sich die KB-Mitarbeiterinnen an allen Strukturen. 
	Das heißt beispielsweise, dass das KB sowohl bei Sitzungen des TK als auch in jeder AG vertreten ist.</p>

	<p>Das KB wird vertreten durch Jasmin, Leah und Lena. Jasmin ist schon seit geraumer Zeit in der 
	Eventbranche unterwegs und koordiniert bei der Bits & Bäume 2022 die Arbeitsgruppen Öffentlichkeitsarbeit, 
	Kultur und Logistik. Leah hat einen Background in Politikwissenschaften und IT und behält den Überblick über 
	alle Prozesse, die das Bits & Bäume Forum und die Care AG betreffen und sich rund um IT-Themen im Vorfeld und 
	auf der Konferenz drehen. Lena hat kürzlich ihren Master in Internationale Studien und Development Studies beendet 
	und koordiniert die Treffen der Programm AG. Lena und Jasmin setzen sich zudem für ein Awareness-Konzept auf der 
	Konferenz ein. Weiterhin bereiten die drei die regelmäßigen Treffen des TK und OK vor.</p>
	
	<p>Du hast Fragen an das Konferenzbüro? Schreib uns unter info@bits-und-baeume.org.</p>

	<h3>Unsere Ehrenamtlichen</h3>

	<p>Ohne die engagierte Unterstützung durch Ehrenamtliche aus den Trägerkreis-Organisationen 
	und aus der Bits & Bäume-Community könnten wir die Konferenz 2022 nicht auf die Beine stellen. 
	Die Ehrenamtlichen bringen ihre Expertise und Interessen in den verschiedenen AGs ein und gestalten 
	so die Konferenz von Anfang an mit. Auch während der Konferenz werden viele Ehrenamtliche vor Ort sein und 
	uns bei allen möglichen Aufgaben unterstützen – vom Gemüseschnippeln in der Küche, über die Betreuung von 
	(internationalen) Referierenden, der Umsetzung eines Awarenesskonzepts vor Ort bis zum Auf- und Abbau. 
	Wir brauchen noch viele helfende Hände und Köpfe – schau doch mal HIER  vorbei, wenn du dich bei der 
	Gestaltung und Durchführung der Konferenz einbringen möchtest!
	</p>



</section>

