---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/ueber-uns/
---


<section class="max-w-3xl">
	<h3>Bits & Bäume-Conference 2022</h3>

	<h3>Our story</h3>


	<p>At the beginning of 2018, seven NGOs from the field of sustainability
		and three civil society organisations  from the field of network policy joined together to organise  a large-scale conference called Bits & Bäume. The main topics were the material basis of digitalisation, environmental and network policy, digital infrastructures and fundamental questions, for example on democratic societies in the digital age </p>

	<p>
		The two-day conference, which took place on 17 and 18 November at the Technical University (TU) Berlin  attracted around 2,000 participants, encompassed nearly 200 contributions and generated over 17,000 views of the video recordings. It offered events on five stages, eleven additional rooms, more than 120 international panels, hands-on workshops and a philosophical parlour . In addition, there were artistic performances, meeting spaces, interactive exhibition formats, and an evening and social programme with concerts and aperitifs.

	</p>

	<p>
		The conference created a common understanding of
		how digitalisation can be designed to contribute to the welfare of the
		community and peace, take data protection seriously, and promote social and ecological goals equally.


	</p>

	<p>

		At the Bits & Bäume conference 2018, the panel of
		 supporters (Trägerkreis) developed eleven <a href="/en/conference-2018/demands">political demands</a>
		  to push for necessary changes. As a follow-up to the conference,
		   the book <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">"Was Bits und Bäume verbindet"</a> (en: What connect Bits and Trees )
		    was published in 2019. The book collects debate contributions from the first Bits & Bäume conference and develops them further. In doing so, it brings together diverse perspectives on our digital future. The contributions highlight, for example, the effects of our digital consumption on  the Global South, the sustainable use of data, and  the risks and potentials of a digitalised economic system.


	</p>

	<p>

		2018 was the first time that  civil society organisations
		from the digital and sustainability scenes worked together on such a scale.
		Today, the Bits & Bäume movement also includes  <a href="/en/community/regional-branches/">regional subgroups </a> in eight
		 major cities/regions and a large <a href="https://wiki.bits-und-baeume.org/struktur-der-bewegung/"> online community</a>.
		  The <a href="/en/community/regional-branches/">regional groups </a> organise
		  their own events, meet for round tables and engage in
		  promoting sustainable digitalisation in a wide variety of ways.

	</p>

	<p>
		2018 was the first time that  civil society organisations from the digital and sustainability scenes worked together on such a scale. Today, the Bits & Bäume movement also includes regional subgroups in eight major cities/regions and a large online community. The regional groups organise  their own events, meet for round tables and engage in promoting sustainable digitalisation in a wide variety of ways.

	</p>


	<h3> <b>How is the Bits & Bäume 2022 Conference organised?
	</b> </h3>

	<p>Open, participatory, voluntary!
	</p>

	<p>In order to distribute specific tasks as efficiently as possible amongst the many involved parties, the panel of supporters (Trägerkreis, TK) of the conference has developed an organisational model (orgamodel). It is based on a split of the operational work between different working groups (AGs) and the coordination of this work by a conference office (KB).
	</p>

	<p>
		Members of the TK, the KB and volunteers from the Bits & Bäume community participate in the AGs. All people working in AGs or in the KB act as an “Orgakreis” and meet regularly in a plenum to keep each other up-to-date and make bigger operational decisions together. The framework for the work of the Orgakreis is set by the TK, in the form of guidelines and assignments. To guide the organisation of the conference, the TK meets regularly with the KB.

	</p>

	<p>
		This model makes it possible for many volunteers (both from TK organisations and other interested parties, for example from the growing Bits & Bäume community) to participate in organising the conference.

	</p>
</section>

<section class="max-w-3xl">
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="/assets/images/Graphik_Orgamodell_18.4.22.png"
				alt="Sprecher mit Mikrofon"
			>
		<!--		sizes="(min-width: 780px) 280px, 93.04vw"
				data-img2picture-widths="280,400,670,800"
		-->
		</div>
	</div>
</section>

<section class="max-w-3xl">



	<h3>The Panel of Supporters (Trägerkreis, TK)
	</h3>

	<p>Thirteen organisations from the fields of environmental protection, science, digital and development politics, alongside with an active community of supporters are organising a second edition of the Bits & Bäume Conference for Digitalisation and Sustainability in 2022. We are convinced that we need political change to ensure that digitalisation contributes more to addressing the social and ecological challenges of our time.
	</p>

	<p>We are united by our understanding of sustainability as integrative and by our commitment to build a future in which the digital transformation plays a positive role and protects and supports people, livelihoods, and the environment.
	</p>


	{% for item in content.traegerinnen_english.items %}
	<div class="box box-orga">
		<div class="image">
			<a href="{{ item.url }}"><img src="{{ item.image }}" alt="Logo von {{ item.name }}" > </a>
		</div>
		<div class="text">
			<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
			<p>{{ item.content | safe }}</p>
		</div>
	</div>
	{% endfor %}



	<h3>The Conference Office
	</h3>

	<p>The conference office (KB) sits at the centre of the organisational process: it is responsible for the choreography of the entire „Orgakreis“ and ensures that the TK guidelines are complied with. The office is the link between TK and „Orgakreis“. To maintain the necessary flow of information, the KB staff participates in all organisational structures. This means that the KB is represented at all TK meetings as well as in every AG.
	</p>

	<p>The KB consists of Jasmin, Leah and Lena. Jasmin has been working in the event industry for quite some time and coordinates the PR, culture and logistics at Bits & Bäume 2022. Leah has a background in political science and IT and keeps track of all processes concerning the Bits & Bäume Forum and Care AG and all topics revolving around IT in the run-up to and at the conference. Lena recently finished her Master in International and Development Studies and coordinates the meetings of the Programme working group. Lena and Jasmin are also working on an awareness concept for the conference. Furthermore, the three of them prepare the regular meetings of the TK and „Orgakreis“.
	</p>

	<p>Would you like to contact the conference office? Please email us at <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a>.
	</p>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image w-full ">
			<img class="object-cover"
				src="/assets/images/Konferenzbuero.jpg"
				alt="Jasmin, Leah and Lena (conference office)"
			>
		</div>
	</div>

	<h3>Our Volunteers
	</h3>

	<p>
		Without the dedicated support of volunteers from the TK organisations and
		the Bits & Bäume community, we would not be able to organise the 2022
		conference. Volunteers contribute their expertise and interests to the
		various working groups and thus help shape the conference from the very
		 beginning. Also during the conference, many volunteers will be on site and
		  support us with a variety of tasks - from chopping vegetables in the kitchen, assisting
		  (international) speakers, implementing an awareness concept on site to tasks such as setting up and dismantling.
		  We still need many helping hands – please check <a href="/conference-2022/join/">here</a> if you would like to
		  get involved in the organisation and implementation of the conference!

	</p>



</section>

