---
title: Bits & Bäume Conference 2022 - Awareness Concept
layout: layouts/_base.ejs
metatitle: Bits & Bäume Conference 2022 - Awareness Concept
description: Bits & Bäume Conference 2022 - Awareness Concept
lang: en
translation: /konferenz-2022/awareness/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume Conference 2022</h3>
	<h1>Awareness Concept</h1>

</section>

<section class="accordion max-w-3xl">
	<div>
		<p>
		We are currently working on our awareness concept and will publish it before the conference. It is important to us to enable all participants to attend the conference in a safe and relaxed manner, even though we are aware that there can be no accessibility, only barrier-free access. Our awareness concept will be prominently displayed during the conference. In addition, there will be an awareness team on site that can be contacted at any time and provide support.
		</p>
	</div>
</section>

