---
title: Demands
metatitle: Demands of the Bits & Bäume Conference 2022
description: Here you can find the demands of the Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/forderungen/
layout: layouts/_base.ejs

---


<section class="max-w-3xl">
	<h3>Bits & Bäume-Conference 2022</h3>
    <h1>Demands</h1>

	<div class="box box-cta">
		<h2 class="h3">Demands 2022</h2>
		<p>
           Under the heading <b>Making digitalisation sustainable and fit for the future</b>
 we – 13 organisations from the fields of environmental protection, digital policy, development policy and science – make our political demands.
        </p>
		<a href="/assets/images/pdfs/Bits_und_Baeume_Politische_Forderungen_deutsch.pdf">
		<button class="btn-dark">Political demands 2022 <span style="font-size:75%;">(German version; English version currently in layout)</span></button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>
	<div class="box box-infos">
		<h2 class="h3">Demands 2018</h2>
		<p><a href="/en/conference-2018/demands/">Here</a> you can find our demands of 2018 and you can buy the book <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">here</a> or download it for free.

		</p>
		<a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">
		<button class="btn-dark">To the book</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

</section>
