---
title: Demands
metatitle: Demands of the Bits & Bäume Conference 2022
description: Here you can find the demands of the Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/forderungen/
layout: layouts/_base.ejs

---


<section class="max-w-3xl">
	<h3>Bits & Bäume-Conference 2022</h3>
    <h1>Demands</h1>

	<div class="box box-cta">
		<h2 class="h3">Demands 2022</h2>
		<p>
           We demand: Digitalisation must increasingly be put into the service of society and of a sustainable socio-ecological transformation. Digital technologies should contribute to the improvement of living conditions and of the environment through equal social participation and while respecting planetary boundaries, instead of exacerbating already existing crises through exploding energy and resource consumption and a lack of consideration of the Global South. With this call, thirteen organisations from the fields of environmental protection, digital politics, development cooperation, and science are addressing the German government, the European Union and political actors worldwide. On the occasion of the Conference for Digitalisation and Sustainability "Bits & Bäume" 2022 we are releasing more than 60 political demands grouped in five subject areas.
        </p>
		<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
			<div class="box__image w-full ">
				<a href="{{ site.url }}/assets/images/pdfs/Bits_und_Baeume_Political_Demands_english.pdf">
				<img class="object-cover"
					src="/assets/images/demands2022-page1.jpg"
					alt="Demands page 1"
				>
			<!--		sizes="(min-width: 780px) 280px, 100vw"
					data-img2picture-widths="280,400,670,800"
			-->
				</a>
			</div>
		</div>
		<a href="{{ site.url }}/assets/images/pdfs/Bits_und_Baeume_Political_Demands_english.pdf">
			<button class="btn-dark">Political demands (PDF)</button>
		</a>
		<a href="{{ site.url }}/en/conference-2022/demands/#heading">
			<button class="btn-dark">Political demands (HTML)</button>
		</a>

		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>
	<div class="box box-infos">
		<h2 class="h3">Demands 2018</h2>
		<p><a href="{{ site.url }}/en/conference-2018/demands/">Here</a> you can find our demands of 2018 and you can buy the book <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">here</a> or download it for free.

		</p>
		<a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">
		<button class="btn-dark">To the book</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>


{# Hier beginnen die Forderungen als HTML. ggf. sollten die auf eine eigene Seite ausgelagert werden#}

<section id="heading" class="max-w-3xl">
<p>
<b>Making digitalisation sustainable and fit for the future</b><br>
Political Demands Bits &amp; Bäume 2022
</p>
</section>


<section class="max-w-3xl">
	<h2 id="preamble">{{ content.forderungen2022_english.preamble.name }}</h2>
	<div class="demands-fulltext">
		<p>{{ content.forderungen2022_english.preamble.content | safe }}</p>
	</div>
</section>


<section class="max-w-3xl">
	<h2>Demands 2022 (Short Version)</h2>

	{% for item in content.forderungen2022_english.items %}
	<div class="demands-fulltext">
		<h3><a href="#demand-{{ item.numeric_label }}">{{ item.numeric_label }} {{ item.name }}</a></h3>
		<p>{{ item.summary | safe }}</p>
		{% for subdemand in item.subdemands %}
			<p><b>{{ subdemand.numeric_label}} {{ subdemand.short_version | safe }}</b></p>
		{% endfor %}
	</div>
	{% endfor %}
</section>

<section class="max-w-3xl">
	<h2>Demands 2022 (Full Version)</h2>

	{% for item in content.forderungen2022_english.items %}
	<div class="demands-fulltext">
		<h3 id="demand-{{ item.numeric_label }}">{{ item.numeric_label }} {{ item.name }}</h3>
		<p>{{ item.summary | safe }}</p>
		{% for subdemand in item.subdemands %}
			<p><b>{{ subdemand.numeric_label}} {{ subdemand.short_version | safe }}</b></p>
			{% for subsubdemand in subdemand.subsubdemands %}
				<p>{{ subdemand.numeric_label}}{{loop.index}}. {{ subsubdemand | safe }}</p>
			{% endfor %}
		{% endfor %}
	</div>
	{% endfor %}
</section>

