---
title: Demands
metatitle: Demands of the Bits & Bäume Conference 2022
description: Here you can find the demands of the Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/forderungen/
layout: layouts/_base.ejs

---


<section class="max-w-3xl">
	<h3>Bits & Bäume-Conference 2022</h3>
    <h1>Demands</h1>

	<div class="box box-cta">
		<h2 class="h3">Demands 2022</h2>
		<p>
           We demand: Digitalization must be put more at the service of society and social and ecological change. Digital technologies should contribute to the improvement of living conditions and the environment through equal social participation and within planetary boundaries, instead of further aggravate existing crises through exploding energy demand, resource consumption and lack of participation, especially in the Global South. <b>With this appeal, 13 organizations from the fields of environmental protection, nature conservation, digital policy, development cooperation and science are addressing the German government, the European Union and political actors worldwide.</b> On the occasion of the conference for digitalization and sustainability "Bits & Bäume" 2022, we publish more than 60 demands in five topics.
        </p>
		<a href="/assets/images/pdfs/Bits_und_Baeume_Politische_Forderungen_deutsch.pdf">
		<button class="btn-dark">Political demands<span style="font-size:75%;">(German version; English version currently in layout)</span></button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>
	<div class="box box-infos">
		<h2 class="h3">Demands 2018</h2>
		<p><a href="/en/conference-2018/demands/">Here</a> you can find our demands of 2018 and you can buy the book <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">here</a> or download it for free.

		</p>
		<a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">
		<button class="btn-dark">To the book</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

</section>
