---
title: Bits & Bäume 2022 - Call for Feedback
description: Questionnaire (anonymous) about your motivation and satisfaction with the conference
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/feedback/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume Conference 2022</h3>
	<h1>Call for Feedback</h1>
	<p>Dear Bits, dear Trees,
	<br>
	<br>
	it's been wonderful 2.5 days with you! While the last participants are still meeting and/or dancing, we are already super curious about your feedback! Please take 10 minutes to fill in our questionnaire about your motivation and satisfaction with the conference (anonymously). Thank you for your help and this magical time! Your Bits& Bäume conference team
	</p>


	<a href="https://ww3.unipark.de/uc/BitsBaeumeEN22/">
					<button class="btn-dark">Take survey</button>
	</a>


</section>



