---
title: Bits & Bäume 2022 - Gallery
description: Visual impressions from the conference
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/gallerie-presse/
---

<section id="gallery" class="container">
	<h2 class="h3">Bits & Bäume 2022 Press Photos </h2>
	All photos are under CC-BY 4.0 license. For the creator see the respective filename.
	<div class="gallery__thumbnails flex flex-wrap">
		{% for img in galleries.presse2022 %}
		<div class="gallery__thumb">
			<a href="/en/conference-2022/gallery-press/{{ img.path | basefilename }}">
				<div class="wrapper">
					<img class="object-cover"
						src="{{img.tn_path}}"
						title="{{ img.path | basefilename }}"
						alt="{{ img.alt }}"
						sizes="(min-width: 1540px) 375px, 283px"
						data-img2picture-widths="283,375,566,750"
						>
					<div class="overlay">
						<div class="symbol">+</div>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</section>


