---
title: Conference 2022
metatitle: Page of the Bits & Bäume Conference 2022
description: Here you can find information of the Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/
---

