---
title: Join the conference!
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/mach-mit/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Conference 2022</h3>
	<h1>Join!</h1>

    <div class="box box-cta">
        <h2 class="h3">Join the team</h2>
        <p>You are a communication genius and know how to activate people or media makers tick? Our public relations team is looking for reinforcement at short notice to make the conference burst at the seams! Join our team and go full throttle right away! (fee/contract basis)</p>
        <a href="/assets/images/pdfs/Mitarbeit_Presse_und_Öffentlichkeitsarbeit.pdf">
            <button class="btn-dark">To the announcement</button>
        </a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>
	
	<h3>Call for Action in conference planing</h3>

	<p>
        In our Call for Action we are encouraging all those who are interested in helping with planning and organising the conference to get involved. We are still in need of helping hands and heads. It will be a colourful, exciting and transformative experience!

    </p>

	<div class="box box-infos">
		<h2 class="h3">We are looking for</h2>
		<ul>
			<li>people with organisational skills or knowledge of media work</li>
			<li>people with an affinity for technology or people who can create a good atmosphere
            </li>
			<li>people who know how to make big events more inclusive
            </li>
			<li>(aspiring) sustainability or digitalisation experts  </li>
		</ul>
		<a href="/assets/images/pdfs/Call_for_Action_neu_english.pdf">
			<button class="btn-dark">Call for Action</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

	<p>
        Become part of one of the working groups (AGs) and contribute your ideas, knowledge and capacities. 
        Contact us at <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a> with a few sentences about yourself and your interests. If you have an AG that you are especially interested in, please mention it in the subject line.

	</p>


	<h3>Call for Angels/Engel at the Conference </h3>

	<p>
        To make the Bits & Bäume 2022 conference a big and successful event, 
        we need your help! There is much to do and tasks range from helping with 
        setting up (and dismantling) the equipment to chopping up vegetables in 
        the kitchen, looking after our (international) speakers and helping to 
        implement our awareness strategy. Are you ready to become part of our team? 
        Then sign up for one or more shifts via our

        <a href="https://engelsystem.de/bub/login">Engelsystem</a>. 
	</p>

	<p>
	<b>
        As a thank you for your time and effort, you will get not just a 
        look behind-the-scenes of Bits & Bäume, but also free entry to the 
        conference on all three days, free meals and of course lots of fun memories!

    </b></p>
	<p>We are looking forward to hearing from you!
    </p>

	<div class="box box-links">
	<!--	<h2 class="h3">Dies ist ein Kasten mit Links/Downloads</h2> -->
    <p>There are many different ways to get involved in our community:</p>
    <ul>
			<li><a href="">in our community matrix</a></li>
			<li><a href="">in twitter</a></li>
			<li><a href="">or Mastodon</a></li>
			<li>or sign in our <a href="">newsletter</a></li>
		</ul>
		<a href="https://engelsystem.de/bub/login"><button class="btn-dark">Become angel at our conference</button></a>
		
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

</section>
