---
title: Bits & Bäume 2022 - Orientation Map
description: Here you can find a map of Bits & Bäume Conference 2022
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/karte/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume Conference 2022</h3>
	<h1>Orientation Map</h1>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/osm-karte.jpg" target="_blank">
				<img class="object-cover"
					src="/assets/images/karten/osm-karte.jpg"
					alt="overview map"
				>
			</a>
			(english map in preparation)
		</div>
	</div>


	<div>
		<a href="/assets/images/pdfs/Bits_und_Baeume_2022_Orientierungs_Karte.pdf">
		<button class="btn-dark">Map with single pages (1 MB PDF)</button>
		</a>
		<a href="/assets/images/pdfs/Bits_und_Baeume_2022_Orientierungs_Karte_onepager.pdf">
		<button class="btn-dark">Onepager with descriptions (1 MB PDF)</button>
		</a>

	</div>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_1.png" target="_blank">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_1.png"
					alt="map 1"
				>
			</a>
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_2.png" target="_blank">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_2.png"
					alt="map 2"
				>
			</a>
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_3.png" target="_blank">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_3.png"
					alt="map 3"
				>
			</a>
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_4.png" target="_blank">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_4.png"
					alt="map 4"
				>
			</a>
		</div>
	</div>


</section>



