---
title: Press
metatitle: Press of the Bits & Bäume Conference 2022
description: Here you can find the press of the Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/presse-22/
layout: layouts/_base.ejs
---

<section class="max-w-3xl">
	<h3>Bits & Bäume Conference 2022</h3>
    <h1>Press</h1>

	<div class="box box-infos">

		<h2 class="h3">Press Releases (DE)</h2>
			<ul>

			<li><b>05.10.2022: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_221005.pdf">Für eine nachhaltige Digitalisierung: 2.500 Teilnehmer*innen auf der Konferenz „Bits & Bäume“</a></li>
			<li><b>05.09.2022: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_220901.pdf">Bündnis fordert von Politik: Digitalisierung muss sozial-ökologischem Wandel
dienen</a></li>
			<li><b>07.06.2022: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_7.6.22.pdf">Digitalisierung und Nachhaltigkeit zusammendenken – Zweite bundesweite Bits &
Bäume Konferenz vom 30. September bis 2. Oktober – Aufruf für Konferenzbeiträge</a></li>
        </ul>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-cta">
		<h2 class="h3">Press Review (DE)</h2>

		<ul>
		{% for item in content.pressespiegel.items %}
			<li>
				{{item.date}}: <a href="{{item.url}}">{{item.publisher}}: <i>{{ item.title }}</i></a>
			</li>
		{% endfor %}
		</ul>


		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>

	<div class="box box-info">
		<h2 class="h3">Photos from the Conference</h2>
		<p>There is a variety of free photos from the conference. Most of the photos were taken by <a href="https://www.stuffthathappens.de">Silke Mayer, (stuffthathappens.de)</a>, but also by Benjamin Kees and Christoph J. Kellner. The photos can be used according to Creative Commons – Attribution with proper credit to the author (as indicated in the filename).</p>

		<a href="https://cloud.bits-und-baeume.org/s/8cnrGf9wzjxqyFx" target="_blank">
			<button class="btn-dark">See the Photos</button>
		</a>

		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>

	<div class="box box-cta">
		<h2 class="h3">Press Kit</h2>
		<p>Our Press Kit contains information on accreditation, key contacts, the photo policy, and much more.
		</p>

		<a href="{{ site.url }}/assets/images/pdfs/Pressemappe-Bits-und-Baeume-2022.pdf">
			<button class="btn-dark">Pressemappe (PDF,DE)</button>
		</a>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>


