---
title: Programm
metatitle: Programm der Bits & Bäume Konferenz 2022
description: Hier findest Du das Programm der Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/programm/
layout: layouts/_base.ejs
---



<section class="max-w-3xl">
    <h3>Bits & Bäume-Conference 2022</h3>
    <h1>Program</h1>
    <p>
        Bits & Bäume 2022 covers topics at the intersection between the areas of sustainability and digitalisation. They range from interconnected mobility, the resource and energy consumption of digital devices, data sufficiency and cooperative platform economies to issues around smart energy grids and the tendency towards monopolisation in the digital economy.
    </p>

    <div class="box box-infos">
        <h2 class="h3">Together we want to discuss:
        </h2>
        <ul>
            <li>How can digitalisation be implemented for it to contribute to a sustainable and democratic transformation of society?
            </li>
            <li>How does a digitalized world that focuses on social, environmental and economic justice look like?</li>
            <li>What can the tech community (Bits) and social justice and environmental movements (Bäume) learn from each other? How can they, as part of civil society, interact with pioneering socio-ecologically responsible companies, as well as stakeholders from the fields of science and politics?
            </li>
            <li>How can we become involved politically as a group?
            </li>
        </ul>

        <br>
        <p>
        The diverse topics of the conference are structured into <b>thematic tracks</b>. To find out which ones exist and what their content is about, there is the following overview.
        </p>

        <a href="/assets/images/pdfs/Bits_und_Baeume_2022-Tracksuebersicht_en.pdf">
			<button class="btn-dark">Tracks overview (PDF)</button>
		</a>

        <div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
    </div>
</section>

<section class="max-w-3xl">
	<div class="box box-infos">
		<h2 class="h3">Program overview</h2>
		<p>You can find every talk, workshop, forum contributor and cultural program in our <b>Schedule</b>.
		</p>
		<a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/locale/set?locale=en&next=/bitsundbaeume/schedule/%3F">
			<button class="btn-dark">To schedule</button>
		</a>

		<p><br>Program Apps:
			<ul>
				<li><a href="https://f-droid.org/de/packages/info.metadude.android.bitsundbaeume.schedule/">
				f-droid.org/...
				</a>
				</li>
				<li><a href="https://play.google.com/store/apps/details?id=info.metadude.android.bitsundbaeume.schedule&gl=DE">
				play.google.com/...
				</a>
				</li>
				<li><a href="https://apps.apple.com/us/app/bits-b%C3%A4ume/id1441054315">
				apps.apple.com/...
				</a>
				</li>
			</ul>

		</p>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>
</section>


<section class="max-w-3xl">
	<div class="box box-blue">
		<h2 id="culture" class="h3">Culture and Party</h2>
		<h4><b>Friday</b></h4>
		<b>Ada</b>
		<ul>
		<li>20:30 – 22:00 <a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/talk/NJEGMW/">vollehalle 2022: "Auf der Suche nach dem Morgen" (de)</a></li>
		<li>22:00 – 22:45 <a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/talk/MPRHYP/">Esels Albtraum - the anticapitalist yodel duo</a></li>
		</ul>
		<h4><b>Saturday</b></h4>
		<b>Atrium</b>
		<ul>
		<li>21:00 – 22:00 TAP - Teatro dell'Arte Potsdam</li>
		<li>22:00 – 23:00 Ensemble Incroyable</li>
		<li>23:00 – 01:00 <a href="https://hearthis.at/tasmo">DJ Tasmo</a></li>
		</ul>

		<h4><b>Sunday</b></h4>

		<b>Lounge</b>
		<ul>
		<li>22:00 – 0:00 <a href="https://soundcloud.com/nathan_die_weise">Nathan die Weise </a></li>
		<li>00:00 – 01:30 <a href="https://soundcloud.com/femaleparanoia">Female paranoia </a></li>
		<li>01:30 – 03:00 Benks (Drum n Bass)</li>
		</ul>

		<b>Atrium</b>
		<ul>
		<li>21:15 – 22:00 Drag Show with <a href="https://www.instagram.com/jackyohweinhaus/?hl=de">Jacky-Oh Weinhaus </a></li>
		<li>22:00 – 00:00 Petra Pan 80's/90's</li>
		<li>00:00 – 01:00 <a href="https://rauschundrage.bandcamp.com/">rausch und rage </a></li>
		<li>01:00 – 03:00 <a href="https://soundcloud.com/lisa_tba">Lisa tba</a></li>
		<li>03:00 – 05:00 <a href="https://soundcloud.com/mischigirl">Smi </a></li>
		</ul>


		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>
</section>



<section class="tiles-section px-0 pt-24">
	<div class="wrapper relative bg-blue-light">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:mr-4 flex-1">
					<h2 class="h3">Program</h2>
                    <p>As part of a diverse program, we want to offer a variety of content and perspectives on topics at the intersection of sustainability and digitalisation. There are exciting talks, workshops and panel discussions for you to attend.
                    </p>
                    <!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Bits & Bäume Forum</h2>
					<p>
                       The Bits & Bäume Forum will offer plenty of networking opportunities. It aims to be a creative space for projects, organisations, networks and start-ups where they can present themselves and connect. There will be hackspaces, couch-corners, an open stage and so much more for you to explore.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:ml-4 flex-1">
					<h2 class="h3">Pitch & Thrive</h2>
                    <p>
                        We are also organising a green “shark tank” – sustainable and without cameras. At "Pitch & Thrive for Sustainability", start-ups and small and medium-sized enterprises (SMEs) show off their ideas in front of an expert jury and audience. They will receive valuable feedback and follow-up questions regarding the sustainability and economic viability of their project.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
            	<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Culture</h2>
					<p>
                        Of course we will also provide an exciting and varied cultural program, which includes music, readings, theatre performances and much more. We will kick things off with an epic performance by “vollehalle” on Friday night and finish on Sunday with an unforgettable party to celebrate the conference's completion.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
		</div>
		<div class="area__pixel">
			<img src="/assets/images/pixel-blue-area.svg" widht="60" height="60">
		</div>
	</div>
</section>


