---
title: Programm
metatitle: Programm der Bits & Bäume Konferenz 2022
description: Hier findest Du das Programm der Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/programm/
layout: layouts/_base.ejs
---



<section class="max-w-3xl">
    <h3>Bits & Bäume-Conference 2022</h3>
    <h1>Program</h1>
    <p>
        Bits & Bäume 2022 covers topics at the intersection between the areas of sustainability and digitalisation. They range from interconnected mobility, the resource and energy consumption of digital devices, data sufficiency and cooperative platform economies to issues around smart energy grids and the tendency towards monopolisation in the digital economy.
    </p>

    <div class="box box-infos">
        <h2 class="h3">Together we want to discuss:
        </h2>
        <ul>
            <li>How can digitalisation be implemented for it to contribute to a sustainable and democratic transformation of society?
            </li>
            <li>How does a digitalized world that focuses on social, environmental and economic justice look like?</li>
            <li>What can the tech community (Bits) and social justice and environmental movements (Bäume) learn from each other? How can they, as part of civil society, interact with pioneering socio-ecologically responsible companies, as well as stakeholders from the fields of science and politics?
            </li>
            <li>How can we become involved politically as a group?
            </li>
        </ul>
        <div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
    </div>
</section>

<section class="max-w-3xl">
	<div class="box box-infos">
		<h2 class="h3">Programme overview</h2>
		<p>You can find every talk, workshop, forum contributor and cultural programme in our <b>Schedule</b>.
		</p>
		<a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/locale/set?locale=en&next=/bitsundbaeume/schedule/%3F">
			<button class="btn-dark">To Schedule</button>
		</a>

		<p><br>Programme Apps:
			<ul>
				<li><a href="https://f-droid.org/de/packages/info.metadude.android.bitsundbaeume.schedule/">
				f-droid.org/...
				</a>
				</li>
				<li><a href="https://play.google.com/store/apps/details?id=info.metadude.android.bitsundbaeume.schedule&gl=DE">
				play.google.com/...
				</a>
				</li>
				<li><a href="https://apps.apple.com/us/app/bits-b%C3%A4ume/id1441054315">
				apps.apple.com/...
				</a>
				</li>
			</ul>

		</p>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>
</section>

<section class="tiles-section px-0 pt-24">
	<div class="wrapper relative bg-blue-light">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:mr-4 flex-1">
					<h2 class="h3">Programme</h2>
                    <p>As part of a diverse programme, we want to offer a variety of content and perspectives on topics at the intersection of sustainability and digitalisation. There are exciting talks, workshops and panel discussions for you to attend.
                    </p>
                    <!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Bits & Bäume Forum</h2>
					<p>
                       The Bits & Bäume Forum will offer plenty of networking opportunities. It aims to be a creative space for projects, organisations, networks and start-ups where they can present themselves and connect. There will be hackspaces, couch-corners, an open stage and so much more for you to explore.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:ml-4 flex-1">
					<h2 class="h3">Pitch & Thrive</h2>
                    <p>
                        We are also organising a green “shark tank” – sustainable and without cameras. At "Pitch & Thrive for Sustainability", start-ups and small and medium-sized enterprises (SMEs) show off their ideas in front of an expert jury and audience. They will receive valuable feedback and follow-up questions regarding the sustainability and economic viability of their project.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
            	<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Culture</h2>
					<p>
                        Of course we will also provide an exciting and varied cultural programme, which includes music, readings, theatre performances and much more. We will kick things off with an epic performance by “vollehalle” on Friday night and finish on Sunday with an unforgettable party to celebrate the conference's completion.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
		</div>
		<div class="area__pixel">
			<img src="/assets/images/pixel-blue-area.svg" widht="60" height="60">
		</div>
	</div>
</section>


