---
title: Programm
metatitle: Programm der Bits & Bäume Konferenz 2022
description: Hier findest Du das Programm der Bits & Bäume Konferenz 2022
lang: en
translation: /konferenz-2022/programm/
layout: layouts/_base.ejs
---



<section class="max-w-3xl">
    <h3>Bits & Bäume-Conference 2022</h3>
    <h1>Program</h1>
    <p>
        Bits & Bäume 2022 covers topics at the intersection between the areas of sustainability and digitalisation. They range from interconnected mobility, the resource and energy consumption of digital devices, data sufficiency and cooperative platform economies to issues around smart energy grids and the tendency towards monopolisation in the digital economy.
    </p>

    <div class="box box-infos">
        <h2 class="h3">Together we want to discuss:
        </h2>
        <ul>
            <li>How can digitalisation be shaped so that it contributes to a sustainable and democratic transformation of society?
            </li>
            <li>What does a globally, economically, socially and ecologically just future look like in the digitalised world?</li>
            <li>What can the tech community (Bits) and the social justice and environmental movement (Bäume) learn from each other? Moreover, how can they, as part of civil society, enter into dialogue with pioneering socio-ecologically responsible companies, as well as stakeholders from the fields of science and politics?
            </li>
            <li>How can we become politically active together?
            </li>
        </ul>
        <div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
    </div>
</section>

<section class="max-w-3xl">
	<div class="box box-infos">
		<h2 class="h3">Program overview</h2>
		<p>Alle Talks, workshops, forum contributors und cultural program you can find in our <b>Fahrplan</b> und später auch in den Apps. Hier der erste Entwurf, bei dem sich natürlich noch einiges ändern wird:</p>
		<a href="https://pretalx.com/bitsundbaeume/locale/set?locale=en&next=/bitsundbaeume/schedule/%3F">
			<button class="btn-dark">zum Fahrplan</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>
</section>	

<section class="tiles-section px-0 pt-24">
	<div class="wrapper relative bg-blue-light">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:mr-4 flex-1">
					<h2 class="h3">Programme</h2>
                    <p>As part of a diverse programme, we want to offer a variety of content and perspectives on topics at the intersection of sustainability and digitalisation. There are exciting talks, workshops and panel discussions for you to attend.
                    </p>
                    <!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Bits & Bäume Forum</h2>
					<p>
                        Additionally, the Bits & Bäume Forum offers plenty of networking opportunities. The Forum is a creative space for projects, organisations, networks and start-ups to present themselves and network. There will be hackspaces, info-sofas, open stages and much more for you to explore.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:ml-4 flex-1">
					<h2 class="h3">Pitch & Thrive</h2>
                    <p>
                        We are also organising a “shark tank” in green – sustainable and without cameras. At the Pitch & Thrive for Sustainability start-ups and small and medium-sized enterprises (SMEs) can present their ideas in front of an expert jury and the audience. They will receive valuable feedback and follow-up questions regarding the sustainability and economic viability of their project.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
            	<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Culture</h2>
					<p>
                        And of course we will also host an exciting and varied cultural programme, including music, readings, theatre performances and much more. We will kick things off with an epic performance by “vollehalle” on Friday night and will end the conference with a glorious closing party on Sunday.

                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
		</div>
		<div class="area__pixel">
			<img src="/assets/images/pixel-blue-area.svg" widht="60" height="60">
		</div>
	</div>
</section>

<section class="max-w-5xl">
   <p><b>The full programme will be available on our website shortly.
</b></p>
</section>
