---
title: Bits & Bäume 2022 - Livestream
description: Conference for Digitalization and Sustainability → Livestream
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenz-2022/streaming/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
  	<h1>Livestream</h1>
          
	<p>Almost all presentations of the conference (all ten lecture halls plus the forum studio) will be broadcast in real-time and will be available as recordings later on. There are some talks that explicitly do not want this, which you can see in the program in the respective talk descriptions by the symbol of a crossed out camera. The real-time broadcast will be available here from Friday afternoon:</p>
	<ul>
		<li><a href="https://streaming.media.ccc.de/bub2022">https://streaming.media.ccc.de/bub2022</a></li>
	</ul>
	
	<p>Until the start of the current conference you are welcome to watch the recordings of the 2018 conference: <a href="https://media.ccc.de/c/bub2018">https://media.ccc.de/c/bub2018</a></p>
	
	<p>All the tech wizardry is made possible by the <a href="https://c3voc.de/">c3voc</a> of the CCC, thanks so much.</p>

</section><section class="max-w-3xl">
