---
title: Bits & Bäume Konferenz 2022 - Awareness Konzept
description: Die Konferenz für Digitalisierung und Nachhaltigkeit
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/awareness/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Awareness Konzept</h1>

</section>

<section class="accordion max-w-3xl">
	<div>
		<p>
		Wir sind gerade bei der Ausarbeitung unseres Awareness-Konzepts und werden es im Vorfeld der Konferenz veröffentlichen. Es ist uns wichtig, allen Teilnehmenden einen sicheren und entspannten Besuch der Konferenz zu ermöglichen, auch wenn wir uns bewusst sind, dass es keine Barrierefreiheit, sondern nur Barrierearmut geben kann. Unser Awareness Konzept wird während der Konferenz prominent sichtbar aufgehängt. Außerdem wird es vor Ort ein Awareness-Team geben, das jeder Zeit ansprechbar ist und Unterstützung leisten kann.
		</p>
	</div>
</section>
