---
title: Bits & Bäume Konferenz 2022 - FAQs (Häufig gestellte Fragen)
description: Die Konferenz für Digitalisierung und Nachhaltigkeit
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/faqs/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Unsere FAQs</h1>

</section>

<section class="accordion max-w-3xl">
	<div>
		{% for item in content.faqs.items %}
		<details class="acc__detail">
			<summary class="acc__summary">
				<span class="acc__question">{{ item.name }}</span>
				<div class="acc__icon"></div>
			</summary>
			<div class="acc__text">{{ item.content | safe }}</div>
		</details>
		{% endfor %}
	</div>
</section>
