---
title: Bits & Bäume 2022 - Bitte um Feedback
description: Fragebogen (anonym) zu eurer Motivation und Zufriedenheit mit der Konferenz
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/feedback
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Bitte um Feedback</h1>


	<p>Liebe Bits, liebe Bäume,
	<br>
	<br>

	es waren wundervolle 2,5 Tage mit euch! Während die letzten noch tagen und vor allem feiern, sind wir schon super neugierig auf euer Feedback! Bitte nehmt euch 10min Zeit, um unseren Fragebogen zu eurer Motivation und Zufriedenheit mit der Konferenz (anonym) auszufüllen. Danke für eure Mithilfe und diese magische Zeit!

	<br>
	<br>
	Euer Bits &amp; Bäume Konferenzteam
	<br>
	<br>

	<a href="https://ww3.unipark.de/uc/BitsBaeume22/">
					<button class="btn-dark">Zur Umfrage</button>
	</a>



</section>



