---
title: Forderungen 2022
metatitle: Forderungen der Bits & Bäume Konferenz 2022
description: Hier findest Du die Forderungen der Bits & Bäume Konferenz 2022
layout: layouts/_base.ejs
lang: de
translation: /en/conference-2022/demands/
---


<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
    <h1>Forderungen</h1>

	<div class="box box-cta">
		<h2 class="h3">Forderungen 2022</h2>
		<p>Wir fordern: Die Digitalisierung muss stärker in den Dienst der Gesellschaft und des sozialen und ökologischen Wandels gestellt werden. Digitale Technologien sollten durch gleichberechtigte gesellschaftliche Teilhabe und innerhalb der planetaren Grenzen zur Verbesserung von Lebensbedingungen und der Umwelt beitragen, anstatt durch explodierenden Energiebedarf, Ressourcenverbrauch und mangelnde Teilhabe vor allem des Globalen Südens existierende Krisen noch weiter zu verschärfen. <b>Mit diesem Appell wenden sich 13 Organisationen aus Umwelt- und Naturschutz, Digitalpolitik, Entwicklungszusammenarbeit und Wissenschaft an die Bundesregierung, die Europäische Union und politische Akteure weltweit.</b> Anlässlich der Konferenz für Digitalisierung und Nachhaltigkeit „Bits & Bäume“ 2022 veröffentlichen wir mehr als 60 Forderungen in fünf Themenbereichen.
		</p>
		<a href="/assets/images/pdfs/Bits_und_Baeume_Politische_Forderungen_deutsch.pdf">
		<button class="btn-dark">Zu den Forderungen</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Forderungen 2018</h2>
		<p>Unsere Forderungen von 2018 sind <a href="/konferenz-2018/forderungen/">hier</a> zu finden. Das dazugehörige Buch kann beim Verlag erworben oder kostenlos heruntergeladen werden.
		</p>
		<a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">
		<button class="btn-dark">Zum Buch</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

</section>



<!--<section class="max-w-3xl">
	<h1>Forderungen 2022</h1>
	<p>to be done</p>

	{% for item in content.forderungen2022.items %}
	<div class="box box-cta">
		<h3><a href="{{ item.url }}">{{ item.name }}</a></h3>
		<p>{{ item.content | safe }}</p>
	</div>
	{% endfor %}
</section>-->
