---
title: Forderungen 2022
metatitle: Forderungen der Bits & Bäume Konferenz 2022
description: Hier findest Du die Forderungen der Bits & Bäume Konferenz 2022
lang: de
translation: /en/conference-2022/demands/
---



<section class="max-w-3xl">
	<h1>Forderungen 2022</h1>
	<p>to be done</p>

	{% for item in content.forderungen2022.items %}
	<div class="box box-cta">
		<h3><a href="{{ item.url }}">{{ item.name }}</a></h3>
		<p>{{ item.content | safe }}</p>
	</div>
	{% endfor %}
</section>