---
title: Bits & Bäume 2022 - Orientierungskarte
description: Die Konferenz für Digitalisierung und Nachhaltigkeit → Orientierungskarte
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/map
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Orientierungskarte</h1>

</section>

<section class="accordion max-w-3xl">
	<div>
		<a href="/assets/images/pdfs/Bits_und_Baeume_2022_Orientierungs_Karte.pdf">
		<button class="btn-dark">Karte mit Einzelseiten (1 MB PDF)</button>
		</a>
		<a href="/assets/images/pdfs/Bits_und_Baeume_2022_Orientierungs_Karte_onepager.pdf">
		<button class="btn-dark">Karte Überblick und Beschreibungen auf einer Seite (1 MB PDF)</button>
		</a>

	</div>


</section>

<section class="accordion max-w-3xl">


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_1.png">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_1.png"
					alt="Karte 1"
				>
			</a>
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_2.png">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_2.png"
					alt="Karte 2"
				>
			</a>
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_3.png">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_3.png"
					alt="Karte 3"
				>
			</a>
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_4.png">
				<img class="object-cover"
					src="/assets/images/karten/Bits_und_Baeume_2022_Orientierungs_Karte_4.png"
					alt="Karte 4"
				>
			</a>
		</div>
	</div>

</section>



