---
title: Bits & Bäume 2022 - Orientierungskarte
description: Die Konferenz für Digitalisierung und Nachhaltigkeit → Orientierungskarte
layout: layouts/_base.ejs
tags: sitemap
lang: de
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Orientierungskarte</h1>

</section>

<section class="accordion max-w-3xl">
	<div>
		<a href="/assets/images/pdfs/Bits_und_Baeume_2022_Orientierungs_Karte.pdf">
		<button class="btn-dark">Karte mit Einzelseiten (1 MB PDF)</button>
		</a>
		<a href="/assets/images/pdfs/Bits_und_Baeume_2022_Orientierungs_Karte_onepager.pdf">
		<button class="btn-dark">Karte Überblick und Beschreibungen auf einer Seite (1 MB PDF)</button>
		</a>
		
	</div>


</section>
