---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/join/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Mach mit!</h1>
	
    <div class="box box-cta">
        <h2 class="h3">Komm ins Team!</h2>
        <p>Du bist ein Kommunikationsgenie und weißt, wie man Menschen aktiviert oder Medienmacher ticken? Unser Öffentlichkeitsarbeitsteam sucht kurzfristig Verstärkung, um die Konferenz aus allen Nähten platzen zu lassen! Komm in unser Team und gib direkt Volldampf! (Honorar-/ Werkvertragsbasis)</p>
        <a href="/assets/images/pdfs/Mitarbeit_Presse_und_Öffentlichkeitsarbeit.pdf">
            <button class="btn-dark">zur Ausschreibung</button>
        </a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>

    <h3>Call for Engel auf der Konferenz</h3>

	<p>Um die Großveranstaltung möglich zu machen, brauchen wir deine Unterstützung auf der Konferenz! 
	Beim Gemüseschnibbeln in der Küche, der Betreuung von (internationalen) Referierenden, der Umsetzung eines 
	Awarenesskonzepts vor Ort oder auch beim Auf- und Abbau – es gibt auf jeden Fall genug zu tun. 
	Lust bekommen ein Teil des Teams zu werden? Dann trag dich einfach in eine (oder mehrere) Schicht(en) in 
	unser <a href="https://engelsystem.de/bub/login">Engelsystem</a> ein. 
	</p>

    <div class="box box-cta">
		<h2 class="h3"> Wir brauchen Engel für: </h2>
		<ul>
            <li>
                Logistik (am Einlass, Garderobe, Infopunkt)
            </li>
            <li> für KüFa Aufgaben (Schnippeln, Abwaschen, Essen austeilen)</li>
            <li>
                unser Awareness Team</li>
            <li>    beim Auf- und Abbau</li>
            <li>    beim Stagemanagement</li>

        </ul>
		<a href="https://engelsystem.de/bub/login">
			<button class="btn-dark">Werde Engel!</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="50" height="50">
		</div>
	</div>



	<p>
	<b>Für deinen ehrenamtlichen Einsatz bedanken wir uns nicht nur mit dem Blick hinter die Kulissen der Bits & Bäume, 
	sondern auch mit dem freien Eintritt an allen drei Tagen, Essen und natürlich jeder Menge Spaß!</b></p>

	<p>Wir freuen uns über deine Unterstützung!</p>


 


	<h3>Call for Action bei der Konferenzplanung</h3>

	<p>In unserem <a href="/assets/images/pdfs/Call_for_Action_neu.pdf">Call for Action</a> wollen wir Interessierte dazu motivieren, 
	sich in die Planung und Organisation der Konferenz einzubringen. 
	Denn helfende Hände und Köpfe werden weiterhin gebraucht. Es wird bunt, spannend und transformativ!</p>

	<div class="box box-infos">
		<h2 class="h3">Wir suchen</h2>
		<ul>
			<li>Personen mit Organisationstalent oder Ahnung von Medienarbeit</li>
			<li>Menschen mit Technikaffinität oder Stimmungsmacher*innen</li>
			<li>Leute, die wissen wie Großveranstaltungen inklusiver werden </li>
			<li>(angehende) Nachhaltigkeits- oder Digitalisierungsexpert*innen </li>
		</ul>
		<a href="/assets/images/pdfs/Call_for_Action_neu.pdf">
			<button class="btn-dark">Zum Call for Action</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

	<p>
	Werde Teil einer der Arbeitsgruppen (AGs) und bring deine Ideen, Wissen und deine Kapazitäten ein. 
	Melde dich bei uns unter <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a> mit ein paar Sätzen zu dir und deinen Interessen.<br> 
	Gib im Betreff gerne schon die AG an, für die du dich interessierst.
	</p>


	
	<div class="box box-links">
	<!--	<h2 class="h3">Dies ist ein Kasten mit Links/Downloads</h2> -->
		<p>Es gibt verschiedene Möglichkeiten, um bei uns mitzumachen. Für mehr Infos, schau mal</p>
		<ul>
			<li><a href="https://matrix.to/#/#bitsundbaeume:matrix.org">in unserem Community Matrix</a></li>
			<li><a href="https://twitter.com/bitsundbaeume/">bei Twitter</a></li>
			<li><a href="https://mastodon.bits-und-baeume.org/@bits_und_baeume">oder Mastodon</a></li> vorbei.
			<li>Oder lass dich auf unserem <a href="https://lists.posteo.de/listinfo/bitsundbaeume">Newsletter</a> eintragen.</li>
      
		</ul>
		<a href="https://engelsystem.de/bub/login"><button class="btn-dark">Werd Engel auf unserer Konferenz!</button></a>
		
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

</section>
