---
title: Bits & Bäume 2022 - Material
description: Die Konferenz für Digitalisierung und Nachhaltigkeit → Material unserer Öffentlichkeitsarbeit
layout: layouts/_base.ejs
tags: sitemap
lang: de
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Material</h1>

</section>

<section class="accordion max-w-3xl">
	<div>
		<p>
		Hier findest du Material unserer Öffentlichkeitsarbeit.
		</p>
	</div>


	{% for item in content.material_de.items %}
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<a href="{{ item.src }}">
				<img class="object-cover"
					src="{{ item.src }}"
					alt="sharepic {{loop.index}}"
				>
			</a>
		</div>
	</div>
	{% endfor %}

	<div class="box box-info">
		<h2 class="h3">Fotos von der Konferenz</h2>
		<p>Es gibt eine Vielzahl von freien Fotos von der Konferenz. Die meisten Fotos stammen von <a href="https://www.stuffthathappens.de">Silke Mayer, (stuffthathappens.de)</a>, aber auch von Benjamin Kees und Christoph J. Kellner. Die Fotos dürfen gemäß Creative Commons – Namensnennung unter Angabe der Urheberschaft (siehe Dateiname) verwendet werden.</p>

		<a href="https://cloud.bits-und-baeume.org/s/8cnrGf9wzjxqyFx" target="_blank">
			<button class="btn-dark">Zu den Fotos</button>
		</a>

		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>


	<div>
		<p>
		Logos usw. findest du auf der <a href="{{ site.url }}/konferenz-2022/presse/">Presse-Seite</a>.
		</p>
	</div>
</section>
