---
title: Politische Arbeit
metatitle: Politische Arbeit im Rahmen von Bits &amp; Bäume
description: Hier findest Du Aktivitäten zur politischen Arbeit im Rahmen von Bits &amp; Bäume
lang: de
layout: layouts/_base.ejs
---

<section class="max-w-3xl">
	<h3>Politische Arbeit im Rahmen von Bits &amp; Bäume</h3>


	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-cta m-4 flex-1">
				<h2 class="h3" id="input-b90-diegruenen">Input zur Initiative der Fraktion Bündnis 90/Die Grünen</h2>
				<p>
					Als Vertreter*innen der Bits &amp; Bäume Bewegung haben wir am 10. März 2023 an der Konferenz „Nachhaltig by design“ der Bundestagsfraktion Bündnis 90/Die Grünen teilgenommen. Wir freuen uns, dass dort einige B&amp;B-Forderungen aufgegriffen wurden und haben Hinweise für eine progressive Digitalpolitik erarbeitet.

				</p>

				<a href="/assets/images/2023/2023-04-17_Input-Papier_Gruenen Fraktion.pdf">
								<button class="btn-dark">Input-Papier</button>
				</a>
			</div>
		</div>
	</div>


</section>


