---
title: Presse
metatitle: Presseseite der Bits & Bäume Konferenz 2022
description: Hier findest Du die Presseseite der Bits & Bäume Konferenz 2022
lang: de
translation: /en/conference-2022/press/
layout: layouts/_base.ejs
---

<section class="max-w-3xl">
	<h3>Bits&Bäume-Konferenz 2022</h3>
    <h1>Presse</h1>
    <p><b>
        Du bist Journalist*in und willst up-to-date über unsere Forderungen und Aktivitäten bleiben oder hast eine Frage zu Bits & Bäume 2022? 

    </p></b>


	<div class="box box-cta">
		<h2 class="h3">Presseverteiler und Kontakt</h2>
		<p>Kontaktiere uns unter <a href="mailto:presse@bits-und-baeume.org">presse@bits-und-baeume.org</a> oder trag dich hier direkt im Presseverteiler ein:</p>

		<a href="https://newsletter.bits-und-baeume.org/?p=subscribe&id=1">
			<button class="btn-dark">Jetzt eintragen!</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Pressemitteilung</h2>
			<p>Unsere aktuelle Pressemitteilung findest du hier:
			</p>
		<a href="/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_7.6.22.pdf">
			<button class="btn-dark">zur Pressemitteilung</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

	<h3>Pressekit</h3>

	<p>Hier findest du Materialien</p>

	<div class="box box-links">
		<h2 class="h3">Postkarten</h2>
		<ul>
		    <li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Postkarte-1_DIN-A6_DRUCK_220805">Postkarte 1</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Postkarte-2_DIN-A6_DRUCK_220805">Postkarte 2</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Postkarte-3_DIN-A6_DRUCK_220805">Postkarte 3</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Postkarte-4_DIN-A6_DRUCK_220805">Postkarte 4</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Postkarte-5_DIN-A6_DRUCK_220805">Postkarte 5</a></li>
        </ul>
	
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">Plakate</h2>
		<ul>
		    <li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Plakat_DIN-A1.pdf">Plakat DIN A1 [pdf]</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_Plakat_DIN-A2.pdf">Plakat DIN A2 [pdf]</a></li>
        </ul>
	
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">Logo und Infografik</h2>
		<ul>
		    <li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_logo_titel_RGB.pdf">Logo mit Titel [pdf]</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_logo_ohne_text.svg">Logo ohne Text [svg]</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_logo_titel_untertitel_RGB.pdf">Logo mit Untertitel [pdf]</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_infografik.png">Infografik [png]</a></li>
			<li><a href="/assets/images/oea_material/pressekit/bitsundbaeume22_infografik.svg">Infografik [svg]</a></li>
        </ul>
	
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>



</section>



