---
title: Presse
metatitle: Presseseite der Bits & Bäume Konferenz 2022
description: Hier findest Du die Presseseite der Bits & Bäume Konferenz 2022
lang: de
translation: /en/conference-2022/press/
layout: layouts/_base.ejs
---

<section class="max-w-5xl">
    <h1>Presse</h1>
    <p><b>
        Du bist Journalist*in und willst up-to-date über unsere Forderungen und Aktivitäten bleiben oder hast eine Frage zu Bits & Bäume 2022? 

    </p></b>
</section>

<section class="tiles-section px-0 pt-24">
	<div class="wrapper relative ">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:mr-4 flex-1">
                    <h2 class="h3">Presseverteiler</h2>
					<p>Kontaktiere uns unter presse@bits-und-baeume.org oder trag dich HIER direkt im Presseverteiler ein.</p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
                    <h2 class="h3">Pressemitteilung</h2>
					<p>Unsere aktuelle Pressemitteilung findest du HIER.
                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:ml-4 flex-1">
					<h2 class="h3">Pressespiegel</h2>
					<p>
				    Unser Pressespiegel liegt HIER
                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
            	<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Kontakt</h2>
					<p>
                       presse@bits-und-baeume.org
                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
		</div>
		<div class="area__pixel">
			<img src="/assets/images/pixel-blue-area.svg" widht="60" height="60">
		</div>
	</div>
 
</section>


