---
title: Programm
metatitle: Programm der Bits & Bäume Konferenz 2022
description: Hier findest Du das Programm der Bits & Bäume Konferenz 2022
lang: de
translation: /en/conference-2022/program/
layout: layouts/_base.ejs
---



<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
    <h1>Programm</h1>
    <p>
        Die Themen der Bits & Bäume 2022 decken alle Inhalte an der Schnittstelle von Nachhaltigkeit und 
        Digitalisierung ab - und reichen z.B. von vernetzter Mobilität über den Rohstoff- und Strombedarf digitaler Geräte, 
        Datensuffizienz und kooperativen Plattformökonomien bis hin zu smarten Energienetzen oder Monopolisierungstendenzen 
        in der digitalen Ökonomie.
    </p>

    <div class="box box-infos">
        <h2 class="h3">Gemeinsam wollen wir diskutieren:</h2>
        <ul>
            <li>Wie kann die Digitalisierung so gestaltet werden, dass sie zu einer nachhaltigen und demokratischen Transformation der Gesellschaft beiträgt?   </li>
            <li>Wie sieht eine global, wirtschaftlich, sozial und ökologisch gerechte Zukunft in der digitalisierten Welt aus?</li>
            <li>Was können Tech-Community (Bits), Gerechtigkeits- und Umweltbewegung (Bäume) voneinander lernen? Und wie können sie als Zivilgesellschaft in einen organisierten Austausch mit sozial-ökologischen Vorreiter-Unternehmen, Wissenschaft und Politik treten?</li>
            <li>Wie können wir gemeinsam politisch aktiv werden?</li>
        </ul>
        <div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
    </div>
</section>

<section class="max-w-3xl">
	<div class="box box-infos">
		<h2 class="h3">Programmübersicht</h2>
		<p>Alle Vorträge, Workshops, Forums-Beteiligte und das Kulturprogramm findet ihr in unserem <b>Fahrplan</b> und später auch in den Apps. Hier der erste Entwurf, bei dem sich natürlich noch einiges ändern wird:</p>
		<a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/schedule/">
			<button class="btn-dark">zum Fahrplan</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>
</section>	

<section class="tiles-section px-0 pt-24">
	<div class="wrapper relative bg-blue-light">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:mr-4 flex-1">
					<h2 class="h3">Programm</h2>
					<p>Im Rahmen eines breiten Programms wollen wir unterschiedliche Inhalte im Schnittstellenthema Nachhaltigkeit und Digitalisierung sowie verschiedene Perspektiven darauf bieten. Es warten spannende Vorträge, Workshops und Podiumsdiskussionen auf dich. </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Bits & Bäume Forum</h2>
					<p>
                        Zusätzlich kannst du dich im Bits & Bäume Forum auf viele Vernetzungsmöglichkeiten freuen. Das Forum bietet einen kreativen Raum für Projekte, Organisationen, Netzwerke und Start-Ups, um sich auszutauschen. Uns erwarten Hackspaces, Couch-Ecken, eine Open Stage und vieles mehr.
                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
			<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-infos mx-4 lg:ml-4 flex-1">
					<h2 class="h3">Pitch & Thrive for Sustainability</h2>
					<p>Ganz besonders freuen wir uns auf unser diesjähriges Sonderformat à la 
						"Shark Tank“ aka "Höhle der Löwen“ - jedoch in grün und ohne Kameras. 
						Bei "Pitch & Thrive for Sustainability" können nachhaltige Start-Ups und 
						KMUs in täglichen Slots ihre Projektideen und Geschäftsmodelle präsentieren.
						 Im Anschluss gibt es wertvolles Feedback zur Nachhaltigkeit,
						  der potentiellen Wirtschaftlichkeit und der technischen Umsetzung der 
						  Geschäftsidee.</p>
                    
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
            	<div class="w-full lg:w-1/4 flex flex-col">
				<div class="box box-cta mx-4 lg:mx-2 flex-1">
					<h2 class="h3">Kultur</h2>
					<p>
                    Selbstverständlich ist auch für ein abwechslungsreiches Kulturprogramm gesorgt. Musik, Lesungen und Theater. Was will mensch mehr? Wir freuen uns auf eine glorreiche Auftaktveranstaltung mit "vollehalle" am Freitagabend und eine unvergessliche Abschlussparty am Sonntag.
                    </p>
					<!--<button class="btn-dark">Button dunkel</button>-->
				</div>
			</div>
		</div>
		<div class="area__pixel">
			<img src="/assets/images/pixel-blue-area.svg" widht="60" height="60">
		</div>
	</div>
</section>


