---
title: Bits & Bäume 2022 - Livestream
description: Die Konferenz für Digitalisierung und Nachhaltigkeit → Livestream
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/streaming/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2022</h3>
	<h1>Livestream</h1>

	<p>Nahezu alle Vorträge der Konferenz (in allen 10 Sälen, sowie im Forums-Studio) werden sowohl in Echtzeit ins Netz übertragen als auch später als Aufzeichnung zur Verfügung gestellt. Es gibt einzelne Vorträge, die das explizit nicht möchten, was ihr im Programm in den jeweiligen Vortragsbeschreibungen durch das Symbol einer durchgestrichenen Kamera erkennt. Die Echtzeitübertragung wird ab Freitagnachmittag hier abrufbar sein:</p>
	<ul>
		<li><a href="https://streaming.media.ccc.de/bub2022">https://streaming.media.ccc.de/bub2022</a></li>
	</ul>
	
	<p>Bis zum Beginn der aktuellen Konferenz könnt ihr gern die Aufzeichnungen der Konferenz von 2018 gucken: <a href="https://media.ccc.de/c/bub2018">https://media.ccc.de/c/bub2018</a></p>
	
	<h1>Aufzeichungen</h1>
	
	<p>Die Aufzeichungen der Vorträge werden dann zeitnah hier zu finden sein:</p>
    <ul>
        <li><a href="https://media.ccc.de/c/bub2022">https://media.ccc.de/c/bub2022</a></li>
    </ul>
	
	<hr />

	<p>Die ganze Technik-Zauberei wird ermöglicht durch das <a href="https://c3voc.de/">c3voc</a> des CCC, Danke dafür.</p>
	
</section>
