---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/about-us/
---


<section class="max-w-3xl">
	<h3>Bits&Bäume-Konferenz 2022</h3>
	<h1>Über uns</h1>

	<h3>Entstehungsgeschichte der Bits & Bäume</h3>

	
	<p>Anfang 2018 haben sich sieben NGOs aus dem <b>Nachhaltigkeitsbereich</b> mit drei zivilgesellschaftlichen
	 Organisationen aus der Netzpolitik zusammengetan, um die Großkonferenz Bits & Bäume zu organisieren. 
	 Schwerpunktthemen waren die materielle Basis der Digitalisierung, Umwelt- und Netzpolitik, digitale 
	 Infrastrukturen oder Grundsatzfragen, zum Beispiel zu demokratischen Gesellschaften in Zeiten der Digitalisierung.</p>

	<p>Die <b>zweitägige Konferenz</b> am 17. und 18. November 2018 in der Technischen Universität Berlin zählte
	 rund 2.000 Teilnehmer*innen, fast 200 Beiträge und über 17.000 Views der Video-Mitschnitte. Sie bot 
	 fünf Bühnen, elf zusätzliche Räume, mehr als 120 international besetzte Panels, Hands-on-Workshops und 
	 einen philosophischen Salon. Daneben gab es künstlerisches Begleitprogramm, Begegnungsräume, interaktive 
	 Ausstellungsformate und ein Abend- und Rahmenprogramm mit Konzerten und Apéro. </p>

	<p>Mit der Konferenz wurde eine <b>gemeinsame Grundlage</b> dafür geschaffen, wie die Digitalisierung 
	so gestaltet werden kann, dass sie dem Gemeinwohl und Frieden dient, Datenschutz ernst nimmt und 
	soziale und ökologische Ziele gleichermaßen fördert. Um die notwendigen Veränderungen zu adressieren, 
	hat der Trägerkreis elf politische <a href="https://bits-und-baeume.org/forderungen/info/de"> Forderungen </a> ausgearbeitet, die im Anschluss an die Konferenz vorgestellt wurden.</p>

	<p>Im Nachgang zur Konferenz erschien 2019 das <b>Buch</b> <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">„Was Bits und Bäume verbindet“</a>. 
	Das Buch sammelt Debattenbeiträge der ersten Bits & Bäume-Konferenz und entwickelt diese weiter. 
	Dadurch bringt es vielfältigen Perspektiven auf unsere digitale Zukunft zusammen. 
	Die Beiträge beleuchten z.B. die Auswirkungen unseres Digitalkonsums im Globalen Süden, den nachhaltigen 
	Umgang mit Daten oder die Risiken und Potenziale eines digitalisierten Wirtschaftssystems.</p>

	<p>2018 arbeiteten die zivilgesellschaftliche Digital- und Nachhaltigkeitsszene zum ersten Mal 
	in einer solchen Größenordnung zusammen. Heute umfasst die Bits & Bäume-Bewegung auch <a href="https://bits-und-baeume.org/regionalzweige/de">regionale 
	Sprösslinge</a> in acht großen Städten/Regionen und eine große <a href="https://wiki.bits-und-baeume.org/struktur-der-bewegung/"> Online-Community </a>. Die <b>Regionalgruppen</b> organisieren 
	eigene Veranstaltungen, treffen sich zu Stammtischen und engagieren sich auf unterschiedlichste Weise für 
	eine nachhaltige Digitalisierung.</p>
	
	<p>Derzeit organisieren 13 NGOs eine <b>zweite Großkonferenz</b>: Beginnend mit einer Auftaktveranstaltung am Abend 
	des 30. September 2022 findet am 1. und 2. Oktober die <a href="https://bits-und-baeume.org/konferenz/de">Bits & Bäume 2022 </a> in Berlin statt.</p>


	<h3> <b>Wie wird die Bits & Bäume-Konferenz 2022 organisiert?</b> </h3>

	<p>Offen, partizipativ, ehrenamtlich!</p>
	
	<p>Um klare Aufgabenpakete so gut wie möglich auf viele Schultern zu verteilen, 
	hat der Trägerkreis der Konferenz ein <b>Organisationsmodell</b> (kurz: Orgamodell) entwickelt.
	 Es basiert auf einer Aufteilung der operativen Arbeit zwischen verschiedenen Arbeitsgruppen (AGs) 
	 und einer Koordinierung dieser Arbeit durch ein Konferenzbüro (KB).</p>

	<p>In den AGs arbeiten Mitglieder aus dem <b>Trägerkreis</b> (TK), des <b>Konferenzbüro</b> und <b>Ehrenamtliche</b>
	 aus der Bits & Bäume-Community. Alle Menschen, die in AGs oder im Konferenzbüro mitarbeiten, 
	 agieren als Orgakreis und treffen sich regelmäßig in einem Plenum, um sich gegenseitig zu informieren
	  und größere operative Entscheidungen zusammen zu treffen. Der Rahmen für die Arbeit des Orgakreises ist 
	  durch den Trägerkreis gegeben, in Form von Leitplanken und Aufträgen. Um die Organisation der Konferenz 
	  zu begleiten, trifft sich der Trägerkreis regelmäßig zusammen mit dem Konferenzbüro.</p>

	<p>Dieses Modell macht es möglich, dass sich viele Ehrenamtliche (sowohl aus TK-Organisationen als auch 
	andere Interessierte, zum Beispiel aus der wachsenden Bits & Bäume-Community) an der Organisation der Konferenz 
	beteiligen.</p>



	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full ">
			<img class="object-cover"
				src="/assets/images/Graphik_Orgamodell_18.4.22.png"
				alt="Sprecher mit Mikrofon"
				sizes="(min-width: 780px) 280px, 93.04vw"
				data-img2picture-widths="280,400,670,800"
			>
		</div>
	</div>



	

	<h3>Der Trägerkreis</h3>

	<p>Im Jahr 2022 richten 13 Organisationen aus Umweltschutz, Digitalpolitik, Entwicklungspolitik 
	und Wissenschaft gemeinsam mit einer engagierten Community die zweite Konferenz für Digitalisierung 
	und Nachhaltigkeit Bits & Bäume aus. Denn wir sind überzeugt: Es braucht politische Veränderungen, 
	damit die Digitalisierung besser zum drängenden sozialen und ökologischen Wandel beiträgt.</p>
    
	<p>Uns vereint ein integratives Verständnis von Nachhaltigkeit sowie der Wille, 
	eine Zukunft zu gestalten, in der der digitale Wandel eine positive Rolle einnimmt und Mensch, 
	Lebensgrundlagen und Umwelt unterstützt und schützt.</p>

		
	{% for item in content.traegerinnen.items %}
	<div class="box box-orga">
		<div class="image">
			<a href="{{ item.url }}"><img src="{{ item.image }}" alt="Logo von {{ item.name }}" > </a>
		</div>
		<div class="text">
			<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
			<p>{{ item.content | safe }}</p>
		</div>
	</div>
	{% endfor %}

	

	<h3>Das Konferenzbüro</h3>

	<p>Das Konferenzbüro (kurz auch „KB“) steht im Zentrum des organisatorischen Prozesses: es ist für die 
	Choreographie des gesamten OK und die Einhaltung der Leitplanken aus dem TK zuständig. 
	Das Büro ist also die Schnittstelle zwischen TK und OK. Um den notwendigen Informationsfluss 
	aufrechtzuerhalten, beteiligen sich die KB-Mitarbeiterinnen an allen Strukturen. 
	Das heißt beispielsweise, dass das KB sowohl bei Sitzungen des TK als auch in jeder AG vertreten ist.</p>

	<p>Das KB wird vertreten durch Jasmin, Leah und Lena. Jasmin ist schon seit geraumer Zeit in der 
	Eventbranche unterwegs und koordiniert bei der Bits & Bäume 2022 die Arbeitsgruppen Öffentlichkeitsarbeit, 
	Kultur und Logistik. Leah hat einen Background in Politikwissenschaften und IT und behält den Überblick über 
	alle Prozesse, die das Bits & Bäume Forum und die Care AG betreffen und sich rund um IT-Themen im Vorfeld und 
	auf der Konferenz drehen. Lena hat kürzlich ihren Master in Internationale Studien und Development Studies beendet 
	und koordiniert die Treffen der Programm AG. Lena und Jasmin setzen sich zudem für ein Awareness-Konzept auf der 
	Konferenz ein. Weiterhin bereiten die drei die regelmäßigen Treffen des TK und OK vor.</p>
	
	<p>Du hast Fragen an das Konferenzbüro? Schreib uns unter info@bits-und-baeume.org.</p>

	<h3>Unsere Ehrenamtlichen</h3>

	<p>Ohne die engagierte Unterstützung durch Ehrenamtliche aus den Trägerkreis-Organisationen 
	und aus der Bits & Bäume-Community könnten wir die Konferenz 2022 nicht auf die Beine stellen. 
	Die Ehrenamtlichen bringen ihre Expertise und Interessen in den verschiedenen AGs ein und gestalten 
	so die Konferenz von Anfang an mit. Auch während der Konferenz werden viele Ehrenamtliche vor Ort sein und 
	uns bei allen möglichen Aufgaben unterstützen – vom Gemüseschnippeln in der Küche, über die Betreuung von 
	(internationalen) Referierenden, der Umsetzung eines Awarenesskonzepts vor Ort bis zum Auf- und Abbau. 
	Wir brauchen noch viele helfende Hände und Köpfe – schau doch mal HIER  vorbei, wenn du dich bei der 
	Gestaltung und Durchführung der Konferenz einbringen möchtest!
	</p>



</section>

