---
title: Nachhaltige Konferenzorga 2018
metatitle:  2018
description: Hier findest Du was zur Bits & Bäume Konferenz 2018
layout: layouts/_base.ejs
lang: en
translation: /konferenz-2018/nachhaltige-konferenzorga/
---



<section class="max-w-3xl">
    <h1>Organise sustainably</h1>

    <p>We think so: An event on the topic of sustainability should also be oriented towards these goals in its planning and implementation. For example, in the use and provision of digital and analogue infrastructures, we have paid equal attention to resource conservation, data protection and public welfare orientation. With this in mind, we are happy to share information and our experiences with you:</p>

    <div class="box box-infos">
		<h2 class="h3">Communication</h2>
        <ul>
            <li>
                <b><a href="https://meetgreen.de">Meetgreen</a></b>
                (Hold conference call and support reforestation) 

            </li>
            <li>
                <b><a href="https://posteo.de/site/ueber_posteo">Posteo</a></b>(Email, but secure, privacy-friendly and green) 
               
            </li>
            <li>
                <b><a href="https://signal.org">Signal Messenger</a></b>
                (similar to WhatsApp/Facebook, but non-commercial, low metadata and open source) 
            </li>
           
        </ul>
		
	
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

    <div class="box box-infos">
		<h2 class="h3">Collaborative work</h2>
        <ul>
            <li>
                <b><a href="https://nextcloud.com/about">Nextcloud</a></b>
                (decentralised, free software for shared file storage, calendar, picture gallery) 
            </li>
            <li>
                <b><a href="https://github.com/ether/etherpad-lite"> Etherpad-lite </a></b>
                (decentralised, free software for joint and simultaneous text processing with chat function) 
            </li>
            <li>
                <b><a href=" https://github.com/otetard/ownpad"> Ownpad </a></b>
                (Edit and organise Etherpads integrated into Nextcloud)
            </li>
            <li>
                <b><a href=" https://frab.github.io/frab">frab</a></b>
                (Conference management system including programme<br> overview)

            </li>
        </ul>
		
		
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

    <div class="box box-infos">
		<h2 class="h3">Webseite</h2>
        <ul>
            <li>
                <b><a href="https://wiki.uberspace.de/philosophy"> uberspace</a></b>
                (Web hosting and email provider, free software and with attitude) 
            </li>
            <li>
                <b><a href="https://kollektiv.afeefa.de">Afeefa Kollektiv</a></b>
                (Web development and consulting)
            </li>
            <li>
                <b><a href="https://frab.github.io/frab">frab </a></b>
                (esp. for programme overview and conference administration) 
            </li>
            <li>
                <b><a href="https://www.openstreetmap.de/karte.html">Openstreetmap</a></b>
                (free and cooperatively created map data) 

            </li>
        </ul>
		
		
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>


    <div class="box box-infos">
		<h2 class="h3">Licences</h2>
        <ul>
            <li>
                <b><a href="https://creativecommons.org/licenses/?lang=de)">CC or CC-BY licences for photos and posters</a></b>
                (free licence for<br> explicit redistribution)
            </li>
     
        </ul>
		
		
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

    <div class="box box-infos">
		<h2 class="h3">On side</h2>
        <ul>
            <li>
                <b><a href="http://www.stattlab.net">Textile Printing Collective:</a></b>
                 Stattlab e.V. 
            </li>
            <li>
                <b><a href="http://www.wamkat.de/vokue">Küfa instead of commercial catering</a></b>
                (sustainable-vegan conference food from Fläming Kitchen, for example - but there are also
                but there are also great other Küfas for all conference sizes)
            </li>
            <li>
                <b>Tap water dispenser</b> 
                (Tap water is waste-free and resource-saving, Berliner Wasserbetriebe)
            </li>
            <li>
                <b><a href="https://paradie.so">paradie.so </a></b>
                (Handmade light magic) 
            </li>
     
        </ul>
		
	
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>




</section>