---
layout: layouts/_base.ejs



datum: "2024-09-20"
autorin: Anja Höfner

# permalink:
#bild: "/assets/images/BILD.png"
#bildunterschrift: ""

title: "Bits & Bäume – September 2024"

# Zwischen Überschrift und Text
einleitung: 

# Für die Kacheln auf der Website
teaser: 

# Für Social media und Suchergebnisse (also extern)
meta_beschreibung: 

# Button "weiterlesen" auf der Hauptseite kann umbenannt, ausgeblendet und zu anderer z.B. Externer URL zeigen
#button_anzeigen = nein 
#button_text: "eigene Buttonbeschriftung"
#button_url: "andere URL"


---
<section class="max-w-3xl">
    <h1>Newsletter September 2024 (Prototyp)</h1>
	<div>
		
		<div class="flex flex-wrap sm:flex-nowrap">
			<div class="testimonial__visual">
				<img class="testimonial__image" src="/assets/images/anja.png" alt="Anja Höfner" sizes="150px" data-img2picture-widths="150, 300">
				<img class="image_icon" src="/assets/images/pixel-testimonial-1.svg" widht="80" height="40">
			</div>
			<div>
				<p class="quote">Liebe Bits & Bäume Interessierte, 

ich freue mich, euch heute die erste Ausgabe unseren neuen Newsletter präsentieren zu dürfen! Der Newsletter soll euch alle zwei Monate über wichtige Neuigkeiten, anstehende Termine und Community-Aktivitäten aus dem Bits & Bäume Kosmos informieren. 

Bits & Bäume ist die größte Bewegung für Digitalisierung & Nachhaltigkeit im deutschsprachigen Raum und setzt sich mithilfe politischer Forderungen, Konferenzen, Veröffentlichungen und Netzwerkarbeit für eine nachhaltige Gestaltung digitaler Technik ein. Ich bin schon seit 2018 – also von Beginn an – Teil des Bündnisses und habe die beiden Konferenzen 2018 und 2022 mitorganisiert. 

Derzeit besteht meine Rolle vor allem in der Stärkung der Bits & Bäume Community – indem ich bei Veranstaltungen präsent bin, Gespräche führe, auf Unterstützungsangebote aufmerksam mache oder den Informationsfluss mit dem Trägerkreis – den NGOs im Bits & Bäume Bündnis – sicherstelle. Dieser Newsletter soll auch dazu beitragen, dass alle besser über anstehende Aktivitäten informiert sind. 

Wenn ihr selbst Inhalte habt, die beim nächsten Newsletter nicht fehlen dürfen, schreibt entweder an newsletter@bits-und-baeume.org oder <a href="/newsletter_input/">tragt die Sachen direkt ins Pad ein</a>. 

Ich freue mich auf eure Inputs & einen lebendigen Austausch, 
beste Grüße</p>
				<p class="quote">Anja Höfner, Konzeptwerk Neue Ökonomie als Teil von Bits & Bäume</p>
			</div>
		</div>
	</div>



    <p class="highlight">

</p>

</section>

<section class="max-w-3xl">

    <h1>Neuigkeiten</h1>

    <div class="box box-infos">
        <h2 class="h3">Unsere neue Koordinatorin Rike stellt sich vor!</h2>
        <p>Friederike (Rike) Hildebrandt arbeitet seit dem 1.7.2024 als Koordinatorin für Bits & Bäume. Neu ist sie im Netzwerk nicht, denn sie hat zuvor den BUND, bei dem sie die letzten 3 Jahre gearbeitet hat, im Trägerkreis vertreten. Im Interview berichtet sie nun, worauf sie sich in der Bits & Bäume Arbeit freut, welche Themen ihr am Herzen liegen und was sich politisch verändern muss! </p>
        <a href="https://bits-und-baeume.org/blog/interview_rike/">
            <button class="btn-dark">zum Interview</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
        </div>
    </div>

    <div class="box box-infos">
        <h2 class="h3">Digital die Welt retten?</h2>
        <p>Das Handbuch, das in Zusammenarbeit vom BUND und Bits & Bäume enstanden ist, ist für alle, die verstehen wollen, wie die Digitalisierung unsere sozialen und ökologischen Probleme und Krisen beeinflusst. 17 Autorinnen, Aktivistinnen und Wissenschaftler*innen haben gemeinsam die größten Herausforderungen des digitalen Wandels in sieben Kapiteln diskutiert und zusammengefasst.  
</p>
        <a href="https://bits-und-baeume.org/posts/BUND-HandbuchDigitalpolitik_B&B/">
            <button class="btn-dark">Zur Publikation</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
        </div>
    </div>

    <div class="box box-infos">
        <h2 class="h3">Wir begrüßen den DGB als Teil des Trägerkreises!</h2>
        <p>Der Bits & Bäume Trägerkreis wächst weiter! Mit großer Freude heißen wir den Deutschen Gewerkschaftsbund (DGB) als Teil des Trägerkreises willkommen!
</p>
        <a href="https://bits-und-baeume.org/posts/zuwachs_trägerkreis_dgb/">
            <button class="btn-dark">Zur Meldung</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
        </div>
    </div>


    <div class="box box-infos">
        <h2 class="h3">Unsere Website in neuem Gewand</h2>
        <p>Nach vielen Monaten Arbeit ist das Ergebnis nun präsentierbar: Unsere Website kommt in neuem Gewand und neuer Übersichtlichkeit daher - vor allem das Menü hat sich verändert und die Inhalte fokussieren nun auf Bits & Bäume als Bewegung und weniger auf die Konferenzen. So findet sich schneller, was wir alles tun und wie Menschen aktiv mitmachen können.</p>
        <a href="https://bits-und-baeume.org">
            <button class="btn-dark">zur neuen Website</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
        </div>
    </div>

    <h1>Veranstaltungen</h1>

    <div class="box box-cta">
        <h2 class="h3">Macht und Eigentum bei digitalen Infrastrukturen - Digitalpolitischer Abend</h2>
        <p>21.10.24 | 18-22 Uhr | Frankfurt am Main & online</p>
        <p>Die Frage "Wem gehört das Internet?" wird seit der zunehmenden Kommerzialisierung des Internets immer häufiger gerade in zivilgesellschaftlichen Kreisen diskutiert. Digitale Infrastrukturen sind zum großen Teil in privater Hand. Wir wollen am 21.10. in Frankfurt am Main mit unserem zivilgesellschaftlichen Diskussionsabend die Eigentumsungerechtigkeit bei digitalen Infrastrukturen in den Fokus stellen und mit verschiedenen Keynotes und Workshops beleuchten.
        </p>
        <a href="https://bits-und-baeume.org/posts/herbstabend_2024/">
            <button class="btn-dark">Zur Einladung und Anmeldung</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-event.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
        </div>
    </div>


    <div class="box box-cta">
        <h2 class="h3">Bits & Bäume im Saarland</h2>
        <p>21.&22.09.24 | Saarbrücken</p>
        <p>Im Saarland veranstalten engagierte Menschen eine eigene kleine Bits & Bäume Konferenz! Auf dem Programm stehen unter anderem CO2 Sparsamkeit und IT-Sicherheit, verschiedene Barcamp-Sessions und Digitaler Kolonialismus. Ihr könnt euch noch anmelden und teilnehmen! </p>
        <a href="https://saar.bits-und-baeume.org/">
            <button class="btn-dark">Zur Konferenz Website</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-event.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
        </div>
    </div>

    <div class="box box-cta">
        <h2 class="h3">Bits & Bäume NRW</h2>
        <p>13.11.24 | Essen</p>
        <p>Unter dem Titel „Die digitale Transformation an Hochschulen nachhaltig gestalten“ zielt die diesjährige Bits & Bäume NRW Konferenz, die in Kooperation mit der Uni Münster und der FernUniversität Hagen stattfindet darauf ab, einen Prozess zu initiieren, nachhaltige Digitalisierung in die nordrhein-westfälische Hochschullandschaft zu integrieren.</p>
        <a href="https://bits-und-baeume.org/posts/konferenz-2023-nrw/">
            <button class="btn-dark">Mehr Infos</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-event.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
        </div>
    </div>



<h1>COMMUNITY-NEWS</h1>

    <div class="box box-infos">
        <h2 class="h3">20 Jahre Datenspuren Dresden</h2>
        <p>20.-22.09.24 | Dresden</p>
        <p>Vom 20.-22.09.24 findet in Dresden die 20. Ausgabe der Datenspuren statt! Die Datenspuren sind eine jährlich stattfindende, 2-tägige Veranstaltung des Chaos Computer Club Dresden rund um Technik und Gesellschaft.</p>
        <a href="https://datenspuren.de">
            <button class="btn-dark">Zur Konferenzwebsite</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-event.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
        </div>
    </div>

	<div class="box box-infos">
        <h2 class="h3">Cryptoworkshops in Kiel</h2>
        <ul>
            <p>INFOS....</p>
        </ul>
        <a href="#">
            <button class="btn-dark">Button dunkel</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-event.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
        </div>
    </div>



<h1>Mitmachen</h1>



	<div class="box box-infos">
        <h2 class="h3">Bring dich ein beim 38C3!</h2>
        <p>
        Vom 27.-30.12.24 findet wieder der Chaos Communication Congress in Hamburg statt. Wie im letzten Jahr soll es wieder ein Bits & Bäume Habitat mit vielen befreundeten Organisationen und Gruppen geben. Wenn du dich dafür in der Vorbereitung einbringen möchtest, melde dich bei uns.
        </p>
        <a href="mailto:38c3@bits-und-baeume.org">
            <button class="btn-dark">Schreib uns eine Mail</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
        </div>
    </div>




	<div class="box box-infos">
        <h2 class="h3">Website – Call for Patches & Feedback</h2>
        <p>
        Diese Website wird kollaborativ von vielen Menschen gepflegt, die sich alle auch noch um jede Menge anderer Dinge kümmern. Deswegen ist möglicherweise nicht immer alles picobello perfectissimo. Wenn dir also Fehler oder Probleme auffallen, würden wir uns sehr freuen, wenn Du eine der folgenden Möglichkeiten nutzt.
        </p>
        <a href="https://bits-und-baeume.org/posts/website_feedback/">
            <button class="btn-dark">Feedback geben</button>
        </a>
        <div class="box__icon">
            <img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
        </div>
        <div class="box__pixel">
            <img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
        </div>
    </div>