---
title: Material
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/material/
---

<section class="max-w-3xl">
	<h1>Material für deinen Bits & Bäume-Zweig</h1>
	
	<p>
		Du willst eine eigene Veranstaltung, einen Stammtisch, eine Konferenz, einen Diskussionsabend, ein Panel im Sinne von Bits&Bäume organisieren? Großartig!
	</p>
	<p>
	Du hast schon gelesen, was für uns wichtig ist, damit du deinen Zweig wirklich Bits&Bäume nennen kannst? Noch viel besser!
	</p>
	<p>
	Du suchst einfach nur nach Ideen für deine eigene Veranstaltung? Auch gut :)
	</p>
	<p>
	Hier findest du Material von A wie Anreisekarte (siehe nachhaltig organisieren) bis Z wie zwitschern (<a href="https://twitter.com/bitsundbaeume/">#bitsundbäume</a>)
	</p>

	<div class="box box-infos">
		<h2 class="h3">Nachhaltig organisieren</h2>

		<p>Tipps des B&B-Teams, was nachhaltig organisieren alles heißen kann, von Kollektiven bis zur Open Street Map
		</p>

		<a href="{{ site.url }}/konferenz-2018/nachhaltige-konferenzorga/">
			<button class="btn-dark">Eine nachhaltige Konferenz organisieren!</button>
		</a>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">Referent*innen und Themen finden</h2>
		<ul>
			<li>B&B-Publikation Was Bits & Bäume verbindet: <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">die Themen der Konferenz zum Nachlesen und Vertiefen</a> 
				</li>
			<li>die Referent*innen der Bits&Bäume 2018 im <a href="https://fahrplan.bits-und-baeume.org/speakers.html">Fahrplan</a> scouten</li>
			<li><a href="https://media.ccc.de/c/bub2018">Aufzeichnungen der Konferenz 2018 und anderer Vorträge</a> rund um Bits&Bäume und verwandte Stichworte auf <a href="https://media.ccc.de/search/?q=b%C3%A4ume">media.ccc.de</a> 
				 durchklicken</li>
			<li><a href=""></a>das Bits & Bäume-Vortrags-Team anfragen, um die Ziele<br>
				 von Bits&Bäume und den Zusammenhang von Bit&Baum zu erklären (Mailadresse folgt!)</li>
		</ul>
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-links.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">B&B-Material zum Leuchten oder Drucken (CC BY Schauschau.cc)</h2>
		<ul>
		    <li><a href="{{ site.url }}/assets/images/oea_material/bits-und-baeume-logo.pdf">B&B-Logo [pdf]</a></li>
            <li><a href="{{ site.url }}/assets/images/oea_material/bits-und-baeume-logo-schrift.pdf">B&B-Logo mit Konferenz-Untertitel [pdf]</a></li>
			<li><a href="{{ site.url }}/assets/images/oea_material/BUB_Sticker_zeitlos.pdf">B&B-Sticker [pdf]</a></li>
			<li>B&B-Forderungen 2018 als Broschüre <a href="{{ site.url }}/assets/images/oea_material/BUB_Forderungen_A5_Einzelseiten.pdf">Einzelseiten für die Druckerei [pdf]</a> | <a href="{{ site.url }}/assets/images/oea_material/BUB_Forderungen_A5_Doppelseiten_Bookletreihenfolge.pdf">Doppelseiten zum Selberdrucken [pdf]</a></li>
            <li><a href="{{ site.url }}/assets/images/oea_material/B&B_Plakat_DIN-A1_CC_181108.pdf"> B&B-Plakat [pdf]</a></li>
			<li><a href="https://gitlab.com/bub-berlin/media">...mehr Material zum Download </a></li>
        </ul>
	
	<!--	<a href="#">    
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-links.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Frohes Wachsen und Gedeihen!</h2>
		
		<p>wünscht euch euer B&B-Team</p>
		<p>Wenn ihr sonstige hilfreiche Informationen bei uns vermutet oder eine Bits&Bäume-Veranstaltung ankündigen wollt, dann meldet euch gerne: Unter 
			<a href="mailto:bewegung@bits-und-baeume.org">bewegung@bits-und-baeume.org</a> erreicht ihr aktuell Juliane (OKF) und Rainer (FIfF).</p> 
			<p>Wenn ihr eure Veranstaltung auf Twitter mit (<a href="https://twitter.com/bitsundbaeume/">#bitsundbäume</a>) verseht,<br> finden wir und alle anderen euch leicht.</p>	
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>
  


</section>
