---
title: Material
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /material/

---

<section class="max-w-3xl">
	<h1>Material</h1>
	<p>to be done</p>
</section>
