---
title: Material
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /material/

---


<section class="max-w-3xl">
	<h1>Materials for a new Bits&Bäume branch</h1>
	
	<p>
		You plan to organise a Bits&Bäume event, a round table, a conference, a discussion evening or a panel? Great!
	</p>
	<p>
		You already know what is important to us, if you want to name your new branch Bits&Bäume? Even better!
	</p>
	<p>
		Here you find whatever you might need to plant your own Bits&Bäume seed.
	</p>
	<p>
		Or you are just looking for speakers, topics or tips for your own event? Fine for us, too :)
		</p>

	<div class="box box-infos">
		<h2 class="h3">Organise sustainably</h2>

		<p>
			Tips of the B&B-Team how to organise sustainably from using an open street map to hiring collectives for whatever you need
		</p>

		<a href="{{ site.url }}/en/conference-2018/sustainable-orga/">
			<button class="btn-dark">Organise sustainably</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">Find input</h2>
		<ul>
			<li>our B&B publication <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493"> Was Bits&Bäume verbindet (in German)</a> 
				</li>
			<li>the speakers of the Bits&Bäume 2018, listet in our <a href="https://fahrplan.bits-und-baeume.org/speakers.html">fahrplan</a></li>
			<li><a href="https://media.ccc.de/c/bub2018">recordings</a> of the 2018 conference and further talks on Bits&Bäume topics on <a href="https://media.ccc.de/search/?q=b%C3%A4ume">media.ccc.de</a> 
			</li>
			<li>ask the Bits&Bäume team to explain the Bits&Bäume demands and<br> why bit and tree belong 
				together (mail address following!)</li>
		</ul>
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">B&B materials for screens and paper (CC BY Schauschau.cc)</h2>
		<ul>
		    <li><a href="{{ site.url }}/assets/images/oea_material/bits-und-baeume-logo.pdf">B&B-Logo [pdf]</a></li>
            <li><a href="{{ site.url }}/assets/images/oea_material/bits-und-baeume-logo-schrift.pdf"> B&B-Logo with German conference subtitle [pdf]</a></li>
			<li><a href="{{ site.url }}/assets/images/oea_material/BUB_Sticker_zeitlos.pdf">B&B-Sticker [pdf]</a></li>
			<li>B&B demands as a brochure  | double pages for brochure printing  <a href="{{ site.url }}/assets/images/oea_material/BUB_Forderungen_A5_Einzelseiten.pdf"> single pages [pdf]</a> | <a href="{{ site.url }}/assets/images/oea_material/BUB_Forderungen_A5_Doppelseiten_Bookletreihenfolge.pdf">double pages for brochure printing [pdf]</a></li>
            <li><a href="{{ site.url }}/assets/images/oea_material/B&B_Plakat_DIN-A1_CC_181108.pdf"> B&B poster [pdf]</a></li>
			<li>... more material for download <a href="https://gitlab.com/bub-berlin/media"> here </a></li>
        </ul>
	
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">May your seed grow well!</h2>
		

		<p>
			If you suspect helpful information from us or want to inform us about a new Bits&Bäume event, please feel free to contact us:<br> At
			<a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a> you can currently reach the conference office.</p> 
			<p>If you use (<a href="https://twitter.com/bitsundbaeume/">#bitsundbäume</a>) on twitter, 
				all Bits&Bäume followers will be<br> able to find you, as we will.</p>	
			<p>Your B&B-Team</p>
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>



</section>
