---
title: Bits & Bäume Habitat auf dem Camp
description: Das „Bits & Bäume Habitat“ auf dem Chaos Communication Camp 2023
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /en/community/camp
---

<section class="max-w-3xl">
	<h1>Bits &amp; Bäume Habitat on the camp</h1>
	<h3>Call for Participation: Let’s boost our resilience</h3>

	<div class="box__image w-full md:w-5/5">
		<img class="object-cover"
			src="/assets/images/2023/camp-1.jpg"
			alt="Bits &amp; Bäume on the Camp 2019"
			sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
			data-img2picture-widths="485,702"
		>
	</div>
	<p style="opacity:0.5; font-size:70%; text-align:right;">Bits &amp; Bäume auf dem Camp 2019</p>

	<p>Submit presentation: <a href="https://pretalx.c3voc.de/chaos-communication-camp-2023/cfp‌‌‌‌">pretalx.c3voc.de/...</a> <b>(Deadline:: 9. Juni 2023)</b></p>

	<p>
	After four years of waiting and many online conferences (perhaps too many) <a href="https://blog.fiff.de/chaos-communication-camp/">the Chaos Communication Camp is back!</a> Join us from <strong>August 15th to 19th</strong>. The <a href="https://bits-und-baeume.org/">Bits &amp; Bäume movement</a> invites you to participate in the <strong>Bits-&amp;-Bäume-Habitat</strong>.</p><p>As a village, we cover topics at the intersection of sustainability and digitalization, ranging from interconnected mobility and resource and energy consumption to data sufficiency, cooperative platform economies, sociopolitical emancipatory movements, decentralized networks, as well as issues of monopolization in the digital sphere. 
Together, we are searching for solutions for a sustainable world that respects both nature and human rights. Let's rethink our world and boost our resilience.
Do you have insights, thoughts, and experiences to share? Do you know about sustainable technology use and provision, such as hacking or improving old devices, using solar or wind energy, or decentralized and community-based sustainable software and hardware projects for our future? 
We are looking for inspiring talks, hands-on workshops, community/developer/strategy meetings, or any other public, informative, or collaborative activities. Therefore we will provide a stage and a workshop area.
	</p>
	<p>
	Together we are looking for <a href="https://bits-und-baeume.org/en/conference-2022/demands/">answers and ways</a> <strong>toward a sustainable society</strong> respecting both our livelihood and nature, as well as freedom, democracy, and human rights.</p><p>Let us rethink our world, implement our utopias, unite our forces, and strengthen our resilience. Do you have knowledge, insights, criticism, perspectives, thoughts, and practical experiences that you would like to present and share with others? Are you familiar with, using, or creatively building sustainable digital technology, working on the reuse of old devices, utilizing solar energy or wind power, or involved in decentralized and community-based software and hardware projects for our sustainable future? Or do you provide technical support to progressive protest groups?

If so, you are in the right place: We are looking for inspiring lectures, practical workshops, community/developer/strategy meetings, or other public, informative, or collaborative activities. We provide a stage and a workshop area for this purpose.
	</p>
	<p>
	As the climate crisis is affecting people in the global south the most, we would especially encourage those individuals to share their ideas for a resilient technical world. We are looking forward to your proposals. We would like to actively encourage FLINTA* and Queer* people, BIPOC, and people from the global south to apply. 
	</p>
	<h2 id="einreichung">Participate</h2>
	<p>To apply, please submit your talk or workshop to the official Call for Papers from the Chaos Communication Camp by June 9th. Here, you need to choose the channel "Bits & Bäume". https://pretalx.c3voc.de/chaos-communication-camp-2023/cfp
	</p>

	<p>
	<a href="https://pretalx.c3voc.de/chaos-communication-camp-2023/cfp"><span class="btn-dark">Contribute now!</span></a>
	</p>

	<h2 id="unsere-themen">Our Topics:</h2>
	<p>Free Software, Sustainability, Resilience, Peace, Social Responsibility, Citizen and Human Rights, Decolonization of the Digital, Emancipatory Movements, Decentralized and Anonymized Networking, Community Wireless Networks, Grass-Roots Internet Providers.
	</p>

	<h2 id="wer-wir-sind">Who we are:</h2>
	<p>
The “Bits & Bäume” village is organized by a lot of different groups. We are Freifunk, Free Software Foundation Europe, Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung (FIfF), German Watch, KNOE, Gäst:innenhaus Jakob, Infra United, Open Source Gardens, pEp.Foundation und BUND (Jugend), Open Community Projects Association, ...</p>



	<h2 id="Newsletter">Newsletter</h2>

	If you want to stay informed and updated about the Camp and our participation there, sign up for the 📧 <a href="https://lists.fiff.de/postorius/lists/camp23.lists.bits-und-baeume.org/">Newsletter</a>.


</section>

