---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /community/regionale-zweige/
---

<section class="max-w-5xl">
	<h1>Regionale Zweige</h1>
	<p>
		The Bits&Trees community is growing! 
		You want to join? In some 
		cities there are first regional branches with their own regulars' tables to discuss 
		to discuss and to plan lectures or own conferences together. Join us!
	</p>

	{% for item in content.zweige.items %}
	<div class="box {{ item.style }}">
		<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
		<p>{{ item.content | safe }}</p>
		<div class="box__pixel">
			<img src="{{ item.pixel }}" widht="50" height="50">
		</div>
	</div>
	{% endfor %}
</section>
