---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /community/regionale-zweige/
---

<section class="max-w-3xl">
	<h1>Regional branches</h1>
	<p>
		The Bits & Bäume community is growing! There are regional branches with various activities and formats: regular meetups for discussions, groups organizing evening events with talks, or even full conferences. Anything is possible! Many of the groups listed below primarily offer German-language formats. If you're looking for English-language events, feel free to reach out to the groups directly!
	</p>

		<p>Would you like to join a branch?<br>
		<a href="mailto:info@bits-und-baeume.org?subject=Regional branches"><button class="btn-dark">Drop us a Message</button></a> <br>
		... or reach out to the groups listed below.
		</p>
		<p>Can't find your city or region here? Or would you like to start an English-speaking branch?<br>
		<a href="/community/eigenen-regionalzweig-gruenden"><button class="btn-dark">Let your own branch grow!</button></a>
		<p>	

	{% for item in content.zweige_english.items %}
	<div class="box {{ item.style }}">
		<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
		<p>{{ item.content | safe }}</p>
		<div class="box__pixel">
			<img src="{{ item.pixel }}" alt="box" width="50" height="50">
		</div>
	</div>
	{% endfor %}
</section>
