---
title: Eigene Bits & Bäume organisieren
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /community/eigene-organisieren/
---


<section class="max-w-3xl">
	<h1>Die Bits & Bäume wächst zur Bewegung!</h1>

    <p>
        We, the initiators of the first Bits & Bäume Conference, decided to <b>release the idea of Bits & Bäume into freedom so that it can continue to grow and prosper.</b>
    </p>

    <p>
        For over a year our team of 10 organizations worked hard to bring the Bits & Bäume 2018 into being 
        - that was very enriching for us, but also a lot of effort, just because so many different 
        organizations were sitting at the same table. We get many joyful expressions of hope for a repeat
         in 2019, which makes us very happy, but unfortunately we cannot integrate this time intensive work 
         into our daily routines in the long run. But the Bits & Bäume was also a conference of all of us for
          all of us! So just pick up the thread, set up a regular's table in your city, organize a smaller or 
          larger event, a discussion evening, explain on panels why and how
         digitization and sustainability belong together, let's continue to exchange ideas and successes under
    </p>




    <div class="box box-links">
		<h2 class="h3">Bits&Bäume roots</h2>
        <ul>
            <li>
                <a href="/en/conference-2018/demands">
                    our political demands!</a>
            </li>
            <li><a href="https://media.ccc.de/c/bub2018">recordings</a>  of the 2018 conference on media.ccc.de – 1001 thanks to the <a href="https://c3voc.de">VOC!</a></li>
            <li>our conference publication <a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">Was Bits&Bäume verbindet (in German)</a></li>
        </ul>
		
	
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>


    <div class="box box-links">
		<h2 class="h3">planting new trees</h2>
        <ul>
            <li>
                <a href="/en/conference-2018/sustainable-orga/">organise sustainably: </a>: tips of the B&B-Teams to organise conferences and smaller events sustainably
            </li>
            <li>
                <a href="/material/">B&B material for your own events (from logo to sticker)</a> 
            </li>
            <li>
                growing branches:  <a href="/en/community/regional-branches/">regular's rounds</a>
            </li>
        </ul>
		
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>



    <div class="box box-cta">
		<h2 class="h3">What does that mean in concrete terms?</h2>

		<ul>
			<li><b>Topic:</b> You can use the name for all actions as long as they connect critical digitisation and sustainability.</li>
            <li><b>Target group:</b>  As contributors and participants, you primarily address activists, the growing Bits & Bäume community, academia and all of us as civil society.</li>
            <li><b>Support the demands:</b> Our condition is that you support our  <a href="/en/konferenz-2018/demands/">demands</a> and that they are thematically essential for your action. </li>
            <li><b>Implement our claims:</b> We have tried to make the conference as sustainable as possible: from vegan and ecological catering and cooperation with collectives to the use of free 
                licenses and software - that's what we want from all subsequent activities.
                 We have compiled <a href="/konferenz-2018/nachhaltige-konferenzorga">documentation, tips and suggestions</a>
                 further additions welcome!
                </li>
     
        </ul>
    	<a style="visibility: hidden" href="#">
		    <button  class="btn-dark">Button dunkel</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>

    <div class="box box-cta">
		<h2 class="h3">Additional recommendations</h2>
	
		<ul>
            <li><b>Encourage participation:</b> If you organize a conference including lectures and workshops, please start a call for participation (CfP) and spread it as far as you can - because only in this way you can include ideas and people you don't already know and new networks can develop. </li>
            <li><b>Facilitate networking:</b> Make sure there is time and space for exchange and networking. Use the Hashtag <a href="https://twitter.com/hashtag/bitsundbaeume">#bitsundbäume</a> with pleasure and often, e.g. on Mastodon, Twitter or Diaspora; we'll gladly take this up via @bitsundbaeume.</li>
            <li>If you're planning a bigger event, we'll set up a <b>subdomain at bits-und-baeume.org</b> for you. We will also link it prominently on the B&B main page in an overview of the next actions. Please create your own imprint and privacy policy though.</li>
          
        </ul>
	<!--	<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>-->
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
		</div>
	</div>



    <p>
        We explicitly don't want the name to be used for formats where tech giants can buy their way into it and where politicians can advertise for themselves and their party instead of discussing seriously. These groups have enough possibilities already to make themselves heard, but they are surely always welcome as listening visitors.
        We want to work towards this goal with everyone those who have dedicated themselves wholeheartedly to a material and immaterial world worth living in for all.

    </p>
    <p>
        If you need any suggestions or suspect helpful information from us,
         please feel free to contact us: At <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a>  you can currently reach the conference office.
     
    </p>
    <p>
        We dream that the Bits & Bäume 2018 will be followed by far more actions than we could ever organize ourselves! Decentralized and yet connected.
    </p>
    <p>
        Let us continue to grow together! 
       
    </p>
    <p>
        Your B&B-Team
    </p>


</section>