---
title: Eigene Bits & Bäume organisieren
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /community/eigene-organisieren/
---


<section class="max-w-3xl">
	<h1>Organize Your Own Bits & Bäume Event!</h1>

The conferences in 2018 and 2022 are the heart of Bits & Bäume. If you support our <a href = "/en/demands">demands</a>, you’re welcome to initiate your own actions – or even the next conference? You can check <a href="/en/community/regional-branches">here</a> to see if there’s already a local group in your city. 
<br>
Below, we’ve compiled some guidance for organizing your own events and conferences.

    <div class="box box-cta">
		<h2 class="h3">Awareness</h2>
		<p>As part of the conferences, we developed an awareness concept to create a space that is sensitive to discrimination. We care deeply about creating an environment in which everyone can feel safe and comfortable. You’re welcome to use or adapt this concept for your own events.</p>
        <a href="/en/conference-2022/awareness"
		    <button class="btn-dark">Awareness Concept</button>
	    </a>


		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>

    <div class="box box-cta">
		<h2 class="h3">Sustainable Conference Organization</h2>
		<p>Our belief: An event about sustainability should also reflect these goals in its planning and execution. For example, in the use and provision of digital and analog infrastructures, we paid equal attention to resource conservation, data protection, and the common good. In this spirit, we’re happy to share our information and experiences with you.</p>
        <a href="/en/conference-2018/sustainable-orga"
		    <button class="btn-dark">Sustainable Conference Organization</button>
	    </a>


		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>




    <p>

        Wir wollen explizit nicht, dass der Name für Formate verwendet wird, auf denen sich Tech-Giganten einkaufen können und auf denen Politiker*innen Raum bekommen, für sich und ihre Partei zu werben statt ernsthaft zu diskutieren. 
        Diese Gruppen haben genug andere Möglichkeiten, sich Gehör zu verschaffen, sind aber als mitdenkende Besucher*innen freilich stets willkommen.
        Wir wollen mit allen an diesem Ziel arbeiten, die sich mit ganzem Herzen einer für alle lebenswerten materiellen und immateriellen Welt verschrieben haben.
    </p>
    <p>
        Wenn ihr Anregungen braucht oder hilfreiche Informationen bei uns vermutet, dann meldet euch gerne unter <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a>.
    </p>

</section>
