---
title: Forderungen 2018
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2018/demands/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Konferenz 2018</h3>
	<h1>Forderungen</h1>


	{% for item in content.forderungen2018.items %}
	<div class="box {{ item.style }}">
		
		<h2 class="h3">{{ item.name }}</h2>
		<p>{{ item.content | safe }}</p>

		<div class="box__pixel">
			<img src="{{ item.pixel }}" alt="box" width="50" height="50">
		</div> 
	</div>

	{% endfor %}

</section>