---
title: Presse 2018
metatitle: Pressekontakt 2018
description: Hier findest Du die Presseseite der Bits & Bäume Konferenz 2018
lang: de
layout: layouts/_base.ejs
---

<section class="max-w-5xl">
    <h1>Presse & Öffentlichkeitsarbeit der Bits&Bäume-Konferenz 2018</h1>
</section>
<section class="max-w-3xl" >
	<div>
		<h2 class="h3">Pressekontakt</h2>
		<div class="flex flex-wrap sm:flex-nowrap">
			<div class="testimonial__visual">
				<img class="testimonial__image" src="/assets/images/konferenz2018/nina-rehm.jpg" alt="Beispiel-Portrait" sizes="150px" data-img2picture-widths="150, 300">
				<img class="image_icon" src="/assets/images/pixel-testimonial-1.svg" widht="80" height="40">
			</div>
			<div>
				<p class="quote">„Nina Prehm"</p>
				<p class="quote">+49 (0) 30 884594 48</p>
                <p class="quote">presse@bits-und-baeume.org</p>
			</div>
		</div>
	</div>
    <div>
		<h2 class="h3">Social Media</h2>
		<div class="flex flex-wrap sm:flex-nowrap">
			<div class="testimonial__visual">
				<img class="testimonial__image" src="/assets/images/konferenz2018/jasmin-helm.jpg" alt="Beispiel-Portrait" sizes="150px" data-img2picture-widths="150, 300">
				<img class="image_icon" src="/assets/images/pixel-testimonial-1.svg" widht="80" height="40">
			</div>
			<div>
                <p class="quote">„Jasmin Helm“</p>
                <p class="quote"> </p>
			</div>
		</div>
	</div>


</section>