---
title: Presse 2018
metatitle: Pressekontakt 2018
description: Hier findest Du die Presseseite der Bits & Bäume Konferenz 2018
lang: de
layout: layouts/_base.ejs
---

<section class="max-w-3xl">
    <h1>Presse & Öffentlichkeitsarbeit der Bits&Bäume-Konferenz 2018</h1>
</section>
<section class="max-w-3xl" >
	<div>
		<h2 class="h3">Pressekontakt</h2>
		<div class="flex flex-wrap sm:flex-nowrap">
			<div class="testimonial__visual">
				<img class="testimonial__image" src="/assets/images/galleries/konferenz2018/presse/nina-rehm.jpg" alt="Beispiel-Portrait" sizes="150px" data-img2picture-widths="150, 300">
				<img class="image_icon" src="/assets/images/pixel-testimonial-1.svg" widht="80" height="40">
			</div>
			<div>
				<p class="quote">„Nina Prehm"</p>
				<p class="quote">+49 (0) 30 884594 48</p>
                <p class="quote">presse@bits-und-baeume.org</p>
			</div>
		</div>
	</div>
    <div>
		<h2 class="h3">Social Media</h2>
		<div class="flex flex-wrap sm:flex-nowrap">
			<div class="testimonial__visual">
				<img class="testimonial__image" src="/assets/images/galleries/konferenz2018/presse/jasmin-helm.jpg" alt="Beispiel-Portrait" sizes="150px" data-img2picture-widths="150, 300">
				<img class="image_icon" src="/assets/images/pixel-testimonial-1.svg" widht="80" height="40">
			</div>
			<div>
                <p class="quote">„Jasmin Helm“</p>
                <p class="quote"> </p>
			</div>
		</div>
	</div>

    <section id="gallery" class="container">
        <h2 class="h3">Pressefotos</h2>
        <div class="gallery__thumbnails flex flex-wrap">
            {% for img in galleries.presse2018 %}
            <div class="gallery__thumb">
                {# <a href="{{ img.path }}" target="_blank"> #}
                <a href="/gallery/main/{{ img.path | basefilename }}">
                    {% set imgPath = img.thumbPath | default(img.path) %}
                    {% set altText = img.thumbAlt | default(img.alt) %}
                    <div class="wrapper">
                        <img class="object-cover"
                            src="{% thumbnail imgPath %}"
                            alt="{{ altText }}"
                            sizes="(min-width: 1540px) 375px, 283px"
                            data-img2picture-widths="283,375,566,750"
                            >
                        <div class="overlay">
                            <div class="symbol">+</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>

    <p>Bildlizenz: CC BY Santiago Engelhardt</p>

    <p>Von links: Maria Bossmann (DNR), Hendrik Zimmermann (Germanwatch), Teresa Hoffmann (Brot für die Welt), Vivian Frick (IÖW), Nicolas Guenot (Konzeptwerk Neue Ökonomie), Juliane Krüger (OKF), Sven Hilbig (Brot für die Welt), Anja Höfner (IÖW), Rolf Buschmann (BUND), Leon Kaiser (Netzpolitik.org), Rainer Rehak (FIfF), Constanze Kurz (CCC), Tilman Santarius (TU Berlin)</p>

    <p>Erste Reihe von links: Rainer Rehak (FIfF), Thomas Korbun (IÖW), Rolf Buschmann (BUND), Sven Hilbig (Brot für die Welt), Maria Bossmann (DNR), Constanze Kurz (CCC), Nadine Evers (OKF)
        Zweite Reihe von links: Christoph Bals (Germanwatch), Nina Treu (Konzeptwerk Neue Ökonomie), Tilman Santarius (TU Berlin)</p>

    <h2>Pressemitteilungen</h2>

    {% for item in content.pressemitteilungen2018.items %}
	<div class="box box-infos">
		<h3>{{ item.name }}</h3>
		<p>{{ item.content | safe }}</p>
        <a href="{{ item.url }}">
			<button class="btn-dark">Zur Pressemitteilung</button>
		</a>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>

	</div>
	{% endfor %}

    <div class="box box-links">
		<h2 class="h3">ÖA-Material</h2>
		<ul>
		    <li><a href="/assets/images/oea_material/bits-und-baeume-logo.pdf">Logo mit Titel</a></li>
            <li><a href="/assets/images/oea_material/bits-und-baeume-logo-schrift.pdf">Logo mit Titel und Untertitel</a></li>
            <li><a href="/assets/images/oea_material/bits-und-baeume-logo-konferenzinfos.pdf"> Grafik mit Konferenzinfos</a></li>
            <li><a href="/assets/images/oea_material/bits-und-baeume-logo-programmpunkte.pdf"> Grafik mit Programmpunkten</a></li>
            <li><a href="/assets/images/oea_material/bits-und-baeume-logo-traegerkreis.pdf">Grafik mit Trägerkreis</a></li>
            <li><a href="/assets/images/oea_material/B&B_Plakat_DIN-A1_CC_181108.pdf"> Poster (A1)</a></li>
            <li><a href="https://vimeo.com/user91395992"> Kurzinterviews zur Konferenz von Personen aus dem Trägerkreis</a></li>
        </ul>
	
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

    <div class="box box-links">
		<h2 class="h3">Weitere Informationen zu den Themen der Konferenz</h2>
		<ul>
		    <li><a href="https://www.germanwatch.org/de/thema/digitalisierung">Germanwatch über zukunftsfähige Digitalisierung</a></li>
            <li><a href="https://www.brot-fuer-die-welt.de/ueber-uns/personen/sven-hilbig/">Brot für die Welt zu Digitalisierung und Entwicklungspolitik (Blog Sven Hilbig)</a></li>
          
            <li><a href="https://www.ioew.de/digitaler-wandel/">IÖW zu "Digitaler Wandel"</a></li>
          
            <li><a href="https://www.fiff.de/themen/fair_it">FIfF zu "Faire Computer"</a></li>
 
        </ul>
	
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>



</section>