---
title: Programm 2018
metatitle: Programm 2018
description: Hier findest Du die Programmseite der Bits & Bäume Konferenz 2018
lang: de
layout: layouts/_base.ejs
translation: /en/conference-2018/program/
---

<section class="max-w-3xl">



    <h3>Bits & Bäume-Konferenz 2018</h3>

	<h1>Das Programm</h1>

    <p>Zum ersten Mal werden auf der Konferenz Bits & Bäume zwei Denkwelten zusammengebracht, die sonst noch separat voneinander betrachtet werden. Denn wir wollen, dass sich etwas ändert! Faszinierende Ideen und tolle Leute, Visionen und konkrete Projekte, theoretische Erkenntnisse und praktische Lösungsansätze kommen zusammen, um die Welt nachhaltig zu gestalten.</p>

    <p>Gemeinsam mit euch erarbeiten wir am 17. und 18. November Lösungen für eine nachhaltige Digitalisierung. Die Beteiligung am Call for Participation war riesig. Das Ergebnis: fünf Bühnen, elf Räume, mehr als 120 international besetzte Panels, Talks, Hands-on-Workshops, geheimnisvolles Sporangium, um-die-Ecke-denkender Philosophischer Salon und ein energiegeladenes Abend- und Rahmenprogramm mit Konzert und Apéro. Bei den ausgewählten Beiträgen geht es etwa darum, wie demokratie- und grundrechtsfreundliche Software entwickelt oder wie die Themen Nachhaltigkeit und Menschenrechte durch Technologie gefördert werden können. Das Programm setzt sich zusammen aus den Einreichungen vieler inspirierender Personen, Organisationen und Engagierter sowie einem von dem Bits&Bäume-Team kuratierten Programm.</p>


    <div class="box box-infos">
		<h2 class="h3">Themenschwerpunkte</h2>
        <p>Das Programm teilt sich auf in sieben Themenschwerpunkte mit konkreten
             Fragen und Fachleuten, die so zum ersten Mal miteinander in die Zukunft blicken:</p>
		
        <ul>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#alternatives%20wirtschaften"> Alternatives Wirtschaften</a> : Wie können wir Wirtschaften anders denken? Themen von freier Software über Kooperativismus und alternative Geschäftsmodelle bis hin zur Verantwortung von Unternehmen</li>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#daten%20&%20umwelt"> Daten & Umwelt</a>: Wie kommen Umwelt(schutz) und Datenschutzfragen zusammen? Welche datenbasierten Lösungen gibt es für ökologische Nachhaltigkeit? Wie steht es gerade um die digitale Energiewende?</li>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#die%20ganz%20großen%20fragen"> Die ganz großen Fragen</a>: Wir fragen nach den gesellschaftlichen und ökonomischen Folgen der Digitalisierung. Wir erarbeiten Forderungen, Ansätze, Lösungen. Ein Track mit großer Politik, großen Denkern und noch größeren Utopisten</li>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#die%20materielle%20basis"> Die materielle Basis</a>: Von Rohstoffen über den Fußabdruck bis zu den materiellen Aspekten von Hardware
            </li>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#digitaler%20kapitalismus"> Digitaler Kapitalismus</a>: Der Ort für Kritik an Datenkonzernen, das Thema Automatisierung und die Zukunft der Arbeit</li>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#stadt%20–%20land%20–%20smart"> Stadt – Land – Smart</a>: Reclaim Smartness! Hier geht der Parcour vom Smart Home über neue Stadtkonzepte zu Mobilität und schließlich aufs Land bis zu vernetzter Landwirtschaft</li>
            <li> <a href="https://fahrplan.bits-und-baeume.org/events.html#zivilgesellschaft%20&%20communities%20"> Zivilgesellschaft & Communities</a>: Projekte und Ideen aus der Basis von kleinen Open-Source-Umwelt-Apps bis zu großen Handreichungen für erfolgreichen Aktivismus</li>
        </ul>

		
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

    <h2>Smart City, alternatives Wirtschaften oder Wandel des digitalen Kapitalismus: 
        Fünf große Panels bilden den Rahmen</h2>

    <p>Constanze Kurz, Sprecherin des Chaos Computer Clubs und 
        Tilman Santarius von der Technischen 
        Universität Berlin und dem Institut für ökologische
         Wirtschaftsforschung eröffnen die Konferenz. Warum bringt 
         Bits & Bäume Techies, Ökos und digitale Menschenrechtler*innen 
         zusammen? Wie kann Digitalisierung zur nachhaltigen 
         Transformation der Gesellschaft und des Wirtschaftens beitragen? 
         Wie kann Nachhaltigkeitsdenken die Techie-Szene inspirieren,
          sodass die Digitalisierung langfristig Bürgerrechte und 
          individuelle Freiheiten garantiert? Das Eröffnungspodium erklärt,
           warum jetzt der historische Moment ist, um in einer offenen Vernetzungskonferenz das Thema Digitalisierung und Nachhaltigkeit auf die öffentliche und politische Agenda zu hieven. Anschließend freuen wir uns auf die Keynote von Prof. Dr. Lorenz Hilty der Universität Zürich.</p>

    <p>Auf dem ersten Bits&Bäume-Panel 
        diskutieren anschließend unter anderem Claude Kabemba von Southern Africa Resource Watch und Jenny Chan, Ko-Autorin von „Dying for an iPhone“ darüber, wie viele Ressourcen der Aufbau digitaler Infrastrukturen kostet oder welchen sozialen und ökologischen Fußabdruck die Digitalisierung hat. Wie schwer wiegt ein Bit?</p>

    <p>Unter welchen Bedingungen die Digitalisierung Chancen für den Übergang in eine nachhaltige, lokale und kooperative Ökonomie bietet, erörtern Commons-Spezialistin Silke Helfrich (Commons Strategies Group), Johannes Heimrath (oya) und Cloud-Programmierer Frank Karlitschek (Nextcloud) auf dem Podium: Digitalisierung und Degrowth. Wege zu einem enkeltauglichen Wirtschaften?</p>

    <p>Was sind Folgen des technischen Fortschritts und wie können alle Menschen von ihm profitieren? Wie können Machtasymmetrien und Monopole verhindert werden? Oder ist die Digitalisierung der Wirtschaft ein Segen, weil sie den Kapitalismus transformiert? Diese Fragen prüfen Hacker Frank Rieger und der Träger des Alternativen Nobelpreises Pat Mooney in einer Diskussion zur Kritik am digitalen Kapitalismus. Von Tech-Monopolen und IT-Giganten: Kritik des digitalen Kapitalismus</p>


    <p>Sweelin Heuss, Geschäftsführerin von Greenpeace Deutschland und Cathleen Berger von Mozilla diskutieren in der Session Datenschutz und digitale Rettung der Welt - Wo verlaufen die roten Linien?, wie Kernanliegen der Nachhaltigkeitsbewegung mit Datenschutz zusammengebracht werden können. Was bedeuten die neuen Technologien für unsere Privatsphäre?</p>


    <p>Wie die Digitalisierung die Städte verändert und wie Städte die Digitalisierung für ihre Zwecke nutzen können, wird im Bits&Bäume-Panel Reclaim Smart City! betrachtet. Eva Blum-Dumontet (Privacy International), Stefan Kaufmann (Projektleiter Verschwörhaus, Stadt Ulm) und Sybille Bauriedl (Stadtsoziologie und Nachhaltigkeit, Europa-Universität Flensburg) fragen etwa: Was ist „Smart City“? Welchen Stellenwert hat die Smart City im Kontext aktueller Herausforderungen für Städte und welche Alternativen gibt es? Wie geht Fairness und Emanzipation in Systemen, wie sieht Partizipation und Datenschutz auf konkreter Projektebene aus?</p>

    <p>Auf dem Abschlusspanel lassen wir zwei Tage voller Workshops, Talks, Diskussionen und Vernetzung Revue passieren: Was haben wir gelernt? Welche Fragen sind offen geblieben – oder gar neu dazugekommen? Wo können die Communities bewegungsübergreifend zusammenarbeiten? Und vor allem auch: Was für Schlussfolgerungen lassen sich aus der Konferenz und dem Thema Digitalisierung und Nachhaltigkeit ziehen, und welche Gestaltungsvorschläge und Forderungen erwachsen daraus für Politik, Zivilgesellschaft, Unternehmen, Nutzer*innen und Öffentlichkeit?</p>


    <h2>
        Zwischen „Sporangium“ und Philosophischem Salon: Ein vielfältiges Spektrum der Formate
    </h2>

    <p>
        8 Mikrokosmen, 8 Expert*innen, je 8 Minuten Zeit – „Sporangium“ heißt Nerd- und Fachwissen wie aus Sporenkapseln mit hoher Geschwindigkeit in die Welt katapultiert, so bunt wie Slams, so dicht wie Lightning Talks. Arne Semsrott beleuchtet „Transparenz und andere Hürden der Demokratie“, Benjamin Kees entlarvt „Computer, die auf Menschen starren“. Katika Kühnreich spielt das Spiel mit den Social-Credit-Scores und Leon Kaiser flüstert: „Blockchain. Ein Gespenst geht um!“. Datenvisualisierungswissenschaftlerin Letty zeigt, wie sich beispielsweise Klimadaten überhaupt begreifen lassen, obwohl uns die Sinne dafür fehlen, Antina Sander fordert: Natürlich 100% erneuerbare Energien!
    </p>

    <p>
        Mehr Zeit für die ganz großen Fragen bleibt beim Philosophischen Salon – Wie digital eine wirklich zukunftsfähige Gesellschaft sein wird, erörtern unter anderem Bestsellerautor Harald Welzer und der niederländische Low-Tech-Experte Kris de Decker.
    </p>

    <h2>Digitalisierung und Nachhaltigkeit: Einreichungen für eine bessere Welt</h2>

    <p>Unglaubliche 231 Einreichungen gingen bei uns ein. Vom Umwelt-Aktivisten bis zur Programmiererin oder vom Nachhaltigkeits-Wissenschaftler bis zur digitalen Menschenrechtlerin gestalten nun viele Engagierte das Programm mit. „Bits for SDGs“, „Wie weh tut ein Bit? Sozialbilanz des Digitalen“, „Welchen Beitrag leisten Unternehmen zu einer nachhaltigen Digitalisierung?“, „Recycling im Digitalen Zeitalter“, „Einfluss von Software auf den Ressourcenverbraucht“, „Care und Grundeinkommen vor dem Hintergrund von Digitalisierung und Degrowth“, „Meine Stromdaten und ich“ oder „Bits, Bienen und Bäche – Bilanz nach 10 Jahren Digitalisierung in der Landwirtschaft“ – um nur einige der spannenden und inspirierenden Workshops, Vorträge oder Diskussionsrunden zu nennen.
        Hier geht’s zum ausführlichen Programm</p>

    <h2>Pulsierendes Forum fördert Kennenlernen und Vernetzen</h2>

    <p>
    Das Forum ist der richtige Ort für entspannte Gespräche jenseits des Konferenzprogramms oder um gemeinsame Aktionen auszuhecken. An beiden Tagen präsentieren sich hier über das Programm hinaus sozial-ökologisch/technisch/aktivistische ausgerichtete Initiativen, Vereine, Organisationen und Netzwerke, sodass ein gemeinsamer Ort des Austauschs entstehen kann – umringt von Installationen und Ständen. Mit dabei sind unter anderem Electronics Watch, Mundraub, Transformation Design Kitchen, Fairmove IT, Grüne Liga, Free Software Foundation Europe, OpenSourceEcology, Stadt Land Smart, Travel Transform, Sukuma, Robin Wood, Nager IT, Freifunk, Hostsharing e.G., nachhaltig.digital. Der „Chatraum" ist außerdem immer frei als Rückzugsort zur Vernetzung – und um die Revolution zu planen.
    </p>

    <h2>Chillout und Diskussion im Bits&Bäume-JugendForum</h2>

    <p>
    Ins Bits&Bäume-JugendForum sind insbesondere alle eingeladen mit Interesse für Jugendprojekte, um sich kennenzulernen, in Workshops zusammen zu denken, eigene Projekte zu entwickeln oder auch selbst Projekte vorzustellen. Bei Chillout & Diskussion stellen sich Vereine und Initiativen vor. Beispielsweise kommen: NaturfreundeJugend, Jugend hackt, die Demokratielabore, Chaos macht Schule, das youpaN oder der an Schulen fahrende Turing-Bus. Mit den Demokratielaboren könnt ihr kleine digitale Twine-Spiele zur Nachhaltigkeit entwickeln oder eine QR-Code-Rallye vor Ort erleben. Alle Angebote sind hier offen ab 12 Jahre, aber ohne Altersbeschränkung.
    </p>

    <h2>Die Konferenz feiert: Beats&Bäume-Konzert und Apéro</h2>

    <p>
    Anarcho-Jodler*innen und Protestgeiger? Auch das könnt ihr auf der Bits & Bäume erleben: Am Samstagabend entspannen wir nach einem Tag mit praktischen und theoretischen Leuchtfeuern des Aktivismus zu Live-Musik und Getränken. Wir freuen uns auf motivierend-utopistische, humorvoll-kritische Texte von „Esels Alptraum – das antikapitalistische Jodel-Duo“ und dem linken Geiger aus der Rigaer Straße „Paul Geigerzähler“ im projektionsverzauberten Lichtraum. Freut euch außerdem mit uns auf DJ-Musik von Benks, Ipek, Tasmo und #42!
    </p>

    <p>
    Die Konferenz wird als Livestream übertragen und für alle Rahmenpanels der Bits&Bäume gibt es eine Übersetzung ins Deutsche und Englische.
    </p>

</section>
