---
title: Bits & Bäume - Termine
description: Termine der Bits & Bäume Community
layout: layouts/_base.ejs
tags: termine, kalender, calendar
lang: en
translation: /termine/
---

<section class="max-w-3xl">
<h1>Events</h1>
	<p>
You can find all Bits & Bäume events and other thematically related activities in our <a href="https://bits-und-baeume.org/kalender">calendar</a>, which you can also <a href="https://wiki.bits-und-baeume.org/it/kalender/start">subscribe to</a>.

		</p>
		<p>
You're welcome to suggest your own events or other interesting ones <a href="https://bits-und-baeume.org/kalenderinput">here</a>.
		</p>


	</p>

<b>Community Meetings</b>
Our monthly community meetup usually takes place on the first Thursday of each month and is announced <a href="https://discourse.bits-und-baeume.org/tag/vernetzungstreffen">here</a>.
<h3>Calender</h3>
<p>Our own B&B events are marked in green, and B&B-related ones in blue.</p><iframe width="105%" height="550" src="https://cloud.bits-und-baeume.org/apps/calendar/embed/HSQmRMc9dmB755CK-Xfe4s2Cfz8ZiMii4/listMonth/now"></iframe>

<a href="https://bits-und-baeume.org/kalender">View full-screen calendar</a>
<h3>Past Events</h3>

You can find an overview of past events <a href="{{ site.url }}/en/events/">here</a>.
</section>

