---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /konferenzen/
---



<section class="max-w-3xl">

	<h1>The Bits & Bäume Conferences</h1>

	<p>The Bits & Bäume movement emerged from the two major conferences held in 2018 and 2022. These conferences, which brought together over 4,000 participants, provided a platform for various actors from civil society and academia to exchange and develop ideas for shaping digitalization in a socially just and sustainable way.<br><br>
Feel free to browse through the conference pages to get an impression for yourself—there are many exciting and still highly relevant contributions!</p>


	<div class="box box-infos">
		<h2 class="h3">The 2022 Conference</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/B&B-2022_CCBY-SilkeMayer_IMG175.jpg"
				alt="Diskussionen über mögliche Strategien für das Superwahljahr 2024"	
			>
			<figcaption> &copy; 2022 Silke Mayer </figcaption>
		</div>
	</div>
		<p>From September 30 to October 2, 2022, the second Bits & Bäume Conference took place on the TU Berlin campus, bringing together over 2,500 participants. Compared to the first conference, the program was significantly expanded, with a stronger focus on political work and international topics. The event was complemented by a diverse cultural program.
		</p>
		<a href="{{ site.url }}/en/conference-2022/">
			<button class="btn-dark">Conference Page 2022</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">The 2018 Conference</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/BuB2018_(011)_CCBY-SantiagoEngelhardt.jpg"
				alt="B&B 2018"
			>
			<figcaption> &copy; 2018 Santiago Engelhardt </figcaption>
		</div>
	</div>
		<p>On November 17 and 18, 2018, the first Bits & Bäume Conference took place on the TU Berlin campus. More than 2,000 participants from the tech and environmental communities came together to take part in a diverse program featuring over 120 contributions. The event aimed to foster a closer connection between digitalization and sustainability.
		</p>
		<a href="{{ site.url }}/en/conference-2018/">
			<button class="btn-dark">Conference Page 2018</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>






</section>

