---
title: Bits & Bäume - Forderungen
metatitle: Bits & Bäume - Forderungen
description: "Alle Forderungen der Bits & Bäume Bewegung im Überblick"
layout: layouts/_base.ejs
lang: en
translation: /forderungen/
---


<section class="max-w-3xl">

    <h1>Demands</h1>

	As Bits & Bäume, we bring together many experts in the fields of digitalization and sustainability. We use this expertise to advocate for concrete demands towards politics and society for a sustainable and socially just digitalization. Feel free to browse through various catalogs of demands that have been created over the course of the Bits & Bäume movement.


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
			src="{% thumbnail 'assets/images/forderungen2025-cover-schmal.png' %}"
			alt="Cover der Forderungen 2025"
			sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
			data-img2picture-widths="485,702"
			>
			&nbsp; &nbsp; &nbsp; <a target="blanc" href="{{ site.url }}/assets/images/pdfs/Bits-und-Baeume_Politische-Forderungen-2025.pdf">
				<button class="btn-dark">Demands (PDF, DE)</button>
			    </a> <br>
			&nbsp; &nbsp; &nbsp; <a target="blanc" href="{{ site.url }}/assets/images/pdfs/Bits-und-Baeume_Politische-Forderungen-2025-Kurzfassung.pdf">
				<button class="btn-dark">Short version (DE)</button>
			</a> <br>
			&nbsp; &nbsp; &nbsp; <a target="blanc" href="{{ site.url }}/posts/forderungen-bundestagswahl-2025-html">
				<button class="btn-dark">Demands (HTML, DE)</button>
			</a>  <br> <br>
			&nbsp; &nbsp; &nbsp; <a href="{{ site.url }}/posts/bundestagswahl-2025-forderungen/">Press release (DE)</a>

		</div>

		<div class="text w-full md:w-3/5">
Demands for the 2025 Federal Election:
			<h3>Digital Sovereignty and Future Through Democratic Control!</h3>
The digital transformation is in full swing. It impacts the climate and environment, social cohesion, our working world, democracy, and international cooperation. It is clear that political frameworks are needed to harness the potential of digitalization for a socially just and sustainable future. In seven key demands, we call on the future federal government to set the course for a sustainable and socially just digitalization.
			
		</div>
		
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-img.svg" alt="box" width="50" height="40">
		</div>
	</div>

	<div class="box box-infos">
		Demands of the Bits & Bäume Conference 2022
		<h2 class="h3">Making digitalisation sustainable and fit for the future.</h2>

		<p>We demand: Digitalization must serve social and ecological transformation. Digital technologies should improve living conditions and protect the environment—by enabling societal participation and operating within planetary boundaries. However, increasing energy consumption, resource extraction, and a lack of inclusion in the Global South are exacerbating existing crises. With this appeal, 13 organizations from the fields of environmental, digital, and development policy, as well as science, call on the German government, the EU, and global actors to take action. At the Bits & Bäume Conference 2022, we present over 60 demands across five key themes.
		</p>
		<a href="{{ site.url }}/assets/images/pdfs/Bits_und_Baeume_Political_Demands_english.pdf">
		<button class="btn-dark">Demands (PDF)</button></a>
		</a>
		<a href="{{ site.url }}/en/conference-2022/demands/#heading">
		<button class="btn-dark">Demands (HTML)</button>
		</a>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Demands of the Bits & Bäume Conference 2018</h2>
		<p> Following the Bits & Bäume Conference 2018, we collaboratively developed political demands focusing on a socially and ecologically responsible digitalization. Our demands include the promotion of democratic processes, the protection of data, the control of digital monopolies, and the sustainable design of digital infrastructure. An accompanying book delves deeper into these demands and provides solutions for a just digital future.
		</p>
		<a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">
		<button class="btn-dark">Book (DE)</button>
		</a> 
		<a href="{{ site.url }}/en/conference-2018/demands/">
		<button class="btn-dark">Demands</button>
		</a>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>



