---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /events/
---



<section class="max-w-3xl">


	<h1>Past Bits & Bäume Events</h1>
<p> In addition to the major conferences, smaller events also take place. On this page, you will find an overview of past events. Upcoming events can be found under <a href="{{ site.url }}/termine/">Dates</a>.<br><br></p>
	<div class="box box-infos">
<h2 class="h3">March 6, 2025, Bits & Bäume Policy Lab - Digital Sovereignty for a Resilient Democracy!</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/posts/25_policy-lab.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
At the Bits & Bäume Policy Lab, we came together to discuss the implementation of digital sovereignty with experts and politicians. The contributions of our four speakers, Katharina Nocun, Cecilia Rikap, Adriana Groh, and Alexandra Geese, were well-coordinated and left us reflecting on their messages. The political influence of large tech corporations is increasingly becoming a threat to our democracy. If we want to address this threat appropriately, we must initiate profound concepts and solutions and push forward digital sovereignty, the decoupling from Big Tech, as well as the long-overdue demands "Public Money, Public Code" & "Public Money, Public Good" with determination.		</p>
		<a href="{{ site.url }}/posts/policy-lab-2025-rueckblick/">
			<button class="btn-dark">Go to Review (DE)</button>
		</a><br>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


	<div class="box box-infos">
<h2 class="h3">December 5, 2024, Digital Policy Winter Evening: Mulled Wine, Cookies, and Government Change – A New Opportunity for Sustainable Digitalization</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/jahresabschluss24.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
On December 5, 2024, we gathered at the Weizenbaum Institute for the Bits & Bäume – Annual Review. Under the motto "Mulled Wine, Cookies, and Government Change – A New Opportunity for Sustainable Digitalization," we looked back at the past year of digital policy and the coalition government. During a fireside chat, we took stock and then discussed with the community what we expect from the next federal government for a sustainable and socially just digitalization. Over mulled wine and a buffet, we continued the discussions and wrapped up the evening.		</p>
		<a href="{{ site.url }}/posts/jahresabschluss24/">
			<button class="btn-dark">Go to Review (DE)</button>
		</a><br>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>



	<div class="box box-infos">
<h2 class="h3">October 20, 2024, Digital Policy Autumn Evening: Who Owns the Internet? – Power, Ownership, and the Democratization of Digital Infrastructures</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/24herbstabend_podium.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
In October 2024, we hosted our digital policy autumn evening in Frankfurt am Main. Under the title "Who Owns the Internet? – Power, Ownership, and the Democratization of Digital Infrastructures," we discussed the question of who controls our digital infrastructures. Francesca Bria, in her keynote, spoke about the political opportunities within the EU, while Esther M’wema examined the privatization of digital infrastructures in Africa from a decolonial perspective. The topics were further explored in workshops. We wrapped up the evening with conversations and lively discussions.		</p>
		<a href="{{ site.url }}/blog/herbstabend24/">
			<button class="btn-dark">Go to Review (DE)</button>
		</a><br>
		<a href="https://youtube.com/live/zSAcnSKw-jQ">
			<button class="btn-dark">Go to Stream</button>
		</a><br>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


	<div class="box box-infos">
<h2 class="h3">April 29, 2024, Digital Policy Spring Evening: Disinformation, Hate Speech, and Radicalization: Right-Wing Practices in the Digital Space and Possible Courses of Action</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/frühlingsabend24.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
At our digital policy spring evening on the topic "Disinformation, Hate Speech, and Radicalization: Right-Wing Practices in the Digital Space and Possible Courses of Action" in April 2024, we addressed the current right-wing shift in lectures and workshops. We examined how right-wing actors position themselves in digital spaces, how they contribute to the polarization of societal discourse, and how they specifically incite against climate activists. In discussions, we also talked about which (political) measures could be taken to counteract this.		</p>
		<a href="https://bits-und-baeume.org/fr%c3%bchlingsabend24/">
			<button class="btn-dark">Go to Review (DE)</button>
		</a><br>
		<a href="https://bits-und-baeume.org/interview_tiktok/">
			<button class="btn-dark">Interview on the Rise of the AfD on TikTok (DE)</button>
		</a>

		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
<h2 class="h3">February 19, 2024, Digital Policy Winter Evening: No Power to Tracking – Platform Regulation for the Common Good, Consumer Protection, and Sustainability</h2>		
Tracking and personalized advertising are among the most lucrative industries in the digital age – and often deeply invade our privacy to create detailed profiles and push us towards more consumption through personalized ads. Additionally, studies show that tracking can account for a large portion of the data and energy consumption of apps and platforms. At our second digital policy winter evening on February 19, 2024, we focused on how platforms, tracking, and personalized advertising can be regulated in a way that serves the climate, the environment, and the common good, especially with an eye on the 2024 European elections, through lectures and workshops.		</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
<h2 class="h3">December 27-30, 2023, Bits & Bäume at the Chaos Communication Congress 2023</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/37c3_habitat.png"
				alt="B&B beim CCC 23"
			>
		</div>
	</div>
At the end of 2023, the Chaos Communication Congress took place for the first time since 2019. From December 27 to 30, we participated with Bits & Bäume at the Congress Center in Hamburg. Together with 27 other organizations, we created a habitat with a workshop area and a sofa corner. In the habitat, we offered regular community meetings, among other things.		</p>
		<a href="https://bits-und-baeume.org/37c3_rueckblick/">
			<button class="btn-dark">Go to Review (DE)</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
<h2 class="h3">December 4, 2023, First Digital Policy Winter Evening</h2>

As a community, B&B steering group, and friends of the network, we gathered on December 4, 2023, for the first digital policy evening to engage in political discussions and make plans and strategies for the new year. In the inputs, workshops, and discussions, we particularly focused on European and global struggles related to digitalization and sustainability. With vegetarian snacks, drinks, and light art, we then relaxed and wrapped up the evening, as well as our digital policy year 2023.		</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>







	<div class="box box-infos">
<h2 class="h3">August 15-19, 2023, Chaos Communication Camp</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/BuBCampSign.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
From August 15-19, 2023, the Chaos Communication Camp took place. Bits & Bäume, together with about:freedom, created a habitat – an inclusive space with a community lounge tent, stage, content program, and space for camping, networking, and exchanging ideas on digitalization and sustainability, digital human rights, information freedom, free software, and social justice.		</p>
		<a href="https://media.ccc.de/c/camp2023/Bits%20&%20B%C3%A4ume"><button class="btn-dark">Recordings</button></a>
		<a href="https://events.ccc.de/camp/2023/hub/camp23/de/assembly/bitsundbaeume_aboutfreedom/"><button class="btn-dark">Go to Habitat Page</button></a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>





	<div class="box box-infos">
<h2 class="h3">June 16-17, 2023, B&B Conference NRW</h2>
On June 16 and 17, 2023, the Eine Welt Netz NRW organized its own Bits & Bäume conference in Münster. The conference was held to bring together people from the sustainability and technology sectors in NRW and to promote a sustainable approach to digitalization for achieving the 2030 Agenda. With over 100 participants, the conference explored global perspectives, as well as ecological, economic, and social aspects of sustainability.		</p>
		<a href="https://nrw.bits-und-baeume.org/bits-baeume/rueckblick-2023">
			<button class="btn-dark">Go to Review (DE)</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>





	<div class="box box-infos">
<h2 class="h3">The 2022 Conference</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/B&B-2022_CCBY-SilkeMayer_IMG175.jpg"
				alt="Diskussionen über mögliche Strategien für das Superwahljahr 2024"	
			>
			<figcaption> &copy; 2022 Silke Mayer </figcaption>
		</div>
	</div>
From September 30 to October 2, 2022, the second Bits & Bäume conference took place at the TU Berlin campus, with over 2500 participants. Compared to the first conference, the program was significantly expanded and focused more on political work and international topics. The conference was complemented by a cultural program.		</p>
		<a href="https://bits-und-baeume.org/en/conference-2022/">
			<button class="btn-dark">Conference Page 2022</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>






	<div class="box box-infos">
<h2 class="h3">September 30 - October 1, 2022, Bildung, Bits & Bäume</h2>
On September 30 and October 1, 2022, the Education, Bits & Bäume Festival for Digitalization and Sustainability in Education took place in Berlin. Students, teachers, and faculty from educational programs, school staff, and various initiatives and organizations gathered to rethink and redesign learning. Framed by a diverse program, engaging panels, lectures, and numerous interactive workshops provided opportunities for discussion. Experiences were shared, and ideas were developed on how to bring future topics related to sustainability and digitalization into schools.		</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
<h2 class="h3">2019 - 2020, The Forum Bits & Bäume: Workshop for Sustainable Digitalization</h2>		
The Forum Bits & Bäume built upon the Bits & Bäume Conference 2018. The event series provided an open space for discussion to bring the sustainable design of digitalization into focus and to incorporate scientific and civil society topics and demands into the political discourse. Key themes of the events included AI for sustainable development, sustainable hardware and software, and the digital energy transition. The Forum Bits & Bäume was organized by the scientific research group "Digitalization and Socio-Ecological Transformation" from IÖW and TU Berlin, in cooperation with the Einstein Center Digital Future and other changing partners.		</p>
		<a href="https://www.tu.berlin/transformation/veranstaltungen/vergangene-veranstaltungen/gespraechsreihe-forum-bits-baeume-2018-2021">
			<button class="btn-dark">More Info</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
<h2 class="h3">The 2018 Conference</h2>
	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/BuB2018_(011)_CCBY-SantiagoEngelhardt.jpg"
				alt="B&B 2018"
			>
			<figcaption> &copy; 2018 Santiago Engelhardt </figcaption>
		</div>
	</div>
On November 17 and 18, 2018, the first Bits & Bäume conference took place at the TU Berlin campus. Over 2000 participants from the tech and environmental sectors came together to engage in a diverse program with over 120 contributions, aiming to bring digitalization and sustainability closer together.		</p>
		<a href="https://bits-und-baeume.org/en/conference-2018/">
			<button class="btn-dark">Conference Page 2018</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


</section>

