---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /
---

<section class="max-w-7xl">
	<h1>Bits & Bäume</h1>
	<h2>The movement for digitalisation and sustainability</h2>

	<p>
        What role does sustainability play for stable tech communities? What ecological opportunities do digital applications offer for climate protection and resource conservation? What types of digitalisation are opposed to these goals or are even counterproductive? How can the digital society be shaped democratically and justly and at the same time be geared towards peacefully preserving the foundations of our life on this planet?
	</p>

</section>


<section class="container max-w-7xl">
	<h2 class="h3">News</h2>
	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-1/4 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Bits & Bäume 2022</h2>
				<p>The Bits & Bäume 2022 conference on digitalisation and sustainability in Berlin is entering its second round.</p>

                <a href="/konferenz-2018/">
					<button class="btn-dark">More infos</button>
				</a>
			</div>
		</div>



		<div class="w-full lg:w-1/4 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Tickets</h2>
                <p>The countdown is on. Get your ticket now before <b>20.9.</b> After this date we cannot guarantee you a ticket.</p>
                <a href="https://events.fairetickets.de/gedlv/">
					<button class="btn-dark">To the ticket shop</button>
				</a>

			</div>
		</div>


		<div class="w-full lg:w-2/4 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Engel</h2>
                <p>
                    To make Bits & Trees 22 possible, we are still looking for lots of helpers. We see ourselves as a participatory conference and offer not only a look behind the scenes of Bits & Trees, but also free entry on all three days, food and of course lots of fun! Just sign up for the shifts in our  <a href="https://engelsystem.de/bub/login" target="blanc">Engelssystem</a>. We are very much looking forward to seeing you!
                </p>

                <a href="https://engelsystem.de/bub/login">
					<button class="btn-dark">Become an angel!</button>
				</a>
			</div>
		</div>

	</div>
</section>

<section class="max-w-7xl">

<h3>Events</h3>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
						src="{% thumbnail 'assets/images/konferenz_forum.jpg' %}"
						alt="Sprecher mit Mikrofon"
			>
			<!--			sizes="(min-width: 780px) 280px, 93.04vw"
						data-img2picture-widths="280,400,670,800"
			-->
			</div>
			<div class="text w-full md:w-3/5">
				<h2 class="h3">Bits & Bäume 2022</h2>
				<h3>The Conference for Digitalisation and Sustainability in Berlin</h3>
				<p>
					📅 30.09.-02.10.2022</br>
					📍 <a href="https://www.openstreetmap.org/way/40451892">TU Berlin</a></br>
					🎟️ <a href="https://bits-und-baeume.org/tickets">Tickets</a></br>
					💪 <a href="https://engelsystem.de/bub/login">Helping</a></br>
				</p>
				<p>After the successful first Bits & Trees Conference 2018, the topics of digitalisation and sustainability are more present in our society today than ever before. We are facing major social and global challenges for a just and sustainable shaping of our (surrounding) world. Therefore, we would like to broaden and consolidate the networking of environmental and justice activists, technology experts and human rights activists with the Bits & Trees 2022 conference from 1 to 2 October 2022. A kick-off event will take place on the evening of 30 September.</p>
				<a href="/konferenz-2022/">
					<button class="btn-dark">zur Konferenz</button>
				</a>
			</div>
			<div class="box__pixel">
				<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
			</div>
		</div>

	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/bildung_bits_baeume.png' %}"
				alt="Sprecher mit Mikrofon"
			>
			<!--	sizes="(min-width: 780px) 280px, 93.04vw"
				data-img2picture-widths="280,400,670,800"
			-->
		</div>
		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bildung, Bits Bäume</h2>
			<h3>Festival for Digitisation and Sustainability in Education</h3>
			<p>
				📅 30. September und 1. Oktober 2022</br>
				📍 TU Berlin, Marchstraße 23, 10587 Berlin</br>
			</p>
			<p>A two-day learning festival for students and lecturers of pedagogical study programmes, teachers and school administrators, pupils and all those who want to rethink and re-do learning. Let's develop concrete ideas together on how to bring future topics around sustainability and digitalisation into schools!</p>
			<a href="https://bildung-bits-baeume.org/">
				<button class="btn-dark">More infos</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>





</section>




