---
title: Bits & Bäume - The conference for digitalisation and sustainability
description: 2022-09-30 – 2022-10-02, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /
---

<section class="max-w-7xl">
	<h3>Bits &amp; Bäume 2022:  Sept. 30th – Oct. 2nd, TU Berlin </h3>
	<h2>The conference for digitalisation and sustainability</h2>

	<p>

	Bits &amp; Bäume 2022 covers topics at the intersection between the areas of sustainability and digitalisation. They range from interconnected mobility, the resource and energy consumption of digital devices, data sufficiency and cooperative platform economies to issues around smart energy 	grids and the tendency towards monopolisation in the digital economy.

        <!-- Alter Text: What role does sustainability play for stable tech communities? What ecological opportunities do digital applications offer for climate protection and resource conservation? What types of digitalisation are opposed to these goals or are even counterproductive? How can the digital society be shaped democratically and justly and at the same time be geared towards peacefully preserving the foundations of our life on this planet?-->
	</p>

	<div style="position: relative;">
		<img src="/assets/images/20220930_0001_export.jpg" title="Presentation of the supporting organizations (Trägerkreise). Photo from the launch event 30th September, 2022" alt="Presentation of the supporting organizations (Trägerkreise). Photo from the launch event 30th September, 2022">
		<div style="position: absolute; font-size: min(32px, 2.5vw); line-height: 1; font-weight: 700; top: 12%; left: 2.5%; text-shadow: rgba(255, 255, 255, 0.6) 0px 5px 21px;">
			<span style="font-size: min(64px, 5vw); line-height: 1;">„</span>
			<div style="display: inline-block;">In times of crisis, strong movements<br>with big ideas are needed.</div>
			<div style="position: relative; top: max(-20px, -1.5vw); display: inline-block;"><span style="font-size: min(64px, 5vw); line-height: 1;" style="position: relative;">“</span></div>
		</div>
	</div>

</section>


<section class="container max-w-7xl">
	<h2 class="h3">News</h2>
	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-5/12 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Bits &amp; Bäume 2022 Program</h2>
				<p>All talks, workshops, forum contributions and the cultural program is available in our <b>»Fahrplan«</b> (schedule).</p>

                <a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/schedule/">
					<button class="btn-dark">Conference program</button>
				</a>

				<p>
				<br>

				The conference program is also available as app:
				<ul>
					<li><a href="https://f-droid.org/de/packages/info.metadude.android.bitsundbaeume.schedule/">
					f-droid.org/...
					</a>
					</li>
					<li><a href="https://play.google.com/store/apps/details?id=info.metadude.android.bitsundbaeume.schedule&gl=DE">
					play.google.com/...
					</a>
					</li>
					<li><a href="https://apps.apple.com/us/app/bits-b%C3%A4ume/id1441054315">
					apps.apple.com/...
					</a>
					</li>
				</ul>
				</p>
			</div>
		</div>


        <div class="w-full lg:w-1/4 flex flex-col">
            <div class="box box-blue box-infos m-4 flex-1">
                <h2 class="h3">Hygiene</h2>
                <p> During the conference, masks are strongly recommended and testing is compulsory. (We also accept private tests: For this you need a photo of yourself with the negative test and the days digital time stamp.)
                </p>
            </div>
        </div>


		<div class="w-full lg:w-4/12 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Engel</h2>
                <p>
                    To make Bits &amp; Trees 22 possible, we are still looking for lots of helpers. We see ourselves as a participatory conference and offer not only a look behind the scenes of Bits &amp; Trees, but also free entry on all three days, food and of course lots of fun! Just sign up for at least one four-hour-shift in our  <a href="https://engelsystem.de/bub/login" target="blanc">Engelssystem</a>. Of course you can choose more :-). We are very much looking forward to seeing you!
                </p>

                <a href="https://engelsystem.de/bub/login">
					<button class="btn-dark">Become an angel!</button>
				</a>
			</div>
		</div>

		<div class="w-full lg:w-2/12 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Tickets</h2>
                <p>
                The clock is ticking. Get your ticket now, as long as they are available!
                </p>
                <a href="https://events.fairetickets.de/gedlv/">
					<button class="btn-dark">To the ticket shop</button>
				</a>

			</div>
		</div>



		<div class="w-full lg:w-6/12 flex flex-col">
            <div class="box box-info m-4 flex-1">
                <h2 class="h3">Bits & Bäume Journal 2022</h2>
                <p>
                Help us carry your topics into the world! In our Bits & Bäume Journal, we want to bring together your extensive knowledge, expand it and make it understandable for everyone. Use the conference to get to know exciting fellow activists and join forces for a joint contribution. Don't be shy, we will be happy to support you if you don't have any publishing experience yet! Click here for more information:
				</p>
                <a href="/assets/images/pdfs/Journal_CallForContributions_EN_online_20220927015654.pdf">
                    <button class="btn-dark">To the Call for Contributions</button>
                </a>
            </div>
        </div>

        <div class="w-full lg:w-4/12 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Party and Culture</h2>
				<p>Of course, a varied cultural program is also provided. Music, readings and theater. What more could you want? We are looking forward to plenty of music on Friday and Saturday and an <b>unforgettable closing party on Sunday</b>.
				</p>

                <a href="/en/conference-2022/program#culture">
					<button class="btn-dark">Learn more</button>
				</a>


			</div>
		</div>



	</div>
</section>

<section class="max-w-7xl">

<h3>Events</h3>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
						src="{% thumbnail 'assets/images/konferenz_forum.jpg' %}"
						alt="Sprecher mit Mikrofon"
			>
			<!--			sizes="(min-width: 780px) 280px, 93.04vw"
						data-img2picture-widths="280,400,670,800"
			-->
			</div>
			<div class="text w-full md:w-3/5">
				<h2 class="h3">Bits &amp; Bäume 2022</h2>
				<h3>The Conference for Digitalisation and Sustainability in Berlin</h3>
				<p>
					📅 30.09.-02.10.2022</br>
					📍 <a href="https://www.openstreetmap.org/way/40451892">TU Berlin</a></br>
					🎟️ <a href="https://bits-und-baeume.org/tickets">Tickets</a></br>
					💪 <a href="https://engelsystem.de/bub/login">Helping</a></br>
				</p>
				<p>After the successful first Bits &amp; Trees Conference 2018, the topics of digitalisation and sustainability are more present in our society today than ever before. We are facing major social and global challenges for a just and sustainable shaping of our (surrounding) world. Therefore, we would like to broaden and consolidate the networking of environmental and justice activists, technology experts and human rights activists with the Bits &amp; Trees 2022 conference from 1 to 2 October 2022. A kick-off event will take place on the evening of 30 September.</p>
				<a href="/konferenz-2022/">
					<button class="btn-dark">zur Konferenz</button>
				</a>
			</div>
			<div class="box__pixel">
				<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
			</div>
		</div>

	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/bildung_bits_baeume.png' %}"
				alt="Sprecher mit Mikrofon"
			>
			<!--	sizes="(min-width: 780px) 280px, 93.04vw"
				data-img2picture-widths="280,400,670,800"
			-->
		</div>
		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bildung, Bits und Bäume</h2>
			<h3>Festival for Digitisation and Sustainability in Education</h3>
			<p>
				📅 30. September und 1. Oktober 2022</br>
				📍 TU Berlin, Marchstraße 23, 10587 Berlin</br>
			</p>
			<p>A two-day learning festival for students and lecturers of pedagogical study programmes, teachers and school administrators, pupils and all those who want to rethink and re-do learning. Let's develop concrete ideas together on how to bring future topics around sustainability and digitalisation into schools!</p>
			<a href="https://bildung-bits-baeume.org/">
				<button class="btn-dark">More infos</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>


</section>



<section class="max-w-7xl">

<h3 id="feedback">The website team in own cause</h3>

<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Patches &amp; Feedback</h2>
				<p>This website is maintained collaboratively by many people, all of whom also take care of lots of other things. Therefore, everything may not always be 100% spick and span. So if you notice any errors or problems, we would be very happy if you use (one of) the following options:
				</p>
                <ul>
					<li>Create pull request at <a href="https://github.com/bitsundbaeume/bits-und-baeume.org">github</a> or bei <a href="https://codeberg.org/bits-und-baeume/bits-und-baeume.org">codeberg</a>.</li>
					<li>Send a message to the matrix room <a href="https://matrix.to/#/#b&b-website-feedback:matrix.org">B&amp;B Website Feedback</a>.</li>
					<li>Send an email to <span title="Erklärung"><tt>website-feedback{ät}dresden.bits-und-baeume.org</tt></span>.</li>
                </ul>
			</div>
		</div>

</section>

