---
title: Bits & Bäume 2022 - lost and found
description: personal belongings lost and found during the conference
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /lost-and-found/
---

<section class="max-w-3xl">
	<h3>Bits & Bäume-Conference 2022</h3>
	<h1>Lost and Found</h1>


	<p>Missing something? We left a Lost & Found box in the porter's lodge in the Maths building. We are working on a solution to get your belongings back, should you not be from Berlin. More information soon on this page.
	</p>



</section>



