---
title: Bits & Bäume Newsletter
layout: layouts/_page.ejs
lang: en
translation: /newsletter/
---
<p>
With the newsletter, you’ll receive updates about the Bits & Bäume movement approximately every two months (and on special occasions), including information about all events, B&B-related dates, community updates, and calls to participate and get involved.
</p>

<h3>Subscribe Now</h3>
You can easily subscribe to the newsletter by

<ul>
<li>sending an email <a href="mailto:newsletter-subscribe@lists.bits-und-baeume.org?subject=B%26B%20Newsletter%20Subscription&body=Send%20this%20email%20from%20your%20email%20address%20to%20subscribe%20to%20the%20Bits%20%26%20B%C3%A4ume%20newsletter.%0A%0AWith%20the%20newsletter%2C%20you%20will%20receive%20updates%20about%20the%20Bits%20%26%20B%C3%A4ume%20movement%2C%20all%20events%2C%20B%26B-related%20dates%2C%20community%20updates%2C%20and%20calls%20to%20participate%20and%20get%20involved.%0A%0Ahttps%3A%2F%2Fbits-und-baeume.org%0A%0ATo%20make%20sure%20this%20email%20address%20belongs%20to%20you%2C%20we%20will%20send%20you%20another%20email.%20Once%20you%20reply%20to%20it%2C%20you%20will%20receive%20a%20confirmation%20of%20your%20subscription.%0A%0AYou%20can%20also%20create%20an%20account%20and%20manage%20your%20subscription%20in%20the%20browser%20at%20https%3A%2F%2Fbits-und-baeume.org%2Fnewsletteranmeldung">with your email app</a> or</li>
<li><a href="https://lists.bits-und-baeume.org/postorius/lists/newsletter.lists.bits-und-baeume.org/">create an account</a> if you’d like to subscribe to other lists or manage settings. You can read about the benefits of this in the <a href="https://bits-und-baeume.org/mailinglisten_wiki">Wiki</a>.
</li>
</ul>

<h3>Input</h3>
If you have suggestions for the newsletter, you can write them in our <a href="https://bits-und-baeume.org/newsletterinput">Input Pad</a> or contact the newsletter editorial team by email at newsletter at bits-und-baeume dot org.

<h3>Privacy</h3>
The server lists.bits-und-baeume.org is operated by our supporting organization member, <a href="https://fiff.de">FIfF e.V.</a>. Here’s the <a href="https://www.fiff.de/datenschutzerklaerung">privacy policy from FIfF</a>.

