---
title: Dein Input zum Bits & Bäume Newsletter
layout: layouts/_page.ejs
lang: en
translation: /newsletter_input/
---
<p>
With the newsletter, subscribers receive updates about the Bits & Bäume movement approximately every two months (and on special occasions), including news, events, B&B-related dates, updates from and about the community, and calls to participate and get involved.
</p>

If you have suggestions for the newsletter, you can write them in our <a href="https://bits-und-baeume.org/newsletter_input_pad">Input Pad</a> or contact the newsletter editorial team by email at newsletter at bits-und-baeume dot org.

<p>
<a href="https://bits-und-baeume.org/newsletter_input_pad">
<button class="btn-dark">
Submit a suggestion
</button>
</a>
</p>
