---
title: Politische Arbeit
metatitle: Politische Arbeit im Rahmen von Bits &amp; Bäume
description: Hier findest Du Aktivitäten zur politischen Arbeit im Rahmen von Bits &amp; Bäume
lang: en
translation: /politische-arbeit/
layout: layouts/_base.ejs
---

<section class="max-w-3xl">
	<h3>Policy and Advocacy</h3>

	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-cta m-4 flex-1">
<h2 class="h3" id="halbzeit_fuer_die_ampel">August 29, 2023: Halfway Point for the Ampel Coalition – Sustainable Digital Policy Must Gain Momentum Now</h2>				<p> Joint press release by Bits & Bäume, BUND, CCC, DNR, FIfF, Germanwatch, IÖW, and Wikimedia Deutschland: Actors from civil society, academia, and the open-source economy call on the German government to fulfill its digital policy promises and allocate the necessary funds in the federal budget. </p>

				<a href="/posts/pressemitteilung-halbzeit-fuer-die-ampel">
								<button class="btn-dark">Go to Press Release (DE)</button>
				</a>
			</div>
		</div>
	</div>

	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-cta m-4 flex-1">
				<h2 class="h3" id="input-b90-diegruenen">Input on the Initiative of the Bündnis 90/Die Grünen Parliamentary Group</h2>				<p>
 				As representatives of the Bits &amp; Bäume movement, we participated in the "Sustainable by Design" conference organized by the Bundestag parliamentary group of Bündnis 90/Die Grünen on March 10, 2023. We are pleased that some B&amp;B demands were addressed there and have developed recommendations for a progressive digital policy.
				</p>

				<a href="{{ site.url }}/assets/images/2023/2023-04-17_Input-Papier_Gruenen Fraktion.pdf">
								<button class="btn-dark">Input Paper (DE)</button>
				</a>
			</div>
		</div>
	</div>


</section>


