---
title: Publications
layout: layouts/_page.ejs
lang: en
translation: /publikationen/
---

<section class="max-w-3xl">

<div class="box box-links"> 
Demands of the "Bits & Bäume" alliance for the 2025 federal election, 2025 
<h2 class="h3">Digital Sovereignty and Future through Democratic Control!</h2> 
The digital transformation is in full swing. It shapes the climate and environment, social cohesion, our working world, democracy, and international cooperation. It is clear that political frameworks are needed to better utilize the potential of digitalization for a socially just and sustainable future. In 7 key demands, we urge the future federal government to set the course for a sustainable and socially just digitalization. <i>Only available in German.</i>
</br>
</br>
			<a target="blanc" href="{{ site.url }}/assets/images/pdfs/Bits-und-Baeume_Politische-Forderungen-2025.pdf">
				<button class="btn-dark">Demands (DE, PDF)</button>
			</a>
			<a target="blanc" href="{{ site.url }}/posts/forderungen-bundestagswahl-2025-html">
				<button class="btn-dark">Demands (DE, HTML)</button>
			</a> <br><br>

			<a target="blanc" href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen_allg/PM_250128.pdf">
				Press Release (DE)
			</a>

	<div class="box__icon">
		<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
	</div>
	<div class="box__pixel">
		<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
	</div>
</div>


<div class="box box-cta">
L. Kaufmann, F. Hildebrandt, K. van Treeck, C. Junge, P. Luzina, J. Kollien (Eds.), 2024
		<h2 class="h3">Digital die Welt retten? Handbuch für eine ökologische, digitale & gerechte Zukunft</h2> 
17 authors, activists, and scholars discuss in seven chapters the biggest challenges of digital transformation: climate crisis, species loss, resource scarcity, changing work environments, unequal distribution, and the democracy crisis. The book shows how digitalization can promote environmental protection, freedom, democracy, and justice, but also who benefits from the digital promises. It calls for laws and actions to make the digital economy sustainable. In collaboration with BUND, it is based on post-growth and digital sufficiency: as much digitalization as necessary, but as little as possible. <i>Only available in German.</i><br> <br>
	<a target="blanc" href="{{ site.url }}/en/posts/BUND-HandbuchDigitalpolitik_B&B/"><button class="btn-dark">Post (DE)</button></a>
	<a target="blanc" href="{{ site.url }}/assets/images/pdfs/BUND-HandbuchDigitalpolitik_B&B.pdf"><button class="btn-dark">Handbook (DE,PDF)</button></a> 

<div class="box__icon">
<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
</div>
<div class="box__pixel">
<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
</div>
</div>


	<div class="box box-links">
Jankowski, P., Höfner, A., Hoffmann, M. L., Rohde, F., Rehak, R. & Graf, J. (Eds.), 2023
	<h2 class="h3"> Shaping Digital Transformation for a Sustainable Society</h2>
		The second "Bits & Bäume" conference (Berlin, 2022) brought together tech and sustainability communities to shape digitalization sustainably. The accompanying book to the conference gathers contributions from over 65 authors and addresses topics such as resource consumption, governance of digital infrastructures, AI, blockchain, and platform economy. It offers solutions like the Computer Science for Future program and discusses EU sustainability policy and the role of civil society. The book aims to inform, inspire, and encourage action – for a sustainable and just digital future.
</br>
</br>
	<a href="https://publication2023.bits-und-baeume.org"><button class="btn-dark">Go to Publication</button></a>
	<div class="box__icon">
		<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
	</div>
	<div class="box__pixel">
		<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
	</div>
</div>


<div class="box box-cta">
Demands of the Bits & Bäume Conference 2022
<h2 class="h3">Making digitalisation sustainable and fit for the future.</h2>
We demand: Digitalization must serve social and ecological transformation. Digital technologies should improve living conditions and protect the environment—by enabling societal participation and operating within planetary boundaries. However, increasing energy consumption, resource extraction, and a lack of inclusion in the Global South are exacerbating existing crises. With this appeal, 13 organizations from the fields of environmental, digital, and development policy, as well as science, call on the German government, the EU, and global actors to take action. At the Bits & Bäume Conference 2022, we present over 60 demands across five key themes.<br><br>
	<a target="blanc" href="{{ site.url }}/en/conference-2022/demands/"><button class="btn-dark">Go to Demands (HTML & PDF)</button></a>
<div class="box__icon">
<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
</div>
<div class="box__pixel">
<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
</div>
</div>


<div class="box box-links">
<p> Anja Höfner (Ed.) & Vivian Frick (Ed.), Oekom 2019
<h2 class="h3">Book: Was Bits und Bäume verbindet - Digitalisierung nachhaltig gestalten</h2>
The "Bits & Bäume" conference (2018 in Berlin) was the largest forum for debate on digitalization and sustainability. Over 50 authors from the tech scene, sustainability movement, and development cooperation show how digitalization can promote social and ecological transformation. Topics include, among others, the impact of digital consumption in the Global South, sustainable management of data, and the opportunities and risks of a digitalized economy. The central question is: What kind of digitalization do we want? The contributions make it clear: Sustainable digitalization must serve the common good rather than individual interests. Infographics and portraits provide food for thought for a better digital world. <i>Open Access (CC BY-NC-SA).<i>Only available in German.</i></i>
		</p>
	<a target="blanc" href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493"><button class="btn-dark">Go to Book (DE)</button></a>
<div class="box__icon">
<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
</div>
<div class="box__pixel">
<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
</div>
</div>

</section>