---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /aufzeichnungen/
---

<section class="max-w-3xl">
	<h1>Recordings</h1>

	<p>Almost all of the conference lectures were streamed live and are available as recordings under <a href='https://creativecommons.org/licenses/by/4.0/'>a free license</a>. Additionally, there are recordings of other events available. Many of the recordings are available in German, some in English.

<h3>Policy Lab 2025: Protecting Democracy through Digital Sovereignty! (DE/EN)</h3>

		<ul>
			<li><a href="https://www.youtube.com/watch?v=msIv-C_3b-s">Go to Recording (DE/EN)</a>
			</li>			
		</ul>

<h3>Digital Policy Autumn Evening 2024: Who owns the Internet?</h3>

		<ul>
			<li><a href="https://www.youtube.com/live/zSAcnSKw-jQ">Go to Recording (DE/EN)</a>
			</li>			
		</ul>
	
<h3>Bits & Bäume Habitat at the 2023 Chaos Communication Camp</h3>

		<ul>
			<li><a href="https://media.ccc.de/c/camp2023/Bits%20&%20B%C3%A4ume">https://media.ccc.de/c/camp2023/Bits & Bäume</a>
			</li>			
		</ul>

		<h3>Bits & Bäume 2022 Conference</h3>

	<p>The recordings can be found in two ways:</p>
	<ul>
		<li>Individually in the <a href='https://fahrplan22.bits-und-baeume.org/bitsundbaeume/schedule/'>B&B schedule via the respective lectures</a>.</li>
		<li>Collected in the <a href='https://media.ccc.de/c/bub2022'>media.ccc.de media library</a>.</li>
	</ul>

	<h3>Bits & Bäume 2018 Conference</h3>
	<ul>
		<li><a href="https://media.ccc.de/c/bub2018">media.ccc.de media library</a></li>
	</ul>

	<h1>Thanks</h1>

	<p>The whole technical magic is made possible by the <a href='https://c3voc.de/'>c3voc</a> of the CCC, thanks for that.</p>

</section>