---
title: Die Bits & Bäume Community
description: Die Bits & Bäume Community
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /diecommunity/
---



<section class="max-w-3xl">

	<h1>The Community</h1>

	<p>The Bits & Bäume community is made up of volunteers committed to realising the B&B demands in various ways. The community brings together people with different areas of expertise and interest. What unites them: Sustainability and digitalisation must be thought of and achieved together. Many of the volunteers played a key role in organising the 2018 and 2022 conferences. There are regional groups in various cities in Germany that organise their own activities and spaces for exchange. The community also meets online once a month to exchange ideas and network across Germany.<br><br>

If you want to know what the community is planning, you can subscribe to  <a href="https://lists.bits-und-baeume.org/postorius/lists/community.lists.bits-und-baeume.org/">this mailing list</a> (unfortunately only available in german) or join the <a href="https://matrix.to/#/#bitsundbaeume:matrix.org">Community Matrix Channel</a>. There is also a <a href="https://discourse.bits-und-baeume.org/">discussion forum</a> where you can contribute topics and ideas.</p>


</section>

