---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: en
translation: /was-wir-tun-ueberblick/
---



<section class="max-w-3xl">

	<h1>What we do - an Overview</h1>

<p>At Bits & Bäume, we're dedicated to promoting a socially just and sustainable digital future. We create spaces for dialogue to tackle digitalisation challenges and develop ideas for a better digital world together.<br><br>

<B><a href="/en/conference-2018/">2018</a> und <a href="/en/conference-2022/">2022</a> Conferences:</B> Held in Berlin, these events drew over 4,000 participants and were pivotal for our growth. The publications following the conferences continue to form the basis for our further work.
Regular Events: We host evening events for discussions on digital policy, offering plenty of networking opportunities. <br><br>

<B>Regular Events:</B> We host evening events for discussions on digital policy, offering plenty of networking opportunities.<br><br>

<B>Coordination work:</B> In 2023, we established the Coordination Office to enhance collaboration withing our network.<br><br>

<B>Political Engagement:</B> We advocate for sustainability and digitalisation in political arenas, both nationally and at the EU level. We engage with politicians, monitor policy processes, and present our demands.<br><br>

<B>Growing Community:</B> Our movement is expanding with new regional groups forming in various cities, each organizing their own activities and spaces for exchange. Nationally, we hold monthly virtual meetings for idea exchange. Our presence at civil society events, such as the Chaos Communicaton Congress, helps us to bring together the community and to put forward our demands. </p>



</section>

