---
title: Live Stream Digitalpolitischer Bits & Bäume-Herbstabend am 20.10.
layout: layouts/_page.ejs
lang: de
teaser: "Live Stream 20.10. 18:00: 'Wem gehört das Internet? Macht, Eigentum und Demokratisierung digitaler Infrastrukturen'' mit Key Notes von Francesca Bria und Esther M’wema."
meta_beschreibung: "Live Stream 20.10. 18:00: 'Wem gehört das Internet? Macht, Eigentum und Demokratisierung digitaler Infrastrukturen'' mit Key Notes von Francesca Bria und Esther M’wema."
---
Während des Events werdet ihr hier auf den Live-Stream weitergeleitet.


<a href="/posts/herbstabend_2024/">
<button class="btn-dark">
Zum Programm
</button>



