---
title: Aufzeichnung - Digitalpolitischer Bits & Bäume-Herbstabend am 20.10. in Frankfurt am Main
layout: layouts/_page.ejs
lang: de
teaser: "'Wem gehört das Internet? Macht, Eigentum und Demokratisierung digitaler Infrastrukturen'' mit Key Notes von Francesca Bria und Esther M’wema."
meta_beschreibung: "'Wem gehört das Internet? Macht, Eigentum und Demokratisierung digitaler Infrastrukturen'' mit Key Notes von Francesca Bria und Esther M’wema."
---
Den Mitschnitt der Key Notes von Francesca Bria und Esther M’wema beim Digitalpolitischer findet ihr hier: 
<p>
<a href="https://youtube.com/live/zSAcnSKw-jQ">
<button class="btn-dark">Zur Aufzeichnung</button>
</a><a href="/posts/herbstabend_2024/">
<button class="btn-dark">Zum Programm</button>
</a>
</p>
