---
title: Bits & Bäume - Die Konferenz für Digitalisierung und Nachhaltigkeit
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conference-2022/
---

<section class="max-w-3xl">
	<h1>Bits & Bäume 2022 </h1>

	<p class="highlight">Die Konferenz für Digitalisierung und Nachhaltigkeit vom 30. September bis 2. Oktober 2022 an der TU Berlin</p>

	<div class="box box-infos pb-20">


		<p>Nach der erfolgreichen ersten Bits & Bäume 2018 sind die Themen Digitalisierung
		und Nachhaltigkeit heute in unserer Gesellschaft so präsent wie nie zuvor. Wir stehen vor
		großen gesellschaftlichen und globalen Herausforderungen für eine gerechte und nachhaltige Gestaltung unserer
		(Um-)Welt. Deshalb möchten wir mit der Konferenz Bits & Bäume 2022 vom 30. September bis 2. Oktober 2022 die
		Vernetzung von Umwelt- und Gerechtigkeitsaktivist*innen, Technikexpert*innen und Menschenrechtler*innen verbreitern
		und verstetigen. Dazu gehört auch die Vernetzung unserer Communities mit Vertreter*innen sozial-ökologisch wirtschaftender
		kleiner Digital-Unternehmen und -Gründer*innen sowie der Politik, um gemeinsam konkrete Lösungen für die drängenden
		Fragen unserer Zeit zu finden. Wir wollen große politische Strategien und Governance-Vorschläge diskutieren, aber
		auch anhand von Best-Practice-Beispielen voneinander lernen, wie wir im digitalen Zeitalter Klima- und Umweltschutz,
		soziale Gerechtigkeit, Demokratie und Grundrechte verwirklichen können.</p>

		<p>Eine Auftaktveranstaltung findet am Abend des 30. September statt. Am 1. und 2. Oktober erwarten euch zahlreiche Programmhighlights</p>

		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>


	</div>

	<div class="box box-infos">
		<h2 class="h3">Programm</h2>
		<p>Die Themen der Bits & Bäume 2022 decken alle Inhalte an der Schnittstelle von Nachhaltigkeit und Digitalisierung ab - und reichen z.B. von vernetzter Mobilität über den Rohstoff- und Strombedarf digitaler Geräte, Datensuffizienz und kooperativen Plattformökonomien bis hin zu smarten Energienetzen oder Monopolisierungstendenzen in der digitalen Ökonomie.</p>
		<a href="{{ site.url }}/konferenz-2022/programm/">
			<button class="btn-dark">Zum Programm</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-cta">
		<h2 class="h3">Sichere dir jetzt ein Ticket!</h2>
		<p>Der Countdown läuft – sichere dir jetzt bis zum 20.09. dein Ticket um bei der Bits & Bäume 2022 Konferenz dabei zu sein! Anschließend werden wir nur noch Resttickets verkaufen, also schlag rechtzeitig zu.</p>
		<a href="https://events.fairetickets.de/gedlv/">
			<button class="btn-dark">Zum Ticket</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Presse</h2>
		<p>Du bist Journalist*in und willst up-to-date über unsere Forderungen und Aktivitäten bleiben oder hast eine Frage zu Bits & Bäume 2022?</p>
		<a href="{{ site.url }}/konferenz-2022/presse/">
			<button class="btn-dark">Zur Presseseite</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>






</section>
