---
title: Bits & Bäume verabschiedet sich von TU und ECDF
description: Wir verabschieden uns von der TU Berlin und dem ECDF!
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Der Bits & Bäume Trägerkreis verabschiedet sich von der TU Berlin und dem ECDF</h1>

	<p>Die Technische Universität (TU) Berlin und das Einstein Center Digital Future (ECDF) sind seit dem 01.01.2024 leider kein Teil mehr des Bits & Bäume Trägerkreises. Wir bedanken uns für eine tolle Zusammenarbeit und insbesondere den Beitrag zur Organisation zweier großartiger Bits & Bäume Konferenzen. Insbesondere der TU danken wir für das Ausrichten der Konferenzen und die Hauptverantwortung für die Publikationen im Nachgang dieser. Wir hoffen, dass wir uns im Engagement für eine sozial gerechte und nachhaltige Digitalisierung auch in Zukunft noch über den Weg laufen werden!</p>
</br>



</section>

