---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: de
---

<section class="max-w-3xl">
	<h1>Aufzeichungen der Vorträge</h1>

	<p>Fast alle Vorträge der Konferenzen wurden in Echtzeit ins Netz übertragen und sind nun auch als Aufzeichnungen unter <a href="https://creativecommons.org/licenses/by/4.0/deed.de">freier Lizenz</a> verfügbar.
	
<h3>Bits & Bäume Habitat auf dem Chaos Communication Camp 2023</h3>

		<ul>
			<li><a href="https://media.ccc.de/c/camp2023/Bits%20&%20B%C3%A4ume">https://media.ccc.de/c/camp2023/Bits & Bäume</a>
			</li>			
		</ul>

		<h3>Bits & Bäume-Konferenz 2022</h3>

	<p>Die Aufzeichnungen sind auf zwei Arten auffindbar:</p>
	<ul>
		<li>Einzeln im <a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/schedule/">B&B-Fahrplan über die jeweiligen Vorträge</a>.</li>
		<li>Gesammelt über die <a href="https://media.ccc.de/c/bub2022">media.ccc.de-Mediathek</a>.</li>
	</ul>

	<h3>Bits & Bäume-Konferenz 2018</h3>

	<p>Auch die Vorträge der B&B-Konferenz 2018 sind als Aufzeichnungen verfügbar:</p>

	<ul>
		<li><a href="https://media.ccc.de/c/bub2018">media.ccc.de-Mediathek</a></li>
	</ul>

	<h1>Dank</h1>

	<p>Die ganze Technik-Zauberei wird ermöglicht durch das <a href="https://c3voc.de/">c3voc</a> des CCC, Danke dafür.</p>

</section>