---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: de
---

<section class="max-w-6xl">

	<h2 class="h3">Bits & Bäume Blog</h2>

	<div flex-wrap>

<h4>Aktuelle Blogposts</h4>
		{% for post in collections.blogpost | sort(attribute = 'data.datum') | reverse %}

			{% if post.data.aktuell in["ja"] %}

				{% if post.data.bild %}
					<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
						<div class="box__image w-full md:w-2/5">
							<a href="{{ post.url }}">
								<img class="object-cover"
						src="{% thumbnail post.data.bild %}"
						alt="{{ post.data.bildunterschrift }}"
						sizes="(min-width: 780px) 280px, 93.04vw"
						data-img2picture-widths="280,400,670,800"
						>
							</a>
						</div>
						<div class="text w-full md:w-3/5">
							{{ post.data.type }}
							<h2 class="h3">
								{% if post.data.extern == "ja"  %}
									<a href="{{ post.data.button_url }}">{{ post.data.title }}</a>
								{% else %}
									<a href="{{ post.url }}">{{ post.data.title }}</a>
								{% endif %}							</h2>
							<p>
								{% if post.data.teaser %}
									{{ post.data.teaser }}
								{% elif post.data.meta_beschreibung %}
									{{post.data.meta_beschreibung }}
								{% elif post.data.einleitung %}
									{{post.data.einleitung }}
								{% elif post.content %}
									{{ post.content | safe }}
								{% else %}
									no content
								{% endif %}
							</p>
							{% if post.data.button_anzeigen == "ja" %}
								<p>
									{% if post.data.button_url %}
										<a href="{{ post.data.button_url }}">
										{% else %}
											<a href="{{ post.url }}">
											{% endif %}
											<button class="btn-dark">
												{% if post.data.button_text %}
													{{ post.data.button_text }}
												{% else %}
											weiterlesen
										{% endif %}
											</button>
										</a>
									</p>
								{% endif %}
								{% if post.data.datum and post.data.autorin %}
									<p>
										<i>{{ post.data.autorin }} - {{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
									</p>
								{% elif post.data.datum %}
									<p>
										<i>{{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
										{{ post.data.autorin }}</p>
								{% elif post.data.autorin %}
									<p>({{ post.data.autorin }})</p>
								{% endif %}
							</div>
							<div class="box__pixel">
								<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
							</div>
						</div>

					{% else %}
						<div class="box box-infos">
							{{ post.data.type }}
							<h2 class="h3">
								{% if post.data.extern == "ja"  %}
									<a href="{{ post.data.button_url }}">{{ post.data.title }}</a>
								{% else %}
									<a href="{{ post.url }}">{{ post.data.title }}</a>
								{% endif %}
							</h2>

							<p>

								{% if post.data.teaser %}
									{{ post.data.teaser }}
								{% elif post.data.meta_beschreibung %}
									{{post.data.meta_beschreibung }}
								{% elif post.data.einleitung %}
									{{post.data.einleitung }}
								{% elif post.content %}
									{{ post.content | safe }}
								{% else %}
								no content
							{% endif %}
							</p>
							<p>
								{% if post.data.button_anzeigen == "ja" %}
									<p>
										{% if post.data.button_url %}
											<a href="{{ post.data.button_url }}">
											{% else %}
												<a href="{{ post.url }}">
												{% endif %}
												<button class="btn-dark">
													{% if post.data.button_text %}
														{{ post.data.button_text }}
													{% else %}
											weiterlesen
										{% endif %}
												</button>
											</a>
										</p>
									{% endif %}

									{% if post.data.icon %}
										<div class="box__icon">
											<img src="/assets/images/{{ post.data.icon }}" widht="66" height="66">
										</div>
									{% endif %}
									<div class="box__pixel">
										<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
									</div>
								</p>

								{% if post.data.datum and post.data.autorin %}
									<p>
										<i>{{ post.data.autorin }} - {{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
									</p>
								{% elif post.data.datum %}
									<p>
										<i>{{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
										{{ post.data.autorin }}</p>
								{% elif post.data.autorin %}
									<p>({{ post.data.autorin }})</p>
								{% endif %}

							</div>
						{% endif %}

					{% endif %}
				{% endfor %}

<h4>ältere Blogposts</h4>
		{% for post in collections.blogpost | sort(attribute = 'data.datum') | reverse %}

			{% if post.data.aktuell not in["ja"]  %}

				{% if post.data.bild %}
					<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
						<div class="box__image w-full md:w-2/5">
							<a href="{{ post.url }}">
								<img class="object-cover"
						src="{% thumbnail post.data.bild %}"
						alt="{{ post.data.bildunterschrift }}"
						sizes="(min-width: 780px) 280px, 93.04vw"
						data-img2picture-widths="280,400,670,800"
						>
							</a>
						</div>
						<div class="text w-full md:w-3/5">
							{{ post.data.type }}
							<h2 class="h3">
								{% if post.data.extern == "ja"  %}
									<a href="{{ post.data.button_url }}">{{ post.data.title }}</a>
								{% else %}
									<a href="{{ post.url }}">{{ post.data.title }}</a>
								{% endif %}
							</h2>
							<p>
								{% if post.data.teaser %}
									{{ post.data.teaser }}
								{% elif post.data.meta_beschreibung %}
									{{post.data.meta_beschreibung }}
								{% elif post.data.einleitung %}
									{{post.data.einleitung }}
								{% elif post.content %}
									{{ post.content | safe }}
								{% else %}
									no content
								{% endif %}
							</p>
							{% if post.data.button_anzeigen == "ja" %}
								<p>
									{% if post.data.button_url %}
										<a href="{{ post.data.button_url }}">
										{% else %}
											<a href="{{ post.url }}">
											{% endif %}
											<button class="btn-dark">
												{% if post.data.button_text %}
													{{ post.data.button_text }}
												{% else %}
											weiterlesen
										{% endif %}
											</button>
										</a>
									</p>
								{% endif %}
								{% if post.data.datum and post.data.autorin %}
									<p>
										<i>{{ post.data.autorin }} - {{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
									</p>
								{% elif post.data.datum %}
									<p>
										<i>{{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
										{{ post.data.autorin }}</p>
								{% elif post.data.autorin %}
									<p>({{ post.data.autorin }})</p>
								{% endif %}
							</div>
							<div class="box__pixel">
								<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
							</div>
						</div>

					{% else %}
						<div class="box box-infos">
							{{ post.data.type }}
							<h2 class="h3">
								{% if post.data.extern == "ja"  %}
									<a href="{{ post.data.button_url }}">{{ post.data.title }}</a>
								{% else %}
									<a href="{{ post.url }}">{{ post.data.title }}</a>
								{% endif %}
							</h2>

							<p>

								{% if post.data.teaser %}
									{{ post.data.teaser }}
								{% elif post.data.meta_beschreibung %}
									{{post.data.meta_beschreibung }}
								{% elif post.data.einleitung %}
									{{post.data.einleitung }}
								{% elif post.content %}
									{{ post.content | safe }}
								{% else %}
								no content
							{% endif %}
							</p>
							<p>
								{% if post.data.button_anzeigen == "ja" %}
									<p>
										{% if post.data.button_url %}
											<a href="{{ post.data.button_url }}">
											{% else %}
												<a href="{{ post.url }}">
												{% endif %}
												<button class="btn-dark">
													{% if post.data.button_text %}
														{{ post.data.button_text }}
													{% else %}
											weiterlesen
										{% endif %}
												</button>
											</a>
										</p>
									{% endif %}

									{% if post.data.icon %}
										<div class="box__icon">
											<img src="/assets/images/{{ post.data.icon }}" widht="66" height="66">
										</div>
									{% endif %}
									<div class="box__pixel">
										<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
									</div>
								</p>

								{% if post.data.datum and post.data.autorin %}
									<p>
										<i>{{ post.data.autorin }} - {{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
									</p>
								{% elif post.data.datum %}
									<p>
										<i>{{ post.data.datum.slice(-2) }}.{{ post.data.datum.slice(5,7) }}.{{ post.data.datum.slice(0,4) }}</i>
										{{ post.data.autorin }}</p>
								{% elif post.data.autorin %}
									<p>({{ post.data.autorin }})</p>
								{% endif %}

							</div>
						{% endif %}

					{% endif %}
				{% endfor %}


			</div>
		</section>
	</div>