---
title: Die Bits & Bäume Community
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Die Community</h1>

	<p>deskriptiver Text über die Community folgt</p>


</section>

