---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/events/
---



<section class="max-w-3xl">


	<h1>Vergangene Bits & Bäume Events</h1>
	<p> Neben den großen Konferenzen finden auch Veranstaltungen im kleineren Rahmen statt. Auf dieser Seite findest du eine Übersicht über vergangene Events. Anstehende Veranstaltungen findest du unter <a href="{{ site.url }}/termine/">Termine</a>.<br><br></p>

	<div class="box box-infos">
		<h2 class="h3">6.03.2025, Bits & Bäume Policy Lab - Digitale Souveränität für eine wehrhafte Demokratie!</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/posts/25_policy-lab.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
	Beim Bits & Bäume Policy sind wir zusammengekommen, um mit Expert*innen und Politiker*innen über die Umsetzung digitaler Souveränität zu diskutieren. Die Beiträge unsere vier Speakerinnen Katharina Nocun, Cecilia Rikap, Adriana Groh und Alexandra Geese griffen stimmig ineinander und haben uns mit ihren Botschaften nachdenklich gestimmt. Der politische Einfluss großer Tech-Konzerne stellt zunehmend eine Gefahr für unsere Demokratie dar. Wenn wir dieser Gefahr angemessen begegnen wollen, müssen wir tiefgreifende Konzepte und Lösungen anstoßen und Digitale Souveränität, die Entkopplung von Big Tech sowie die lange überfälligen Forderung "Public Money, Public Code" & "Public Money, Public Good" entschlossen vorantreiben.
		</p>
		<a href="{{ site.url }}/posts/policy-lab-2025-rueckblick/">
			<button class="btn-dark">zum Rückblick</button>
		</a><br>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


	<div class="box box-infos">
		<h2 class="h3">5.12.2024, Digitalpolitischer Winterabend: Glühwein, Plätzchen und Regierungswechsel - Neue Chance für eine nachhaltige Digitalisierung</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/jahresabschluss24.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
		Am 5.12.2024 sind wir im Weizenbaum Institut zum Bits & Bäume - Jahresabschluss zusammengekommen. Unter dem Motto ''Glühwein, Plätzchen und Regierungswechsel - Neue Chance für eine nachhaltige Digitalisierung'' haben wir auf das letzte digitalpolitische Jahr und und die Ampelregierung geblickt. Bei einem Kamingespräch wurde Bilanz gezogen und anschließend gemeinsam mit der Community diskutiert, was wir von der nächsten Bundesregierung für eine nachhaltige und sozial-gerechte Digitalisierung wollen. Bei Glühwein und Buffet haben wir die Diskussionen fortgesetzt und den Abend ausklingen lassen.
		</p>
		<a href="{{ site.url }}/posts/jahresabschluss24/">
			<button class="btn-dark">zum Post</button>
		</a><br>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>



	<div class="box box-infos">
		<h2 class="h3">20.10.2024, Digitalpolitischer Herbstabend: Wem gehört das Internet? – Macht, Eigentum und Demokratisierung digitaler Infrastrukturen</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/24herbstabend_podium.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
		<p>Im Oktober 2024 haben wir in Frankfurt am Main unseren digitalpolitischen Herbstabend veranstaltet. Unter dem Titel „Wem gehört das Internet? – Macht, Eigentum und Demokratisierung digitaler Infrastrukturen“ haben wir uns mit der Frage beschäftigt, wer unsere digitalen Infrastrukturen kontrolliert. Francesca Bria hat in ihrer Keynote über die politischen Handlungsmöglichkeiten innerhalb der EU gesprochen, während Esther M’wema aus einer dekolonialen Perspektive die Privatisierung digitaler Infrastrukturen in Afrika beleuchtete. In Workshops wurden die Themen anschließend vertieft. Den Abend haben wir bei Gesprächen und angeregten Diskussionen ausklingen lassen.
		</p>
		<a href="{{ site.url }}/blog/herbstabend24/">
			<button class="btn-dark">zum Rückblick</button>
		</a><br>
		<a href="https://youtube.com/live/zSAcnSKw-jQ">
			<button class="btn-dark">zum Stream</button>
		</a><br>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


	<div class="box box-infos">
		<h2 class="h3">29.4.2024, Digitalpolitischer Frühlingsabend: Desinformation, Hatespeech und Radikalisierung: Rechte Praktiken im digitalen Raum und mögliche Handlungsoptionen</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/frühlingsabend24.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
		<p>Bei unserem digitalpolitischen Frühlingsabend zum Thema “Desinformation, Hate Speech und Radikalisierung: Rechte Praktiken im digitalen Raum und mögliche Handlungsoptionen” im April 2024 sind wir in Vorträgen und Workshops auf den aktuellen Rechtsruck eingegangen und haben beleuchtet, wie rechte Akteure sich in digitalen Räumen aufstellen, wie sie damit zur Polarisierung von gesellschaftlichen Diskursen beitragen und wie sie konkret gegen Klimaaktivist*innen hetzen. In Diskussionen haben wir außerdem besprochen, mit welchen (politischen) Maßnahmen dem Einhalt geboten werden kann.
		</p>
		<a href="https://bits-und-baeume.org/fr%c3%bchlingsabend24/">
			<button class="btn-dark">Rückblick</button>
		</a><br>
		<a href="https://bits-und-baeume.org/interview_tiktok/">
			<button class="btn-dark">Interview über das Erstarken der AfD auf TikTok</button>
		</a>

		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
		<h2 class="h3">19.2.2024, Digitalpolitischer Winterabend: Keine Macht dem Tracking – Plattformregulierung für Gemeinwohl, Verbraucher*innenschutz und Nachhaltigkeit</h2>
		<p>Tracking und personalisierte Werbung gehören im digitalen Zeitalter zu den lukrativsten Wirtschaftszweigen - und greifen damit häufig tief in die Privatsphäre von uns Nutzer*innen ein, um detaillierte Profile zu erstellen und um uns mit personalisierter Werbung zu noch mehr Konsum zu drängen. Darüber hinaus belegen Studien, dass Tracking einen Großteil des Daten- und des Energieverbrauches von Apps und Plattformen ausmachen kann. Bei unserem zweiten digitalpolitischen Winterabend am 19. Februar 2024 haben wir uns mit Blick auf die Europa-Wahl 2024 im Rahmen von Vorträgen und Workshops damit befasst, wie Plattformen, Tracking und personalisierte Werbung so reguliert werden können, dass sie Klima, Umwelt und dem Gemeinwohl dienen.
		</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
		<h2 class="h3">27.-30.12.2023, Bits & Bäume beim Chaos Communication Congress 2023</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/37c3_habitat.png"
				alt="B&B beim CCC 23"
			>
		</div>
	</div>
		<p>Ende des Jahres 2023 hat zum ersten Mal seit 2019 wieder der Chaos Communication Congress stattgefunden. Wir waren mit Bits & Bäume vom 27. bis 30.12. im Congresszentrum in Hamburg dabei. Zusammen mit 27 weiteren Organisationen haben wir ein Habitat mit Workshoparea und Sofaecke gestaltet. Im Habitat haben wir unter anderem regelmäßige Community-Treffen angeboten.
		</p>
		<a href="https://bits-und-baeume.org/37c3_rueckblick/">
			<button class="btn-dark">Rückblick</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
		<h2 class="h3">4.12.2023, Erster digitalpolitischer Winterabend</h2>


		<p>Als Community, B&B-Trägerkreis und Freund*innen des Netzwerk sind wir am 4. Dezember 2023 zum ersten digitalpolitischen Abend zusammengekommen, um politisch zu diskutieren und Pläne und Strategien für das neue Jahr zu schmieden. In den Inputs, Workshops und Diskussionen haben wir den Fokus dabei insbesondere auf europäische und globale Kämpfe rund um Digitalisierung und Nachhaltigkeit gelegt. Bei vegetarischen Snacks, Getränken und Lichtkunst haben wir den Abend und unser digitalpolitisches Jahr 2023 dann noch gemütlich ausklingen lassen.
		</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>







	<div class="box box-infos">
		<h2 class="h3">15.-19.08.2023, Chaos Communication Camp</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/BuBCampSign.jpg"
				alt="B&B 2018"
			>
		</div>
	</div>
		<p>Vom 15.-19. August 2023 fand das Chaos Communication Camp statt. Bits & Bäume hat gemeinsam mit about:freedom ein Habitat gestaltet, ein inklusiver Ort mit Community-Lounge-Zelt, Bühne, inhaltlichem Programm und Raum zum Campen, Vernetzen und Austauschen über Digitalisierung und Nachhaltigkeit, digitale Menschenrechte, Informationsfreiheit, Freie Software und soziale Gerechtigkeit.
		</p>
		<a href="https://media.ccc.de/c/camp2023/Bits%20&%20B%C3%A4ume"><button class="btn-dark">Aufzeichnungen</button></a>
		<a href="https://events.ccc.de/camp/2023/hub/camp23/de/assembly/bitsundbaeume_aboutfreedom/"><button class="btn-dark">Zur Habitats-Seite</button></a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>





	<div class="box box-infos">
		<h2 class="h3">16.-17.06.2023, B&B Konferenz NRW</h2>

		<p>Das Eine Welt Netz NRW hat am 16. und 17. Juni 2023 in Münster eine eigene Bits & Bäume Konferenz auf die Beine gestellt. Die Konferenz wurde ausgerichtet, um Menschen aus Nachhaltigkeits- und Technologieszene in NRW zusammenzubringen und einen nachhaltigen Umgang mit Digitalisierung für die Erreichung der Agenda 2030 zu fördern. Bei der Konferenz mit über 100 Teilnehmenden wurden globale Perspektiven, sowie ökologische, ökonomische und soziale Nachhaltigkeitsaspekte beleuchtet. 
		</p>
		<a href="https://nrw.bits-und-baeume.org/bits-baeume/rueckblick-2023">
			<button class="btn-dark">Rückblick</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>





	<div class="box box-infos">
		<h2 class="h3">Die Konferenz 2022</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/B&B-2022_CCBY-SilkeMayer_IMG175.jpg"
				alt="Diskussionen über mögliche Strategien für das Superwahljahr 2024"	
			>
			<figcaption> CC BY 2022 Silke Mayer </figcaption>
		</div>
	</div>
		<p>Vom 30.09. bis 02.10.2022 fand auf dem Campus der TU Berlin die zweite Bits & Bäume Konferenz mit über 2500 Teilnehmenden statt. Das Programm wurde im Vergleich zur ersten Konferenz nochmal deutlich erweitert und fokussierte sich zudem stärker auf politische Arbeit und internationale Inhalte. Abgerundet wurde die Konferenz durch ein kulturelles Rahmenprogramm. 
		</p>
		<a href="https://bits-und-baeume.org/konferenz-2022/">
			<button class="btn-dark">Konferenzseite 2022</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>






	<div class="box box-infos">
		<h2 class="h3">30.09.-1.10.2022, Bildung, Bits & Bäume</h2>

		<p>Am 30. September und 01. Oktober 2022 fand in Berlin das Bildung, Bits & Bäume Festival für Digitalisierung und Nachhaltigkeit in der Bildung statt. Dort kamen Schüler*innen, Studierende und Dozierende pädagogischer Studiengänge, Lehrpersonen und Schulleitungen, verschiedene Initiativen und Organisationen zusammen, die Lernen neu denken und neu gestalten wollen. Eingerahmt von einem vielfältigen Rahmenprogramm wurde in spannenden Panels, Vorträgen und zahlreichen interaktiven Workshops gemeinsam diskutiert. Es wurden Erfahrungen ausgetauscht und Ideen entwickelt, wie Zukunftsthemen rund um Nachhaltigkeit und Digitalisierung in die Schulen gebracht werden können. 
		</p>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
		<h2 class="h3">2019 - 2020, Das Forum Bits & Bäume: Werkstatt für eine nachhaltige Digitalisierung</h2>
		<p>Das Forum Bits & Bäume knüpfte an die die Bits & Bäume Konferenz 2018 an. Die Veranstaltungsreihe bot einen offenen Diskussionsraum, um die nachhaltige Gestaltung der Digitalisierung stärker ins Zentrum zu rücken und wissenschaftliche und zivilgesellschaftliche Themen und Forderungen in den politischen Diskurs einzubringen. Themenschwerpunkte der Veranstaltungen waren unter anderem die KI für nachhaltige Entwicklung, nachhaltige Hard- und Software und die digitalisierte Energiewende. Das Forum Bits & Bäume wurde von der wissenschaftlichen Forschungsgruppe „Digitalisierung und sozial-ökologische Transformation“ von IÖW und TU Berlin veranstaltet, in Kooperation mit dem Einstein Center Digital Future und weiteren wechselnden Partnern.
		</p>
		<a href="https://www.tu.berlin/transformation/veranstaltungen/vergangene-veranstaltungen/gespraechsreihe-forum-bits-baeume-2018-2021">
			<button class="btn-dark">Mehr Infos</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>




	<div class="box box-infos">
		<h2 class="h3">Die Konferenz 2018</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/BuB2018_(011)_CCBY-SantiagoEngelhardt.jpg"
				alt="B&B 2018"
			>
			<figcaption> CC BY 2018 Santiago Engelhardt </figcaption>
		</div>
	</div>
		<p>Am 17. und 18. November 2018 fand auf dem Campus der TU Berlin die erste Bits & Bäume Konferenz statt.  Über 2000 Teilnehmde aus Techie- und Ökoszene kamen zusammen, um am vielfältigen Programm mit über 120 Beiträgen teilzunehmen und Digitalisierung und Nachhaltigkeit stärker zusammenzudenken.
		</p>
		<a href="https://bits-und-baeume.org/konferenz-2018/">
			<button class="btn-dark">Konferenzseite 2018</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


</section>

