---
title: Bits & Bäume - Forderungen
metatitle: Bits & Bäume - Forderungen
description: "Alle Forderungen der Bits & Bäume Bewegung im Überblick"
layout: layouts/_base.ejs
lang: de
---


<section class="max-w-3xl">

    <h1>Forderungen</h1>

	Als Bits & Bäume vereinen wir viele Expert*innen aus den Themenfeldern Digitalisierung und Nachhaltigkeit. Diese Expertise nutzen wir, um konkrete Forderungen an Politik und Gesellschaft für eine nachhaltige und sozial-gerechte Digitalisierung heranzutragen. Klick dich hier gern durch verschiedene Forderungskataloge, die im Laufe der Bits & Bäume Zeit entstanden sind.


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
			src="{% thumbnail 'assets/images/forderungen2025-cover-schmal.png' %}"
			alt="Cover der Forderungen 2025"
			sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
			data-img2picture-widths="485,702"
			>
			&nbsp; &nbsp; &nbsp; <a target="blanc" href="{{ site.url }}/assets/images/pdfs/Bits-und-Baeume_Politische-Forderungen-2025.pdf">
				<button class="btn-dark">Forderungen (PDF)</button>
			    </a> <br>
			&nbsp; &nbsp; &nbsp; <a target="blanc" href="{{ site.url }}/assets/images/pdfs/Bits-und-Baeume_Politische-Forderungen-2025-Kurzfassung.pdf">
				<button class="btn-dark">Kurzfassung (PDF)</button>
			</a> <br>
			&nbsp; &nbsp; &nbsp; <a target="blanc" href="{{ site.url }}/posts/forderungen-bundestagswahl-2025-html">
				<button class="btn-dark">Forderungen (HTML)</button>
			</a>  <br> <br>
			&nbsp; &nbsp; &nbsp; <a href="{{ site.url }}/posts/bundestagswahl-2025-forderungen/">Zur Pressemitteilung</a>

		</div>

		<div class="text w-full md:w-3/5">
Forderungen zur Bundestagswahl 2025:
			<h3>Digitale Souveränität und Zukunft durch demokratische Kontrolle!</h3>
Die digitale Transformation ist in vollem Gange. Sie prägt Klima und Umwelt, den sozialen Zusammenhalt, unsere Arbeitswelt, die Demokratie und die internationale Zusammenarbeit. Längst ist klar: Es bedarf politischer Rahmensetzungen, um die Potenziale der Digitalisierung für eine sozial gerechte und nachhaltige Zukunft zu nutzen. In 7 Kernforderungen fordern wir die zukünftige Bunderegierung auf, die Weichen für eine nachhaltige und sozial-gerechte Digitalisierung zu stellen.
			
		</div>
		
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-img.svg" alt="box" width="50" height="40">
		</div>
	</div>

	<div class="box box-infos">
		Forderungen der Bits & Bäume Konferenz 2022
		<h2 class="h3">Digitalisierung nachhaltig und zukunftsfähig gestalten.</h2>

		<p>Wir fordern: Digitalisierung muss dem sozialen und ökologischen Wandel dienen. Digitale Technologien sollten Lebensbedingungen verbessern und Umwelt schützen – durch gesellschaftliche Teilhabe und innerhalb planetarer Grenzen. Stattdessen verschärfen steigender Energieverbrauch, Ressourcenabbau und fehlende Teilhabe im Globalen Süden bestehende Krisen. Mit diesem Appell fordern 13 Organisationen aus Umwelt-, Digital- und Entwicklungspolitik sowie Wissenschaft die Bundesregierung, die EU und globale Akteure zum Handeln auf. Zur Konferenz „Bits & Bäume“ 2022 präsentieren wir über 60 Forderungen in fünf Themenbereichen.
		</p>
		<a href="{{ site.url }}/assets/images/pdfs/Bits_und_Baeume_Politische_Forderungen_deutsch.pdf">
		<button class="btn-dark">Zu den Forderungen (PDF)</button></a>
		</a>
		<a href="{{ site.url }}/konferenz-2022/forderungen/#heading">
		<button class="btn-dark">Zu den Forderungen (HTML)</button>
		</a>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Forderungen der Bits & Bäume Konferenz 2018</h2>
		<p> Im Nachgang der Bits & Bäume Konferenz 2018 haben wir gemeinsam politische Forderungen erarbeitet, die sich auf eine sozial-ökologische Digitalisierung konzentrieren. Unsere Forderungen umfassen die Förderung demokratischer Prozesse, den Schutz von Daten, die Kontrolle digitaler Monopole und die nachhaltige Gestaltung der digitalen Infrastruktur. Ein begleitendes Buch vertieft diese Forderungen und bietet Lösungsansätze für eine gerechte digitale Zukunft.
		</p>
		<a href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493">
		<button class="btn-dark">Zum Buch</button>
		</a> 
		<a href="{{ site.url }}/konferenz-2018/forderungen/">
		<button class="btn-dark">Zu den Forderungen</button>
		</a>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>



