---
title: Bits & Bäume
description: Halbzeitbilanz
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Halbzeitbilanz</h1>

	<p></p>


	{% for item in content.traegerinnen.items %}
	<div class="box box-orga">
		<div class="image">
			<a href="{{ item.url }}"><img src="{{ item.image }}" alt="Logo von {{ item.name }}" > </a>
		</div>
		<div class="text">
			<a href="{{ item.url }}"><h3>{{ item.name }}</h3></a>
			<p>{{ item.content | safe }}</p>
		</div>
	</div>
	{% endfor %}



</section>

