---
title: Bits & Bäume wächst und gedeiht
description: Veröffentlichung durch den BUND und Bits & Bäume
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Digital die Welt retten?!
Handbuch für eine nachhaltige, digitale und gerechte Zukunft</h1>

	<p>Dieses Handbuch ist für alle, die verstehen wollen, wie die Digitalisierung unsere sozialen und ökologischen Probleme und Krisen beeinflusst. 17 Autorinnen, Aktivistinnen und Wissenschaftler*innen haben gemeinsam die größten Herausforderungen des digitalen Wandels in sieben Kapiteln diskutiert und zusammengefasst:

<ul>
<li>Klimakrise</li>
<li>Verlust der Artenvielfalt</li>
<li>Ressourcenknappheit</li>
<li>Arbeitswelt im Wandel</li>
<li>Ungerechte Verteilung</li>
<li>Krise der Demokratie</li>
</ul>

Das Buch beleuchtet, was hinter den Versprechen der Digitalisierung steckt und wer davon profitiert – seien es Unternehmen, Politiker*innen oder die Zivilgesellschaft. Gleichzeitig zeigt es, wie die Digitalisierung dazu beitragen kann, unsere Umwelt zu schützen und mehr Freiheit, Demokratie und Gerechtigkeit zu schaffen. Außerdem wird diskutiert, welche Gesetze, Proteste und Aktionen nötig sind, um die digitale Wirtschaft nachhaltig auszurichten.
</br></br>


Das Buch entstand in Zusammenarbeit mit dem BUND und orientiert sich an den Konzepten des Postwachstums der digitalen Suffizienz. Das bedeutet: so viel Digitalisierung wie nötig, aber so wenig wie möglich. Es geht darum, die Digitalisierung als Mittel für eine gerechte und nachhaltige Wirtschaft zu nutzen, nicht als Selbstzweck.</br>
</br>

<b><i>Autor*innen:</i></b> Louise Kaufmann, Rhea Holl, Paul Robben, Fabian Telschow, Eva Schültken,
Sophie Friedl, Peter Kraemer, Irma Beuscher, Greta Zwer, Jeanette Kollien,
Friederike Hildebrandt, Katharina van Treeck, Melissa Ihlow </br>

<b><i>Unter Mitwirkung von:</i></b> Carmen Junge, Patrick Luzina, Grietje Zimmermann, Derian Boer,
Carolin Lotter, Julia Strahlmann </br>

<b><i>Redaktion:</i></b> Louise Kaufmann, Friederike Hildebrandt, Katharina van Treeck, Carmen Junge,
Patrick Luzina, Jeanette Kollien

</br>
</p>
	<p> <a href="{{ site.url }}/assets/images/pdfs/BUND_B&B_HandbuchDigitalpolitik.pdf">
		<button class="btn-dark">Handbuch jetzt lesen!</button>
		</a>

</p>

<p>
<b>Hinweis</b>:
Der BUND hat das Bündnis im Juni 2024 verlassen, und dieses Buch ist das letzte Ergebnis dieser Zusammenarbeit. Es basiert auf fundierten wissenschaftlichen Studien und wurde von Expert*innen überprüft. Die Inhalte spiegeln die Meinungen der Autor*innen nicht die Positionen des BUND eV oder der einzelnen Organisationen des Bits & Bäume Trägerkreis. Feedback und Rückmeldungen zu den Kapiteln sind herzlich willkommen unter info@bits-und-baeume.org.</p>




<i>Dieses Projekt wurde gefördert durch das <a href="https://www.umweltbundesamt.de/">Umweltbundesamt</a> und das <a href="https://www.bmuv.de/">Bundesministerium für Umwelt, Naturschutz, nukleare Sicherheit und Verbraucherschutz</a>. Die Mittelbereitstellung erfolgt auf Beschluss des Deutschen Bundestages.</i>

</br>



</section>

