---
title: Botschaft and Hetzner
description: Botschaft and Hetzner
layout: layouts/_base.ejs
tags: sitemap
lang: de
---

<section class="max-w-3xl">
	<h1>Botschaft and Hetzner</h1>


	<p>Diese Unterseite von https://bits-und-baeume.org/ bzw. https://staging.bits-und-baeume.org/ dient dem Nachweis, dass die Anfrage an den Hetzner-Support vom 2023-06-14 echt ist, also von Menschen stammt, die tatsächlich legitimen Zugriff auf die Bits&amp;Bäume-Infrastruktur haben. Hintergrund ist die Bitte um die Wiederherstellung eines Servers.
	</p>



</section>



