---
title: Die Geschichte von Bits & Bäume
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Die Bits & Bäume - Geschichte</h1>

	<p>Deskriptiver Text zur Geschichte und Entstehung von B&B</p>




</section>

