---
title: Impressum
layout: layouts/_page.ejs
lang: de
---
<p>E-Mail: impressum [ät] bits-und-baeume.org</p>

<h3>Verantwortlich nach §5 (1) Telemediengesetz, §55 (1) RStV (Dienstanbieterin)</h3>

<p>Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung e.V.<br />
<br />
Goetheplatz 4<br />
28203 Bremen<br />
<br />
Telefon: +49 (0) 421 - 33 65 92 55<br />
eMail: fiff@fiff.de <br/>
<br />
Vereinsregister beim Amtsgericht Bonn, Nr. VR 5102 <br/>
<a href="https://www.lobbyregister.bundestag.de/suche/R003439">Lobbyregister des Bundestages</a>
<hr />

<h3>Verantwortlich nach § 55 (2) RStV (redaktionelle Verantwortung)</h3>

<p>Rainer Rehak<br />
<br />
Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung e.V.<br />
<br />
Goetheplatz 4<br />
28203 Bremen<br />
<br />
Telefon: +49 (0) 421 - 33 65 92 55<br />
Fax: +49 (0) 421 - 33 65 92 56</p>
