---
title: Impressum
layout: layouts/_page.ejs
lang: de
---
<p>E-Mail: impressum [ät] bits-und-baeume.org</p>

<h3>Verantwortlich nach §5 (1) Telemediengesetz, §55 (1) RStV (Dienstanbieterin)</h3>

<p>Technische Universität Berlin<br />
<br />
Der Präsident<br />
Prof. Dr. Geraldine Rauch<br />
<br />
Straße des 17. Juni 135<br />
D-10623 Berlin<br />
<br />
Telefon: +49 (0)30 314-0<br />
<br />
Umsatzsteueridentifikationsnummer: DE 811 231 089</p>

<hr />

<h3>Verantwortlich nach § 55 (2) RStV (redaktionelle Verantwortung)</h3>

<p>Prof. Dr. Tilman Santarius<br />
<br />
Institut für Berufliche Bildung und Arbeitslehre<br />
Fachgebiet sozial-ökologische Transformation und nachhaltige Digitalisierung<br />
<br />
Sekr. MAR 1-1<br />
Marchstr. 23<br />
D-10587 Berlin<br />
<br />
Telefon: +49 (0)30 314 78869<br />
Fax: +49 (0)30 314 21120</p>

<h3>und</h3>

<p>Rainer Rehak<br />
<br />
Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung e.V.<br />
<br />
Goetheplatz 4<br />
28203 Bremen<br />
<br />
Telefon: +49 (0) 421 - 33 65 92 55<br />
Fax: +49 (0) 421 - 33 65 92 56</p>
