---
title: Bits & Bäume - Die Konferenz für Digitalisierung und Nachhaltigkeit
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_page.ejs
tags: sitemap
---

<p>Folgt hier in kürze. So lange gehts <a href="https://2018.www.bits-und-baeume.org/impressum/de">hier</a> zum alten.</p>

