---
title: Bits & Bäume - die Bewegung für Digitalisierung und Nachhaltigkeit
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/
---

<section class="max-w-7xl">
	<h1>Bits & Bäume</h1>
	<h2>Die Bewegung für Digitalisierung und Nachhaltigkeit</h2>

	<p>Welche Rolle spielt Nachhaltigkeit für stabile Tech-Communities? Welche ökologischen Chancen stecken in digitalen Anwendungen etwa für Klima- und Ressourcenschutz? Welche Arten von Digitalisierung stehen diesen Zielen entgegen oder sind gar kontraproduktiv? Wie kann die digitale Gesellschaft demokratisch und gerecht gestaltet und zugleich darauf ausgerichtet sein, auf friedvolle Weise die Grundlagen unseres Lebens auf diesem Planeten zu bewahren?

	</p>








</section>



<section class="container max-w-7xl">
	<h2 class="h3">Aktuelles</h2>
	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-1/4 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Bits & Bäume 2022</h2>
				<p>Die Bits & Bäume 2022 Konferenz zu Digitalisierung und Nachhaltigkeit in Berlin geht in die zweite Runde.</p>
                <a href="/konferenz-2018/">
					<button class="btn-dark">Mehr Infos</button>
				</a>
			</div>
		</div>



		<div class="w-full lg:w-1/4 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Ticketverkauf</h2>
				<p>Der Countdown läuft. Sichere dir jetzt noch vor dem <b>20.9.</b> dein Ticket!</p></br>
					 Danach können wir dir keins mehr garantieren. </p>
                <a href="https://events.fairetickets.de/gedlv/">
					<button class="btn-dark">Zum Ticketshop</button>
				</a>

			</div>
		</div>


		<div class="w-full lg:w-2/4 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Engel</h2>
				<p>Um die Bits & Bäume 2022 möglich zu machen, suchen wir noch jede menge Helfer*innen. Wir verstehen uns als Mitmachkonferenz und bieten nicht nur einen Blick hinter die Kulissen der Bits & Bäume, sondern auch
					 freien Eintritt an allen drei Tagen, Essen und natürlich jeder Menge Freude! Tragt euch einfach in die Schichten in unser <a href="https://engelsystem.de/bub/login" target="blanc">Engelsystem</a> ein: Wir freuen uns sehr auf euch!</p>
                <a href="https://engelsystem.de/bub/login">
					<button class="btn-dark">Engel werden!</button>
				</a>
			</div>
		</div>
	</div>


		<div class="box box-cta">
			<h2 class="h3">Komm ins Team!!</h2>
			<p>Du bist ein Kommunikationsgenie und weißt, wie man Menschen aktiviert oder wie Medienmacher*innen ticken? Unser Konferenzteam Öffentlichkeitsarbeit sucht kurzfristig Verstärkung, um die Konferenz aus allen Nähten platzen zu lassen! Komm in unser Team und gib direkt Volldampf! (Honorar-/ Werkvertragsbasis)</p>
				<a href="/assets/images/pdfs/Mitarbeit_Presse_und_Oeffentlichkeitsarbeit.pdf">
					<button class="btn-dark">Zur Ausschreibung</button>
				</a>
			<div class="box__icon">
				<img src="/assets/images/icon-box-cta.svg" widht="66" height="66">
			</div>
			<div class="box__pixel">
				<img src="/assets/images/pixel-box-cta.svg" widht="40" height="50">
			</div>
		</div>

	</div>
</section>

<section class="max-w-7xl">

<h3>Veranstaltungen</h3>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
						src="{% thumbnail 'assets/images/konferenz_forum.jpg' %}"
						alt="Sprecher mit Mikrofon"
			>
				<!--		sizes="(min-width: 780px) 280px, 93.04vw"
						data-img2picture-widths="280,400,670,800"
				-->
			</div>
			<div class="text w-full md:w-3/5">
				<h2 class="h3">Bits & Bäume 2022</h2>
				<h3>Die Konferenz für Digitalisierung und Nachhaltigkeit in Berlin</h3>
				<p>
					📅 30.09.-02.10.2022</br>
					📍 <a href="https://www.openstreetmap.org/way/40451892">TU Berlin</a></br>
					🎟️ <a href="https://bits-und-baeume.org/tickets">Tickets</a></br>
					💪 <a href="https://engelsystem.de/bub/login">Helfen</a></br>
				</p>
				<p>Nach der erfolgreichen ersten Bits &
					Bäume-Konferenz 2018 sind die Themen Digitalisierung und Nachhaltigkeit
					 heute in unserer Gesellschaft so präsent wie nie zuvor. Wir stehen vor
					 großen gesellschaftlichen und globalen Herausforderungen für eine gerechte und
					 nachhaltige Gestaltung unserer (Um-)Welt. Deshalb möchten wir mit der Konferenz
					 Bits & Bäume 2022 vom 30. September bis 2. Oktober 2022 die Vernetzung von Umwelt- und Gerechtigkeitsaktivist*innen, Technikexpert*innen und Menschenrechtler*innen verbreitern und verstetigen. Eine Auftaktveranstaltung wird am Abend des 30. September stattfinden.</p>
				<a href="/konferenz-2022/">
					<button class="btn-dark">Zur Konferenz</button>
				</a>
			</div>
			<div class="box__pixel">
				<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
			</div>
		</div>

	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/bildung_bits_baeume.png' %}"
				alt="Sprecher mit Mikrofon"
			>
		<!--		sizes="(min-width: 780px) 280px, 93.04vw"
				data-img2picture-widths="280,400,670,800"
		-->
		</div>
		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bildung, Bits Bäume</h2>
			<h3>Festival für Digitalisierung und Nachhaltigkeit in der Bildung</h3>
			<p>
				📅 30. September und 1. Oktober 2022</br>
				📍 TU Berlin, Marchstraße 23, 10587 Berlin</br>
			</p>
			<p>Ein zweitägiges Lernfestival für Studierende und Dozierende pädagogischer Studiengänge, Lehrpersonen und Schulleitungen, Schüler*innen und alle, die Lernen neu denken und neu machen wollen. Lasst uns gemeinsam konkrete Ideen entwickeln, wie wir Zukunftsthemen rund um Nachhaltigkeit und Digitalisierung in die Schulen bringen!</p>
			<a href="https://bildung-bits-baeume.org/">
				<button class="btn-dark">Mehr Infos</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>




</section>




