---
title: Bits & Bäume - Die Konferenz für Digitalisierung und Nachhaltigkeit
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/
---

<section class="container max-w-7xl">

<div class="flex flex-wrap justify-center">

<div class="w-full lg:w-3/5 flex flex-col"><div class="box box-cta m-4 flex-1">
    <div style="font-weight: 700;">
        <div> <span style="font-size:180%;"> Bits &amp; Bäume NRW 2023</span> <br> <span style="font-size:130%;">16./17. Juni 2023, Münster <span></div>
    </div>
</div></div>


<div class="w-full lg:w-2/5 flex flex-col"><div class="box box-cta m-4 flex-1" style="font-weight: 700;text-align: center;">
<a href="https://nrw.bits-und-baeume.org/" target="_blank" rel="noopener"><button class="btn-dark">Alle Infos</button></a>&nbsp; &nbsp; &nbsp;
<a href="https://www.franz-hitze-haus.de/info/23-516" target="_blank" rel="noopener"><button class="btn-dark">Anmeldung</button></a>
</div></div>

</div>

</section>




<section class="max-w-7xl">
	<h3>Bits &amp; Bäume 2022:  30.09.–02.10., TU Berlin</h3>
	<h2>Die Konferenz für Digitalisierung und Nachhaltigkeit</h2>

	<p>
	Die Themen der Bits &amp; Bäume 2022 decken alle Inhalte an der Schnittstelle von Nachhaltigkeit und Digitalisierung ab - und reichen z.B. von vernetzter Mobilität über den Rohstoff- und Strombedarf digitaler Geräte, Datensuffizienz und kooperativen Plattformökonomien bis hin zu smarten Energienetzen oder Monopolisierungstendenzen in der digitalen Ökonomie.
	</p>

	<!-- Vorheriger Text (zur Bits &amp; Bäume Bewegung): Welche Rolle spielt Nachhaltigkeit für stabile Tech-Communities? Welche ökologischen Chancen stecken in digitalen Anwendungen etwa für Klima- und Ressourcenschutz? Welche Arten von Digitalisierung stehen diesen Zielen entgegen oder sind gar kontraproduktiv? Wie kann die digitale Gesellschaft demokratisch und gerecht gestaltet und zugleich darauf ausgerichtet sein, auf friedvolle Weise die Grundlagen unseres Lebens auf diesem Planeten zu bewahren? -->

	<div style="position: relative;">
		<img src="/assets/images/20221001_BitsBaeume2022_FotosSilkeMayer-2_export.jpg" title="Vorstellung der Trägerkreisorganisationen. Foto von der Auftaktveranstaltung 30.09.2022" alt="Vorstellung der Trägerkreisorganisationen. Foto von der Auftaktveranstaltung 30.09.2022">
		<div style="position: absolute; font-size: min(32px, 2.5vw); line-height: 1; font-weight: 700; top: 12%; left: 2.5%; text-shadow: rgba(255, 255, 255, 0.6) 0px 5px 21px;">
			<span style="font-size: min(64px, 5vw); line-height: 1;">„</span><div style="display: inline-block; padding-left: min(7px, 0.5vw); padding-right: min(7px, 0.5vw);">In Krisenzeiten braucht es starke<br>Bewegungen mit großen Ideen.</div><div style="position: relative; top: max(-20px, -1.5vw); display: inline-block;"><span style="font-size: min(64px, 5vw); line-height: 1;" style="position: relative;">“</span></div>
		</div>
	</div>

</section>




<section class="max-w-7xl">
<h3>Politische Arbeit </h3>


	<div class="flex flex-wrap justify-center">

		<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-cta m-4 flex-1">
				<h2 class="h3" id="input-b90-diegruenen">Input zur Initiative der Fraktion Bündnis 90/Die Grünen</h2>
				<p>
					Als Vertreter*innen der Bits &amp; Bäume Bewegung haben wir am 10. März 2023 an der Konferenz „Nachhaltig by design“ der Bundestagsfraktion Bündnis 90/Die Grünen teilgenommen. Wir freuen uns, dass dort einige B&amp;B-Forderungen aufgegriffen wurden und haben Hinweise für eine progressive Digitalpolitik erarbeitet.

				</p>

				<a href="assets/images/2023/2023-04-17_Input-Papier_Gruenen Fraktion.pdf">
								<button class="btn-dark">Input-Papier</button>
				</a>
			</div>
		</div>
	</div>


</section>

<section class="max-w-7xl">
<h3>Digitalisierung zukunftsfähig und nachhaltig gestalten </h3>

<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
	<div class="box__image w-full md:w-2/5">
		<img class="object-cover"
			src="{% thumbnail 'assets/images/forderungen2022-seite1.jpg' %}"
			alt="Forderungen 2022 Seite 1"
			sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
			data-img2picture-widths="485,702"
		>
	</div>

		<div class="text w-full md:w-3/5">
			<h3>Politische Forderungen der Bits &amp; Bäume 2022</h3>

			<p>Wir fordern: Die Digitalisierung muss stärker in den Dienst der Gesellschaft und des sozialen und ökologischen Wandels gestellt werden. Digitale Technologien sollten durch gleichberechtigte gesellschaftliche Teilhabe und innerhalb der planetaren Grenzen zur Verbesserung von Lebensbedingungen und der Umwelt beitragen, anstatt durch explodierenden Energiebedarf, Ressourcenverbrauch und mangelnde Teilhabe vor allem des Globalen Südens existierende Krisen noch weiter zu verschärfen. <b>Mit diesem Appell wenden sich 13 Organisationen aus Umwelt- und Naturschutz, Digitalpolitik, Entwicklungszusammenarbeit und Wissenschaft an die Bundesregierung, die Europäische Union und politische Akteure weltweit.</b> Anlässlich der Konferenz für Digitalisierung und Nachhaltigkeit „Bits &amp; Bäume“ 2022 veröffentlichen wir mehr als 60 Forderungen in fünf Themenbereichen.
			</p>
			<a href="/assets/images/pdfs/Bits_und_Baeume_Politische_Forderungen_deutsch.pdf">
				<button class="btn-dark">Zu den Forderungen</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>

</div>


</section>

<section class="max-w-7xl">

<h3>Veranstaltungen</h3>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/konferenz_forum.jpg' %}"
				alt="Sprecher mit Mikrofon"
				sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
				data-img2picture-widths="485,702"
			>
		</div>

		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bits &amp; Bäume 2022</h2>
			<h3>Die Konferenz für Digitalisierung und Nachhaltigkeit in Berlin</h3>
			<p>
				📅 30.09. – 02.10.2022</br>
				📍 <a href="https://www.openstreetmap.org/way/456211792">TU Berlin</a>, Straße des 17. Juni 135 und im <a href="https://www.openstreetmap.org/way/40451892">Mathegebäude</a> gegenüber</br>
				🎟️ <a href="https://bits-und-baeume.org/tickets">Tickets</a></br>
				💪 <a href="https://engelsystem.de/bub/login">Helfen</a></br>
			</p>
			<p>Nach der erfolgreichen ersten Bits &
				Bäume-Konferenz 2018 sind die Themen Digitalisierung und Nachhaltigkeit
					heute in unserer Gesellschaft so präsent wie nie zuvor. Wir stehen vor
					großen gesellschaftlichen und globalen Herausforderungen für eine gerechte und
					nachhaltige Gestaltung unserer (Um-)Welt. Deshalb möchten wir mit der Konferenz
					Bits &amp; Bäume 2022 vom 30. September bis 2. Oktober 2022 die Vernetzung von Umwelt- und Gerechtigkeitsaktivist*innen, Technikexpert*innen und Menschenrechtler*innen verbreitern und verstetigen. Eine Auftaktveranstaltung wird am Abend des 30. September stattfinden.</p>
			<a href="/konferenz-2022/">
				<button class="btn-dark">Zur Konferenz</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/bildung_bits_baeume.png' %}"
				alt="Sprecher mit Mikrofon"
				sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
				data-img2picture-widths="485,702"
			>
		</div>
		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bildung, Bits und Bäume</h2>
			<h3>Festival für Digitalisierung und Nachhaltigkeit in der Bildung</h3>
			<p>
				📅 30. September und 1. Oktober 2022</br>
				📍 TU Berlin, Marchstraße 23, 10587 Berlin</br>
			</p>
			<p>Ein zweitägiges Lernfestival für Studierende und Dozierende pädagogischer Studiengänge, Lehrpersonen und Schulleitungen, Schüler*innen und alle, die Lernen neu denken und neu machen wollen. Lasst uns gemeinsam konkrete Ideen entwickeln, wie wir Zukunftsthemen rund um Nachhaltigkeit und Digitalisierung in die Schulen bringen!</p>
			<a href="https://bildung-bits-baeume.org/">
				<button class="btn-dark">Mehr Infos</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>


</section>

<section class="max-w-7xl">

<h3 id="feedback">Das Website-Team in eigener Sache</h3>

<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Patches &amp; Feedback</h2>
				<p>Diese Website wird kollaborativ von vielen Menschen gepflegt, die sich alle auch noch um jede Menge anderer Dinge kümmern. Deswegen ist möglicherweise nicht immer alles picobello perfectissimo. Wenn dir also Fehler oder Probleme auffallen, würden wir uns sehr freuen, wenn Du eine der folgenden Möglichkeiten nutzt:
				</p>
                <ul>
					<li>Erstelle einen Pullrequest bei <a href="https://github.com/bitsundbaeume/bits-und-baeume.org">github</a> oder bei <a href="https://codeberg.org/bits-und-baeume/bits-und-baeume.org">codeberg</a>.</li>
					<li>Schreibe eine Nachricht in den Matrix-Kanal <a href="https://matrix.to/#/#b&b-website-feedback:matrix.org">B&amp;B Website Feedback</a>.</li>
					<li>Schreibe eine Mail an <span title="Dass das eine @dresden.bits-und-baeume.org Adresse ist, hat organisatorische Gründe. Es geht trotzdem um die 'große' Website. ;-)"><tt>website-feedback{ät}dresden.bits-und-baeume.org</tt></span>.</li>
                </ul>
			</div>
		</div>

</section>




