---
title: Bits & Bäume - Die Konferenz für Digitalisierung und Nachhaltigkeit
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/
---

<section class="container max-w-7xl">
	<div class="flex flex-wrap justify-center">
		<div class="w-full lg:max-w flex flex-col">
			<div style="font-weight: 700;text-align: center;" class="box box-infos box-yellow m-4 flex-1">
				<p><a href="https://streaming.media.ccc.de/bub2022">Direktlink zu den Streams</a></p>
				<p>PSA: Es gibt Essen von 13–15 Uhr und von 18:30–20 Uhr hinter dem Hauptgebäude in der KüfA! <a href="#kueche">Mehr Infos</a></p>
			</div>
		</div>
	</div>
</section>

<section class="max-w-7xl">
	<h3>Bits &amp; Bäume 2022:  30.09.–02.10., TU Berlin </h3>
	<h2>Die Konferenz für Digitalisierung und Nachhaltigkeit</h2>

	<p>
	Die Themen der Bits &amp; Bäume 2022 decken alle Inhalte an der Schnittstelle von Nachhaltigkeit und Digitalisierung ab - und reichen z.B. von vernetzter Mobilität über den Rohstoff- und Strombedarf digitaler Geräte, Datensuffizienz und kooperativen Plattformökonomien bis hin zu smarten Energienetzen oder Monopolisierungstendenzen in der digitalen Ökonomie.
	</p>

	<!-- Vorheriger Text (zur Bits &amp; Bäume Bewegung): Welche Rolle spielt Nachhaltigkeit für stabile Tech-Communities? Welche ökologischen Chancen stecken in digitalen Anwendungen etwa für Klima- und Ressourcenschutz? Welche Arten von Digitalisierung stehen diesen Zielen entgegen oder sind gar kontraproduktiv? Wie kann die digitale Gesellschaft demokratisch und gerecht gestaltet und zugleich darauf ausgerichtet sein, auf friedvolle Weise die Grundlagen unseres Lebens auf diesem Planeten zu bewahren? -->

	<div style="position: relative;">
		<img src="/assets/images/20220930_0001_export.jpg" title="Vorstellung der Trägerkreisorganisationen. Foto von der Auftaktveranstaltung 30.09.2022" alt="Vorstellung der Trägerkreisorganisationen. Foto von der Auftaktveranstaltung 30.09.2022">
		<div style="position: absolute; font-size: min(32px, 2.5vw); line-height: 1; font-weight: 700; top: 12%; left: 2.5%; text-shadow: rgba(255, 255, 255, 0.6) 0px 5px 21px;">
			<span style="font-size: min(64px, 5vw); line-height: 1;">„</span><div style="display: inline-block; padding-left: min(7px, 0.5vw); padding-right: min(7px, 0.5vw);">In Krisenzeiten braucht es starke<br>Bewegungen mit großen Ideen.</div><div style="position: relative; top: max(-20px, -1.5vw); display: inline-block;"><span style="font-size: min(64px, 5vw); line-height: 1;" style="position: relative;">“</span></div>
		</div>
	</div>

</section>



<section class="container max-w-7xl">
	<h2 class="h3">Aktuelles</h2>
	<div class="flex flex-wrap justify-center">


		<div class="w-full lg:w-4/12 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Konferenz&shy;programm</h2>
				<p>Alle Vorträge, Workshops, Forums-Beteiligte und das Kulturprogramm findet ihr in unserem <b>Fahrplan</b>. </p>
                 <a href="https://fahrplan22.bits-und-baeume.org/bitsundbaeume/schedule/">
					<button class="btn-dark">zum Programm</button>
				</a>
				<p>
				<br>
				Das Programm gibt es auch als App:
				<ul>
					<li><a href="https://f-droid.org/de/packages/info.metadude.android.bitsundbaeume.schedule/">
					f-droid.org/...
					</a>
					</li>
					<li><a href="https://play.google.com/store/apps/details?id=info.metadude.android.bitsundbaeume.schedule&gl=DE">
					play.google.com/...
					</a>
					</li>
					<li><a href="https://apps.apple.com/us/app/bits-b%C3%A4ume/id1441054315">
					apps.apple.com/...
					</a>
					</li>
				</ul>

				</p>
			</div>
		</div>


        <div class="w-full lg:w-3/12 flex flex-col">
            <div class="box box-blue box-infos m-4 flex-1">
                <h2 class="h3">Hygiene</h2>
                <p> Für die Konferenz gilt eine deutliche Masken&shy;empfehlung und eine Testpflicht. Alles Weitere im ausführlichen Hygienekonzept.
                </p>
                <a href="/assets/images/pdfs/Hygienekonzept_Bits-und-Baeume22.pdf">
                    <button class="btn-dark">Zum Hygiene&shy;konzept</button>
                </a>
            </div>
        </div>


		<div class="w-full lg:w-5/12 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Engel</h2>
				<p>Um die Bits &amp; Bäume 2022 möglich zu machen, suchen wir noch jede Menge Helfer*innen. Wir verstehen uns als Mitmachkonferenz und bieten nicht nur einen Blick hinter die Kulissen der Bits &amp; Bäume, sondern auch
					 freien Eintritt an allen drei Tagen,
					  Essen und natürlich jede Menge Freude! Tragt euch einfach für mindestens eine Vier-Stunden-Schicht (oder mehr :-)) in unser
					 <!--  <a href="https://engelsystem.de/bub/login" target="blanc">Engelsystem</a> -->
					  <b>Engelsystem</b>
					 ein: Wir freuen uns sehr auf euch!</p>
                <a href="https://engelsystem.de/bub/login">
					<button class="btn-dark">Engel werden!</button>
				</a>
			</div>
		</div>

		<div class="w-full lg:w-1/5 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Tickets</h2>
				<p>
				Der Countdown läuft. Sichere dir jetzt noch schnell dein Ticket, solange der Vorrat reicht!
				</p>
                <a href="https://events.fairetickets.de/gedlv/">
					<button class="btn-dark">Zum Ticketshop</button>
				</a>

			</div>
		</div>

		<div class="w-full lg:w-2/5 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Kultur und Party</h2>
				<p>Selbstverständlich ist auch für ein abwechslungsreiches Kulturprogramm gesorgt. Musik, Lesungen und Theater. Was will mensch mehr? Wir freuen uns u. a. auf reichlich Musik am Freitag und Samstag und eine unvergessliche <b>Abschlussparty am Sonntag</b>.
				</p>

                <a href="/konferenz-2022/programm#kultur">
					<button class="btn-dark">Mehr Infos</button>
				</a>


			</div>
		</div>


		<div class="w-full lg:w-2/5 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Liveblog</h2>
				<p>
				Themen, Menschen, Hintergründe: Unsere ehrenamtlichen Konferenz-Reporter*innen sind für euch unterwegs.
				</p>
                <a href="https://blog.bits-und-baeume.org/">
					<button class="btn-dark">Zum Liveblog</button>
				</a>

			</div>
		</div>


        <div class="w-full lg:w-3/5 flex flex-col">
            <div class="box box-infos box-infos m-4 flex-1">
                <h2 class="h3">Bits & Bäume Journal 2022</h2>
                <p>Helft uns, eure Themen in die Welt zu tragen! In unserem englischen Bits & Bäume Journal wollen wir über die nächsten Monate euer geballtes Wissen zusammenbringen, erweitern und für jedermensch verständlich aufbereiten. Nutzt die Konferenz, um spannende Mitstreiter:innen kennenzulernen & verbündet euch für einen gemeinsamen Beitrag. Und habt keine Scheu, sehr gern unterstützen wir euch, falls ihr noch keine Publikationserfahrung habt! Hier geht's zum Call:
                </p>
                <a href="/assets/images/pdfs/Journal_CallForContributions_EN_online_20220927015654.pdf">
                    <button class="btn-dark">Zum Call For Contributions</button>
                </a>
            </div>
        </div>

		<div class="w-full lg:w-2/5 flex flex-col">
			<div class="box box-blue m-4 flex-1">
				<h2 class="h3">Kinderbetreuung</h2>
				<p>Wir freuen uns, euch während der Veranstaltung eine kostenlose Kinderbetreuung zwischen 10.00-18.00 Uhr durch eine erfahrene Agentur anbieten zu können.
					Mehr dazu in unseren FAQs.
					Bitte sendet die Anmeldung für euer Kind/ eure Kinder bis 19.09.2022 mit dem ausgefüllten
				<!--	 <b><a href="/assets/images/pdfs/Formular_Anmeldung_fuer_Kinderbetreuung.pdf">Formular</a></b>-->
					  <b>Formular</b>
					  an <b><a href="mailto:simone.glueck ät dnr.de">simone.glueck ät dnr.de</a></b>.

				</p>
				<a href="/assets/images/pdfs/Formular_Anmeldung_fuer_Kinderbetreuung.pdf">
					<button class="btn-dark">Zum Formular</button>
				</a>
			</div>
		</div>

		<div id="kueche" class="w-full lg:max-w flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Küche hinter dem Hauptgebäude</h2>
				<p>Die Küche kocht für alle frisch und vegan. Spenden für soziale Zwecke sind erwünscht!</p>
				<p><strong>Samstag Mittag 13–15 Uhr:</strong> Tom Kha mit Reis<br><small>Tom Kha: Zucchini, Möhren, Paprika, Chinakohl, Räuchertofu, Kokosmilch, Gewürzpaste</small></p>
			</div>
		</div>


	</div>
</section>

<section class="max-w-7xl">
<h3>Digitalisierung zukunftsfähig und nachhaltig gestalten </h3>

<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
	<div class="box__image w-full md:w-2/5">
		<img class="object-cover"
			src="{% thumbnail 'assets/images/forderungen2022-seite1.jpg' %}"
			alt="Forderungen 2022 Seite 1"
			sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
			data-img2picture-widths="485,702"
		>
	</div>

		<div class="text w-full md:w-3/5">
			<h3>Politische Forderungen der Bits &amp; Bäume 2022</h3>

			<p>Wir fordern: Die Digitalisierung muss stärker in den Dienst der Gesellschaft und des sozialen und ökologischen Wandels gestellt werden. Digitale Technologien sollten durch gleichberechtigte gesellschaftliche Teilhabe und innerhalb der planetaren Grenzen zur Verbesserung von Lebensbedingungen und der Umwelt beitragen, anstatt durch explodierenden Energiebedarf, Ressourcenverbrauch und mangelnde Teilhabe vor allem des Globalen Südens existierende Krisen noch weiter zu verschärfen. <b>Mit diesem Appell wenden sich 13 Organisationen aus Umwelt- und Naturschutz, Digitalpolitik, Entwicklungszusammenarbeit und Wissenschaft an die Bundesregierung, die Europäische Union und politische Akteure weltweit.</b> Anlässlich der Konferenz für Digitalisierung und Nachhaltigkeit „Bits &amp; Bäume“ 2022 veröffentlichen wir mehr als 60 Forderungen in fünf Themenbereichen.
			</p>
			<a href="/assets/images/pdfs/Bits_und_Baeume_Politische_Forderungen_deutsch.pdf">
				<button class="btn-dark">Zu den Forderungen</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>

</div>


</section>

<section class="max-w-7xl">

<h3>Veranstaltungen</h3>


	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/konferenz_forum.jpg' %}"
				alt="Sprecher mit Mikrofon"
				sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
				data-img2picture-widths="485,702"
			>
		</div>

		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bits &amp; Bäume 2022</h2>
			<h3>Die Konferenz für Digitalisierung und Nachhaltigkeit in Berlin</h3>
			<p>
				📅 30.09.-02.10.2022</br>
				📍 <a href="https://www.openstreetmap.org/way/40451892">TU Berlin</a></br>
				🎟️ <a href="https://bits-und-baeume.org/tickets">Tickets</a></br>
				💪 <a href="https://engelsystem.de/bub/login">Helfen</a></br>
			</p>
			<p>Nach der erfolgreichen ersten Bits &
				Bäume-Konferenz 2018 sind die Themen Digitalisierung und Nachhaltigkeit
					heute in unserer Gesellschaft so präsent wie nie zuvor. Wir stehen vor
					großen gesellschaftlichen und globalen Herausforderungen für eine gerechte und
					nachhaltige Gestaltung unserer (Um-)Welt. Deshalb möchten wir mit der Konferenz
					Bits &amp; Bäume 2022 vom 30. September bis 2. Oktober 2022 die Vernetzung von Umwelt- und Gerechtigkeitsaktivist*innen, Technikexpert*innen und Menschenrechtler*innen verbreitern und verstetigen. Eine Auftaktveranstaltung wird am Abend des 30. September stattfinden.</p>
			<a href="/konferenz-2022/">
				<button class="btn-dark">Zur Konferenz</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-5">
		<div class="box__image w-full md:w-2/5">
			<img class="object-cover"
				src="{% thumbnail 'assets/images/bildung_bits_baeume.png' %}"
				alt="Sprecher mit Mikrofon"
				sizes="(min-width: 1360px) 485px, (min-width: 780px) 35.89vw, 90.87vw"
				data-img2picture-widths="485,702"
			>
		</div>
		<div class="text w-full md:w-3/5">
			<h2 class="h3">Bildung, Bits und Bäume</h2>
			<h3>Festival für Digitalisierung und Nachhaltigkeit in der Bildung</h3>
			<p>
				📅 30. September und 1. Oktober 2022</br>
				📍 TU Berlin, Marchstraße 23, 10587 Berlin</br>
			</p>
			<p>Ein zweitägiges Lernfestival für Studierende und Dozierende pädagogischer Studiengänge, Lehrpersonen und Schulleitungen, Schüler*innen und alle, die Lernen neu denken und neu machen wollen. Lasst uns gemeinsam konkrete Ideen entwickeln, wie wir Zukunftsthemen rund um Nachhaltigkeit und Digitalisierung in die Schulen bringen!</p>
			<a href="https://bildung-bits-baeume.org/">
				<button class="btn-dark">Mehr Infos</button>
			</a>
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-img.svg" widht="50" height="40">
		</div>
	</div>


</section>

<section class="max-w-7xl">

<h3 id="feedback">Das Website-Team in eigener Sache</h3>

<div class="w-full lg:w-5/5 flex flex-col">
			<div class="box box-infos m-4 flex-1">
				<h2 class="h3">Call for Patches &amp; Feedback</h2>
				<p>Diese Website wird kolaborativ von vielen Menschen gepflegt, die sich alle auch noch um jede Menge anderer Dinge kümmern. Deswegen ist möglicherweise nicht immer alles picobello perfectissimo. Wenn dir also Fehler oder Probleme auffallen, würden wir uns sehr freuen, wenn Du eine der folgenden Möglichkeiten nutzt:
				</p>
                <ul>
					<li>Erstelle einen Pullrequest bei <a href="https://github.com/bitsundbaeume/bits-und-baeume.org">github</a> oder bei <a href="https://codeberg.org/bits-und-baeume/bits-und-baeume.org">codeberg</a>.</li>
					<li>Schreibe eine Nachricht in den Matrix-Kanal <a href="https://matrix.to/#/#b&b-website-feedback:matrix.org">B&amp;B Website Feedback</a>.</li>
					<li>Schreibe eine Mail an <span title="Dass das eine @dresden.bits-und-baeume.org Adresse ist, hat organisatorische Gründe. Es geht trotzdem um die 'große' Website. ;-)"><tt>website-feedback{ät}dresden.bits-und-baeume.org</tt></span>.</li>
                </ul>
			</div>
		</div>

</section>




