---
title: Das Erstarken der extremen Rechten im digitalen Raum und wie wir dagegen vorgehen können
description: Interview mit der politischen Bildnerin Lara Niederberger
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Interview: Das Erstarken der extremen Rechten im digitalen Raum und wie wir dagegen vorgehen können</h1>
	
	<i>Lara Niederberger arbeitet als politische Bildnerin zu den Themen Antisemitismus, Rassismus, Sexismus und Queerfeindlichkeit und deren Übertragung in medienpädagogische Bildungsformate. Sie koordiniert seit 2023 das <a href="https://medialepfade.org/projekt/antianti-praevention-von-online-radikalisierung/">Projekt AntiAnti</a> bei dem Verein mediale pfade. Im Rahmen des <a href="https://bits-und-baeume.org/fr%c3%bchlingsabend24/">digitalpolitischen Frühlingsabend</a> von Bits & Bäume am 29.04.2024 hat Lara einen Workshop zum Thema „#viralhate – online Strategien der extremen Rechten gegeben“. Leo aus der Bits & Bäume Koordinationsstelle hat im Nachgang der Veranstaltung nochmal mit Lara über das Thema Rechtsextremismus im digitalen Raum und ihre Erfahrungen aus der politischen Bildungsarbeit gesprochen.<br><br><br></i>

	
	<b>Leo: Du beschäftigst dich in deiner Arbeit viel mit dem Thema Online-Radikalisierung und Online-Strategien der extremen Rechten. Welchen Stellenwert hat die Nutzung sozialer Medien für die extreme Rechte heutzutage?</b><p></p>
	<p>Lara: Die Nutzung sozialer Medien ist für die extreme Rechte eine sehr große Chance, ihre Reichweite über Massenplattformen massiv zu vergrößern. Grade junge Zielgruppen, zu denen sie sonst  keinen Zugang hätten, können sie so viel besser erreichen. Die Nutzung sozialer Medien hat so also große Bedeutung für viele Akteure der extremen Rechten.</p>


	<b>Welche Entwicklungen können wir dabei in den letzten Jahren beobachten?</b>
	<p></p>
	<p>Man muss sagen, dass die extreme Rechte schon immer auch im Internet unterwegs war. So alt wie das Internet ist, ist auch deren Auftreten dort. Die extreme Rechte ist schon immer mit technischen Entwicklungen mitgegangen und ist seit Beginn bei Social Media dabei. Was man jetzt beobachtet, ist allerdings eine stetige Professionalisierung solcher ideologischer Akteure und eine ganz klare Anpassung an Nutzungstrends der Plattformen, die gerade eben am beliebtesten sind. Das Voranschreiten der Professionalisierung sieht man zum Beispiel auch daran, dass Marketingagenturen für rechtsextreme Mobilisierung aufgebaut werden sollen. Da fließen viele finanzielle Ressourcen der extremen Rechten hin.</p>


	<b>Und welche Rolle nimmt die AfD dabei ein? Wie nutzt die AfD die sozialen Medien auch im Vergleich zu anderen Parteien?</b><p></p>
	<p>Die AfD geht da grundsätzlich sehr strategisch vor und ist vor allem auf TikTok unterwegs. Sie kennen sich sehr gut mit der Funktionsweise der Plattform aus und nutzen zeitgemäße politische Kommunikation. Dadurch können sie vor allem sehr viele junge Menschen erreichen. Sie waren dabei seit Beginn immer up to date was Social Media angeht, vor allem im Vergleich zu anderen Parteien. Aktuell sind so zum Beispiel sechs der zehn beliebtesten TikTok-Politiker*innen-Accounts von der AfD. Einer davon, der besonders erfolgreich ist, ist Maximilian Krah*. Er ist ein sehr relevanter AfD Politiker, sitzt im Europa Parlament und steht jetzt auch zur Wahl. Maximilian Krah hat einen eigenen Social-Media-Strategen, den Rechtsextremen Erik Ahrens, der ihm maßgeblich zu seinem Erfolg auf Social Media verholfen hat.</p>
	<p>Grundsätzlich erkennt die AfD das Potenzial der sozialen Medien an, nimmt es ernst und geht mit den aktuellen Trends mit. Und das haben sie schon viel früher und viel besser als alle anderen Parteien gemacht. Teilweise werden auch Plenarreden schon Social Media konform geschrieben. Das heißt, dass sie besonders kurz und mit provokativen kurzen Sätzen geschrieben werden, die dann direkt auf Social Media hochgeladen werden können.</p>
	<p>Mit ihrem digitalen Auftritt will die AfD außerdem eine Gegenöffentlichkeit schaffen, weil sie ja immer behauptet, von den Mainstream Medien zensiert zu werden und nicht das sagen zu können, was sie wollen. Auf TikTok fällt dann diese Gatekeeper-Funktion von den klassischen Medien weg.</p>


	<b>Was ist denn eine der wichtigsten Online-Strategien der extremen Rechten?</b><p></p>
	<p>Grundsätzlich gibt es nicht die wichtigste Strategie. Sie nutzen einfach alle technischen Möglichkeiten die es gibt. Es ist vor allem die Kombination aus allem, was Social Media Plattformen hergeben. Dazu gehört zum Beispiel die strategische Nutzung von Memes, Hashtags und Emojis, aber auch viele Mitmachstrategien, die die Nutzer*innen aktivieren. Challenges sind dabei zum Beispiel auf TikTok grade sehr im Trend. Außerdem geht es auch viel darum, mass content zu machen, also Überschwemmungen der Plattformen von bestimmten Inhalten zu produzieren.</p>


	<b>Mit welchen Maßnahmen können und sollten wir gegen das Erstarken der extremen Rechten im digitalen Raum vorgehen?</b><p></p>
	<p>Generell passiert das Erstarken der Rechten ja nicht nur online, sondern auch offline, was man eben an den hohen Wahlprognosen der AfD erkennt. Es braucht es einen gesellschaftlichen Diskurs, der sich klar gegen Rechts positioniert, online sowie offline. Gleichzeitig muss viel mehr politischer Druck auf Plattformen ausgeübt werden, dass diese eben viel strenger moderieren und dass Großaccounts rechten Akteuren einfach gesperrt werden.</p>
	<p>Aus meiner Perspektive stellt sich dann natürlich auch immer noch die Frage, was man pädagogisch dagegen tun kann. Da ist es meiner Meinung nach wichtig, über die Funktionsweisen und die Nutzung von Social Media Plattformen zu sprechen, um zu lernen, wie man diese souverän und mündig nutzen kann. Gleichzeitig ist es wichtig, politisches und kritisches Denken zu fördern und das wiederum mit einer Medienkompetenz in Verbindung zu bringen. Es geht darum, kritisch zu hinterfragen, wo Informationen eigentlich herkommen, zu erkennen, ob und warum sie emotionalisierend geschrieben sind und zu erkennen, wenn Inhalte menschenfeindliche Ideologien befeuern.</p>

	<b>Ich würde gerne nochmal ein bisschen über deine Arbeit als politische Bildnerin sprechen. Wie werden denn die Workshops, die ihr an Schulen durchführt, von den Jugendlichen angenommen? </b><p></p>
	<p>Eigentlich ziemlich gut. Ich glaube es liegt daran, dass wir versuchen, unsere Workshops sehr lebensnah an den Jugendlichen auszurichten. Viele Jugendliche verbringen viel Zeit auf den sozialen Medien. Da knüpfen wir an und fragen, was die Jugendlichen auf den Plattformen wahrnehmen, was da vielleicht auch problematisch, was aber auch cool ist. Und was das persönlich mit einem zu tun hat. Und eben auch, wie man Social Media für sich nutzen kann um auch am gesellschaftlichen Diskurs teilzunehmen.</p>


	<b>Und wer bucht diese Workshops? Sind das Klassen in denen es schon Probleme mit Radikalisierung gibt oder werden die Workshops präventiv durchgeführt?</b><p></p>
	<p>Wir machen primär Prävention. Das heißt, wir arbeiten nicht mit schon radikalisierten Jugendlichen mit geschlossenem Weltbild zusammen. Da würde das Format von eintägigen Workshops durch fremde Personen überhaupt nicht funktionieren, sondern da müssen langfristige Programme dann ansetzen.</p>


	<b>Habt ihr in den Klassen auch häufiger mit Kindern und Jugendlichen zu tun, die bereits in rechten Kreisen unterwegs sind?</b><p></p>
	<p>Es passiert natürlich, aber es ist nicht so häufig. Lehrkräfte wissen so etwas auch nicht immer vorher. Manchmal kommen rechtsextreme Einstellungen auch erst in so einem Workshop raus. Das muss aber gar nicht der Fall sein, weil viele Jugendliche auch immer noch Respekt haben, wenn zwei fremde Erwachsene in die Klasse kommen. Sie machen dann vielleicht gar nicht so transparent, was sie alles eigentlich denken oder wo sie sich bewegen.<br>
Klar gibt es aber auch in unseren Workshops Fälle, wo man merkt, dass jemand bereits ein gefestigtes rechtsextremes Weltbild hat. Manchmal merkt man zum Beispiel, dass da ein enormer Einfluss von Seiten der Eltern ist. Da hat man mit einem eintägigen Workshop keine Chance dagegen anzukommen. Man muss dann im Zweifel abwägen, ob es mehr Sinn macht, wenn sich die Person dann für die Zeit des Workshops anders beschäftigt. Aber das passiert eher selten.</p>


	<b>Spannend! Denn irgendwo müssen ja eigentlich auch die ganzen vielen Jugendlichen sitzen, die laut aktuellen Umfragen rechtsextreme Ansichten vertreten.</b><p></p>
	<p>Ja, voll! Da ist auch das Konzept von sozialer Erwünschtheit nochmal wichtig. Jugendliche wissen ja, was ihre Lehrkräfte hören möchten und lernen ziemlich schnell richtige Antworten zu geben, um einfach ihre Ruhe zu haben. Deswegen ist es grade wichtig für Leute, die langfristig mit Jugendlichen arbeiten und mehr Beziehung zu ihnen aufbauen, dass sie erkennen, ob sich eine Person radikalisiert. Und da muss man dann mehr über eine Beziehungsebene ansetzen. </p>	


	<b>Ihr bietet ja mehrere Workshops zu verschiedenen Themen an. Welche Workshops sind da bei euch die beliebtesten oder die, die am häufigsten angefragt werden? </b><p></p>
	<p>Das ist ganz interessant, weil man daran immer gut die aktuellen Bedarfe ablesen kann. Letztes Jahr war der zu Online-Strategien der extremen Rechten mit Abstand der beliebteste. Dieses Jahr hatten wir vor allem zu Beginn des Jahres total viele Anfragen zu Desinformationen und Hate Speech. Durch den Krieg in Israel-Palästina hat sich der Bedarf dann auch nochmal geändert und es gab großes Interesse der Lehrkräfte an dem Thema Desinformation. Der Workshop zur extremen Rechten wird aber aktuell auch weiterhin viel gebucht. Ziemlich beliebt ist dieses Jahr außerdem der zu Verschwörungserzählungen und Antisemitismus.</p>	


	<b>Zum Abschluss dann nochmal eine allgemeinere Frage: Was nimmst du mit aus den Workshops und deiner Arbeit?</b><p></p>
	<p>Also ich lerne eigentlich immer wieder, dass Jugendliche oftmals schon eine ziemlich gute Medienkompetenz mitbringen. Sie bewegen sich ja täglich auf den Plattformen und entwickeln einen eigenen Umgang, zum Beispiel mit Hate Speech und Inhalten, die sie nicht sehen wollen. Man kann dabei viel von den Jugendlichen lernen. </p>	
	<p>Selbst wenn Aussagen fallen, die rechtes Gedankengut beinhalten, ist es uns wichtig, die Jugendlichen als Personen wahrzunehmen und sich auch zu fragen, ob die Person grade vielleicht einfach provozieren will oder ausprobiert, wo die Grenzen liegen. Oder ob die Person grade in einer Phase des Umbruchs ist. Und dann ist es uns immer wichtig, die Jugendlichen auch mit ihren Frustrationen und Sorgen ernst zu nehmen, die vielleicht auch grade durch dieses Nutzen von Social Media hervorgerufen werden, weil man dort ja permanent mit Krisen und schwierigen Inhalten konfrontiert ist.</p>
	<p>Und gleichzeitig gibt es auch viele sehr coole Jugendliche, die sich auch immer wieder aktiv positionieren gegen menschenfeindliche und menschenverachtende Einstellungen. Da würde ich schon sagen: The kids are alright!</p>

	<b>Das klingt ja eigentlich doch ganz hoffnungsvoll jetzt am Ende. Danke für das Interview!<br><br><br></b>

	<i>*Zum Zeitpunkt des Interviews hatte sich der Skandal um Maximilian Krah und seine Äußerungen zu Mitgliedern der SS noch nicht entfaltet. Krah wurde mittlerweile durch die Parteispitze von Wahlkampfauftritten ausgeschlossen, außerdem wurden die Abgeordneten der AfD aus der ID-Fraktion ausgeschlossen. Dennoch bleibt er Spitzenkandidat der AfD bei der Europa Wahl.</i>	
	</p>	
</br>



</section>

