---
title: Erklärung zur klimabewussten Website
metatitle: Klimabewusste Website - Bits und Bäume
description: Die Website der „Bits & Bäume“ soll so klimaschonend wie möglich sein und ist daher von °Cleaner Web audititert worden.
layout: layouts/_page.ejs
tags: sitemap
---

<p>Diese Website unter https://bits-und-baeume.org/ hält das °Cleaner-Web-Siegel für
klimabewusste Websites.</p>

<p>
	<a href="https://cleaner-web.com/klimabewusste-website/bits-and-baeume-die-bewegung-fuer-digitalisierung-und-nachhaltigkeit/" target="_blank" rel="noopener noreferrer">
		<img class="h-48 hover:scale-105 hover:transform-gpu duration-50" src="/assets/images/cleaner-web-siegel.svg" alt="Siegel der Initiative °Cleaner Web">
	</a>
</p>

<p>
	<ul>
		<li>Ausgestellt: 5.9.2022</li>
		<li>Gültig bis: 4.9.2023</li>
		<li>Geprüft von: °Cleaner Web - Klimabewusst im Internet</li>
	</ul>
</p>

<p>Die Website erfüllt den °Cleaner-Web-Standard. Sie wurde anhand objektiv
messbarer Faktoren darauf geprüft, wie klimabewusst die Website ist.
Um auch digital einen Beitrag für den Klimaschutz zu leisten, haben wir diese
Website auf Gesichtspunkte der Carbon-Emission-Optimierung überprüfen lassen
und sind im dauerhaften Prozess, diese dahingehend weiter zu optimieren und
zukünftige Änderungen immer auch nach klimabewussten Gesichtspunkten zu
gestalten.</p>

<h2>Prüf-Kategorien des °Cleaner-Web-Standards sind:</h2>

<p>
	<ul>
		<li>Inhalte der Website</li>
		<li>Datenmenge</li>
		<li>Aufwand am Endgerät</li>
		<li>Green Hosting</li>
		<li>Server und Performance</li>
		<li>Datenübertragung</li>
	</ul>
</p>

<h2>Fortlaufende Klima-Optimierung</h2>

<p>Weiterhin ist unser Ziel, die Website kontinuierlich zu verbessern – wir sehen diese
Online-Maßnahme als einen von vielen Klimaschutz-Bausteinen, um aktiv zur
dauerhaften Senkung der CO2-Emissionen beizutragen. Bei größeren Änderungen
oder einem Relaunch werden wir die Website erneut prüfen lassen.</p>

<p>Haben Sie Fragen oder Ideen zur Verbesserung? Melden Sie sich bei <a href="mailto:info@bits-und-baeume.org">info@bits-und-baeume.org</a>.</p>
