---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/conferences/
---



<section class="max-w-3xl">

	<h1>Die Bits & Bäume Konferenzen</h1>

	<p>Die Bewegung Bits & Bäume ist aus den zwei großen Konferenzen 2018 und 2022 hervorgegangen. Im Rahmen der Konferenzen mit über 4000 Teilnehmer*innen sind verschiedene Akteur*innen aus Zivilgesellschaft und Wissenschaft zusammengekommen, um Ideen für eine sozial-gerechte Gestaltung der Digitalisierung im Sinne der Nachhaltigkeit auszutauschen und zu entwickeln.<br><br>
Stöber gerne mal durch die Konferenzseiten, um Dir selbst ein Bild zu machen. Es gibt viele spannende und nach wie vor aktuelle Beiträge!</p>



	<div class="box box-infos">
		<h2 class="h3">Die Konferenz 2022</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/B&B-2022_CCBY-SilkeMayer_IMG175.jpg"
				alt="Diskussionen über mögliche Strategien für das Superwahljahr 2024"	
			>
			<figcaption> &copy; 2022 Silke Mayer </figcaption>
		</div>
	</div>
		<p>Vom 30.09. bis 02.10.2022 fand auf dem Campus der TU Berlin die zweite Bits & Bäume Konferenz mit über 2500 Teilnehmenden statt. Das Programm wurde im Vergleich zur ersten Konferenz nochmal deutlich erweitert und fokussierte sich zudem stärker auf politische Arbeit und internationale Inhalte. Abgerundet wurde die Konferenz durch ein kulturelles Rahmenprogramm. 
		</p>
		<a href="{{ site.url }}/konferenz-2022/">
			<button class="btn-dark">Konferenzseite 2022</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Die Konferenz 2018</h2>

	<div class="box box-img flex flex-wrap md:flex-nowrap gap-x-3">
		<div class="box__image_inline w-full ">
			<img class="object-cover"
				src="{{ site.url }}/assets/images/BuB2018_(011)_CCBY-SantiagoEngelhardt.jpg"
				alt="B&B 2018"
			>
			<figcaption> &copy; 2018 Santiago Engelhardt </figcaption>
		</div>
	</div>
		<p>Am 17. und 18. November 2018 fand auf dem Campus der TU Berlin die erste Bits & Bäume Konferenz statt.  Über 2000 Teilnehmde aus Techie- und Ökoszene kamen zusammen, um am vielfältigen Programm mit über 120 Beiträgen teilzunehmen und Digitalisierung und Nachhaltigkeit stärker zusammenzudenken.
		</p>
		<a href="{{ site.url }}/konferenz-2018/">
			<button class="btn-dark">Konferenzseite 2018</button>
		</a>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


</section>

