---
title: Bits & Bäume 2022 - Die Konferenz für Digitalisierung und Nachhaltigkeit
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/
---


<section class="max-w-7xl">
	<h2>Bits & Bäume 2022 – Die Konferenz für Digitalisierung und Nachhaltigkeit</h2>

	<p>
	Die Themen der Bits &amp; Bäume 2022 decken alle Inhalte an der Schnittstelle von Nachhaltigkeit und Digitalisierung ab - und reichen z.B. von vernetzter Mobilität über den Rohstoff- und Strombedarf digitaler Geräte, Datensuffizienz und kooperativen Plattformökonomien bis hin zu smarten Energienetzen oder Monopolisierungstendenzen in der digitalen Ökonomie.
	</p>
	
	<a href="/konferenz-2022/forderungen">
		<button class="btn-dark">Forderungen 2022</button>
	</a>
	<a href="https://media.ccc.de/b/conferences/bitsundbaeume/2022">
		<button class="btn-dark">Foto- und Videoaufzeichnungen</button>
	</a>
	
	
		<a href="https://blog.bits-und-baeume.org/">
		<button class="btn-dark">Konferenzblog</button>
	</a>
	
	

	<!-- Vorheriger Text (zur Bits &amp; Bäume Bewegung): Welche Rolle spielt Nachhaltigkeit für stabile Tech-Communities? Welche ökologischen Chancen stecken in digitalen Anwendungen etwa für Klima- und Ressourcenschutz? Welche Arten von Digitalisierung stehen diesen Zielen entgegen oder sind gar kontraproduktiv? Wie kann die digitale Gesellschaft demokratisch und gerecht gestaltet und zugleich darauf ausgerichtet sein, auf friedvolle Weise die Grundlagen unseres Lebens auf diesem Planeten zu bewahren? -->

	<div style="position: relative;">
		<img src="{{ site.url }}/assets/images/20221001_BitsBaeume2022_FotosSilkeMayer-2_export.jpg" title="Vorstellung der Trägerkreisorganisationen. Foto von der Auftaktveranstaltung 30.09.2022" alt="Vorstellung der Trägerkreisorganisationen. Foto von der Auftaktveranstaltung 30.09.2022">
		<div style="position: absolute; font-size: min(32px, 2.5vw); line-height: 1; font-weight: 700; top: 12%; left: 2.5%; text-shadow: rgba(255, 255, 255, 0.6) 0px 5px 21px;">
			<span style="font-size: min(64px, 5vw); line-height: 1;">„</span><div style="display: inline-block; padding-left: min(7px, 0.5vw); padding-right: min(7px, 0.5vw);">In Krisenzeiten braucht es starke<br>Bewegungen mit großen Ideen.</div><div style="position: relative; top: max(-20px, -1.5vw); display: inline-block;"><span style="font-size: min(64px, 5vw); line-height: 1;" style="position: relative;">“</span></div>
		</div>
	</div>

</section>















