---
title: Die Konferenzen und Events von Bits & Bäume
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Die Bits & Bäume Konferenzen</h1>

	<p>Deskriptiver über die wichtigsten Konferenzen und Events von B&B</p>




</section>

