---
title: Kontakt und Mitarbeit
layout: layouts/_page.ejs
lang: de
---


<section class="max-w-3xl">
	<h3>Kontakt</h3>

	<div class="box box-cta">
		<p>E-Mail: info [ät] bits-und-baeume.org</p>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>



<section class="max-w-3xl">
	<h3>Mach mit!</h3>

	<div class="box box-links">
		<p>Es gibt verschiedene Möglichkeiten, um bei uns mitzumachen. Für mehr Infos, schau mal</p>
		<ul>
			<li><a href="https://matrix.to/#/#bitsundbaeume:matrix.org">in unserem Community Matrix</a>,</li>
			<li><a href="https://twitter.com/bitsundbaeume/">bei Twitter</a>,</li>
			<li><a href="https://mastodon.bits-und-baeume.org/@bits_und_baeume">Mastodon</a>,</li>
			<li>oder im <a href="https://discourse.bits-und-baeume.org/">discourse Forum</a>vorbei,</li>
			<li>komm zum monatlichen <a href="https://wiki.bits-und-baeume.org/community-treffen/">Online Community Treffen</a>,</li>
			<li>schreib eine Mail an info {ät} bits-und-baeume.org </li>
			<li>oder lass dich auf unserem <a href="https://lists.posteo.de/listinfo/bitsundbaeume">Newsletter</a> eintragen.</li>

		</ul>

		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>

<section class="max-w-3xl">
	<h3 id="stelleausschreibung">Stellenausschreibung</h3>

	<div class="box box-cta">
		<p><b>„Koordinator:in nachhaltige Digitalisierung für Bits &amp; Bäume (w/m/div)“</b>
		<br>
		<br>

		32-40 h / Woche (80-100%), Berlin, Beginn möglichst zum 01.07.2023.
		<br>
		<br>

		Bits &amp; Bäume (B&amp;B) ist derzeit die wichtigste Bewegung für eine nachhaltige Digitalisierung in Deutschland. Sie besteht aus 13 Organisationen aus den Bereichen Umwelt- und Klimaschutz, Digitalpolitik, Entwicklungspolitik und Wissenschaft sowie einer wachsenden B&amp;B-Community aus selbstorganisierten Ehrenamtlichen. Gemeinsam setzen wir uns dafür ein, die Digitalisierung stärker in den Dienst der Gesellschaft und des sozialen und ökologischen Wandels zu stellen. 2018 und 2022 haben wir zwei Großkonferenzen zu Digitalisierung und Nachhaltigkeit in Berlin ausgerichtet. Die rund 2.500 Teilnehmenden, über 200 Programmpunkte und der gemeinsame Positionskatalog mit rund 60 politischen Forderungen spiegeln die Relevanz des Themas wider.

		<br>
		<br>
		Um die Forderungen an die Politik heranzutragen und die Bewegung zu stärken, wollen wir unsere Vernetzungs-, Öffentlichkeits- und Advocacyarbeit auch zwischen den Konferenzen verstärkt abstimmen. Dafür suchen wir eine/n Koordinator:in Bits &amp; Bäume. Zu Ihren Aufgaben gehört es, die B&amp;B-Koordinationsstelle aufzubauen und gemeinsam mit den Organisationen das B&amp;B-Bündnis als eigenständigen Akteur im Diskurs rund um Digitalisierung und Nachhaltigkeit zu etablieren. Die Anstellung erfolgt bei Germanwatch.


		<br>
		<br>

		<b>Zu Ihren Hauptaufgaben gehören: </b>
		</p>
		<ul>
			<li>Koordinieren von regelmäßigen Netzwerk- und Austauschrunden zwischen B&amp;B-Akteuren</li>
			<li>Screenen des politischen Diskurses, Analysieren von Synergien zwischen den B&amp;B-Trägerkreisorganisationen, Entwickeln von Ideen für relevante B&amp;B-Themen und -Aktivitäten</li>
			<li>Unterstützen bei der Strategieentwicklung sowie Konzeption, Organisation und Umsetzung von Workshops zu politischen Schwerpunkten, dazugehöriger Advocacy-Strategie und eigenständiges Netzwerken</li>
			<li>Unterstützen bei der Organisation von Veranstaltungen zur Platzierung der politischen Forderungen von B&amp;B</li>
			<li>Wissensmanagement und Wissensaustausch</li>
			<li>Strategische Öffentlichkeits- und Pressearbeit</li>
			<li>Koordination von Fördermittelakquise zwischen den Trägerkreisorganisationen, um die aktive Netzwerkarbeit und Kooperation zwischen den einzelnen B&amp;B-Trägerkreisorganisationen weiter auszubauen</li>
		</ul>
		<p>
		<b>Sie bringen mit:</b>
		</p>
		<ul>
			<li>Studium in einem einschlägigen Fachgebiet oder äquivalente Kombination aus Ausbildung und Arbeitspraxis sowie mind. 2 Jahre relevante Berufserfahrung</li>
			<li>Freude an Kommunikations- und Netzwerkarbeit sowie seriöses und kompetentes Auftreten nach Außen</li>
			<li>Hohe Motivation, eine nachhaltige Digitalisierung und Digitalisierung für Nachhaltigkeit zu befördern sowie Kenntnisse, Verständnis, Erfahrungen des Themenkomplexes und hohe Affinität dazu</li>
			<li>Ausgeprägte Organisations- und Koordinationsfähigkeit</li>
			<li>Erfahrungen in der Arbeit von und mit NGOs und/oder Wissenschaft und idealerweise in Bündnissen</li>
			<li>Kenntnisse in der Presse- und Öffentlichkeitsarbeit</li>
			<li>Erfahrungen mit Advocacy- oder politischer Arbeit, gute Kenntnisse über politische Prozesse auf deutscher und möglichst EU-Ebene sowie politisch-strategisches Gespür</li>
			<li>Sehr gute Deutsch- und Englischkenntnisse in Wort und Schrift</li>
		</ul>
		<p>
		<b>Wir bieten</b> eine in Anlehnung an den öffentlichen Dienst vergütete und zunächst bis zum 30.04.2026 befristete Anstellung in Vollzeit/Teilzeit (32-40 Stunden pro Woche). Eine Verlängerung der Stelle wird angestrebt. Arbeitsort ist Berlin mit der Möglichkeit teilweise mobil zu arbeiten. Wir bieten hohe Flexibilität bei der Gestaltung der Arbeitszeit und Unterstützung bei technischen Hilfsmitteln.

		<br>
		<br>

		<b>Werden Sie Teil</b> eines engagierten und sympathischen Teams und setzen Sie sich gemeinsam mit uns für eine nachhaltige Digitalisierung ein.

		<br>
		<br>

		<b>Ihre Bewerbung</b> schicken Sie uns bitte bis zum 23.05.2023 zusammen mit dem ausgefüllten Bewerbungsbogen, den Sie auf unter <a href="https://www.germanwatch.org/de/88048">https://www.germanwatch.org/de/88048</a> abrufen können (Kontakt bei technischen Problemen: bewerbungen@germanwatch.org). Der <b>Bewerbungsbogen</b> ist das zentrale Dokument Ihrer Bewerbung. Er enthält weitere wichtige Hinweise zum Bewerbungsverfahren.

		<br>
		<br>

		<b>Die Bewerbungsgespräche</b> werden voraussichtlich an folgenden Terminen stattfinden (per Video):

		<br>
		</p>

		<ul>
		<li>Erste Gesprächsrunde: 09.06.2023</li>

		<li>Zweite Gesprächsrunde (mit einer Auswahl von Bewerber:innen der 1. Runde): 16.06.2023</li>
		</ul>

		<br>
		<br>
		<p>Die Ausschreibung gibt es hier auch zum <a href="/assets/images/2023/stellenausschreibung_koordinator_in_nachhaltige_digitalisierung_fuer_bits_baeume.pdf">Download</a>.</p>

		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" alt="box" width="50" height="50">
		</div>
	</div>

</section>
