---
title: Der Bits & Bäume Trägerkreis
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Bits & Bäume wächst und gedeiht: Start der neuen Koordinationsstelle ab August 2023</h1>

	<p>Die Bits & Bäume Konferenzen haben viele Menschen und Organisationen motiviert, eine nachhaltige Digitalisierung mitzugestalten. Um diese Bewegung weiter auszubauen, politische Prozesse kritisch zu begleiten und die Forderungen des Netzwerkes auch zwischen den Konferenzen wirksam in die Politik zu tragen, freuen wir uns über den Start der neu geschaffenen Bits & Bäume Koordinationsstelle ab August 2023!</p>
	
	<p>Die Bits & Bäume Konferenzen 2018 und 2022 haben gezeigt: Die aktuelle Ausgestaltung der Digitalisierung wirkt oft als Brandbeschleuniger sozialer und ökologischer Probleme. So wird derzeit unter anderem viel über den Energieverbrauch von generativer Künstlicher Intelligenz (KI) und die Prekarisierung der Arbeitsverhältnisse von Clickworkern und Kulturschaffenden diskutiert. Doch wie stellen wir sicher, dass KI gemeinwohlorientiert und energiesparend gestaltet und eingesetzt wird? Wie ermöglichen wir den Aufbau und Erhalt einer demokratischen, klimaneutralen, sicheren und vertrauenswürdigen digitalen Infrastruktur? Wie gestalten wir digitale Endgeräte im Sinne einer ganzheitlichen Kreislaufwirtschaft möglichst langlebig? Und welche transformativen Geschäftsmodelle und Regulierungen brauchen wir im digitalen Raum, um Desinformation, digitaler Gewalt und konsumfördernden Mechanismen entgegenzuwirken?</p>
	
	<p>Der Schlüssel zur Beantwortung vieler dieser Fragen liegt in der Art und Weise, wie wir digitale Technologien gestalten und nutzen. Dabei handelt es sich um eine gesamtgesellschaftliche Aufgabe: Zugrundeliegende Fragestellungen müssen demokratisch und unter Beteiligung der Zivilgesellschaft ausgehandelt werden. Es ist jetzt an der Zeit, sich zu vernetzen und aktiv zu werden, um die grundlegenden Spielregeln und die Ausgestaltung des digitalen Wandels in eine ökologische und soziale Richtung zu lenken.</p>
		
	<p>Genau das wollen wir mit der Verstetigung von Bits & Bäume erreichen: Durch die Bits & Bäume Koordinationsstelle soll in den nächsten knapp drei Jahren das kontinuierliches Zusammenspiel zwischen den 13 Umwelt-, Klima-, Entwicklungs- und netzpolitischen Organisationen sowie der Bits & Bäume Community gestärkt werden. Unser Ziel ist es, Zivilgesellschaft, Wissenschaft sowie die breiten Öffentlichkeit für das Querschnittsthema Digitalisierung und Nachhaltigkeit zu mobilisieren. Durch Vernetzung verschiedener Akteure und die Aktivierung von Multiplikator:innen, wollen wir das Wissen und das Bewusstsein für die Chancen und Risiken der Digitalisierung schärfen, Teilhabemöglichkeiten erweitern und die Voraussetzungen und politischen Rahmenbedingungen für eine sozial und ökologisch gerechte Digitalisierung aktiv mitgestalten.</p>
	
	<p>Freut euch schon auf kleinere und größere Bits & Bäume Veranstaltungen, bewegende Narrative, konkretere Forderungen und eine wachsende Bewegung!</p>	
</br>
<p>
	<a href="/kontakt"><span class="btn-dark">Alle Infos und Kontakt</span></a>
	</p>

<p>
<h3>Die Arbeit der Bits & Bäume Koordinationsstelle wird gefördert durch die Stiftung Mercator.</h3>
Die Stiftung Mercator ist eine private, unabhängige Stiftung, die auf der Grundlage wissenschaftlicher Expertise und praktischer Projekterfahrung handelt. Sie strebt mit ihrer Arbeit eine Gesellschaft an, die sich durch Weltoffenheit, Solidarität und Chancengleichheit auszeichnet. Um diese Ziele zu erreichen, fördert und entwickelt sie Projekte, die Chancen auf Teilhabe und den Zusammenhalt in einer diverser werdenden Gesellschaft verbessern. Demokratie und Rechtsstaatlichkeit in Europa will die Stiftung Mercator durch ihre Arbeit stärken, die Auswirkungen der Digitalisierung auf Demokratie und Gesellschaft thematisieren und den Klimaschutz vorantreiben. Die Stiftung Mercator engagiert sich in Deutschland, Europa und weltweit. Dem Ruhrgebiet, Heimat der Stifterfamilie und Stiftungssitz, fühlt sie sich besonders verbunden.
	<img class="-ml-3 mt-2 mb-12" src="{{ site.url }}/assets/images/mercator.png" alt="Logo der Stiftung Mercator">
</p>

	
	
</section>

