---
title: Der Bits & Bäume Trägerkreis
description: 30.09.–02.10.2022, TU Berlin.
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Bits & Bäume wächst und gedeiht: Start der neuen Koordinationsstelle ab August 2023</h1>

	<p>Um auch zwischen den Konferenzen zu Digitalisierung und Nachhaltigkeit unsere Forderungen zu verbreiten und zu konkretisieren, die Bewegung weiter aufzubauen und politische Prozesse kritisch zu begleiten, freuen wir uns über den Start der neu geschaffenen Bits & Bäume Koordinationsstelle ab August 2023!</p>
	
	<p>Die Bits & Bäume Konferenzen haben gezeigt: Die momentane Ausgestaltung der Digitalisierung wirkt oft als Brandbeschleuniger sozialer und ökologischer Probleme. Aktuell viel besprochen ist zum Beispiel der Energieverbrauch von generativer KI und die Prekarisierung der Arbeitsverhältnisse von Clickworkern und Kulturschaffenden. Doch wie stellen wir sicher, dass KI gemeinwohl-orientiert und energiesparend gestaltet und eingesetzt wird? Wie ermöglichen wir den Aufbau und die Instandhaltung einer demokratischen, klimaneutralen, sicheren und vertrauenswürdigen digitalen Infrastruktur? Wie gestalten wir digitale Endgeräte im Sinne einer ganzheitlichen Kreislaufwirtschaft möglichst langlebig? Und welche transformativen Geschäftsmodelle und Regulierung braucht es im digitalen Raum, um Desinformation, digitaler Gewalt und konsumanreizenden Mechanismen entgegen zu wirken?</p>
	
	<p>Der Schlüssel für die Antwort vieler dieser Fragen liegt in der Art und Weise, wie wir digitale Technologien designen und nutzen. Die Antwortsuche ist eine gesamtgesellschaftliche Aufgabe. Zugrundeliegende Fragestellungen müssen demokratisch und unter Beteiligung der Zivilgesellschaft ausgehandelt werden. Um die grundlegenden Spielregeln und die Ausgestaltung des digitalen Wandels in eine ökologische und soziale Richtung zu lenken, ist es jetzt an der Zeit sich zu vernetzen und aktiv zu werden. </p>
		
	<p>Genau das wollen wir durch die Verstetigung von Bits & Bäume erreichen: Mit der Unterstützung durch die Bits & Bäume Koordinationsstelle soll das kontinuierliches Zusammenspiel zwischen den 13 Umwelt-, Klima-, Entwicklungs- und netzpolitischen Organisationen sowie der Bits & Bäume Community in den nächsten 34 Monaten gestärkt werden. Unser Ziel ist es, Zivilgesellschaft, Wissenschaft sowie die breiten Öffentlichkeit für das Querschnittsthema Digitalisierung und Nachhaltigkeit zu mobilisieren. Durch Vernetzung verschiedener Akteure und die Aktivierung von Multiplikator:innen, wollen wir das Wissen und das Bewusstsein für die Chancen und Risiken der Digitalisierung schärfen, Teilhabemöglichkeiten erweitern und somit die Voraussetzungen und politischen Rahmenbedingungen für eine sozial und ökologisch gerechte Digitalisierung mitgestalten.</p>
	
	<p>Freut euch schon auf kleinere und größere Bits & Bäume Veranstaltungen, bewegende Narrative, konkretere Forderungen und eine wachsende Bewegung! </p>	
</br>
<p>
	<a href="/kontakt"><span class="btn-dark">Kontakt zur Koordinationsstelle</span></a>
	</p>

<p>
<h3>Die Arbeit der Bits & Bäume Koordinationsstelle wird gefördert durch die Stiftung Mercator.</h3>
Die Stiftung Mercator ist eine private, unabhängige Stiftung, die auf der Grundlage wissenschaftlicher Expertise und praktischer Projekterfahrung handelt. Sie strebt mit ihrer Arbeit eine Gesellschaft an, die sich durch Weltoffenheit, Solidarität und Chancengleichheit auszeichnet. Um diese Ziele zu erreichen, fördert und entwickelt sie Projekte, die Chancen auf Teilhabe und den Zusammenhalt in einer diverser werdenden Gesellschaft verbessern. Demokratie und Rechtsstaatlichkeit in Europa will die Stiftung Mercator durch ihre Arbeit stärken, die Auswirkungen der Digitalisierung auf Demokratie und Gesellschaft thematisieren und den Klimaschutz vorantreiben. Die Stiftung Mercator engagiert sich in Deutschland, Europa und weltweit. Dem Ruhrgebiet, Heimat der Stifterfamilie und Stiftungssitz, fühlt sie sich besonders verbunden.
</p>

</section>

