---
title: Dein Input zum Bits & Bäume Newsletter
layout: layouts/_page.ejs
lang: de
---
<p>
Mit dem Newsletter erfahren Abonent:innen etwa alle zwei Monate (und zu besonderen Anlässen) von Neuigkeiten der Bits & Bäume Bewegung, alle Events und B&B-nahen Termine, Infos zur und aus der Community und Aufrufe zum Mitmachen und Einbringen.
</p>

Wenn ihr Vorschläge für den Newsletter habt, könnt ihr sie in unser <a href="https://bits-und-baeume.org/newsletter_input_pad">Input-Pad schreiben</a> oder uns in der Newsletter-Redaktion anschreiben per Mail an newsletter at bits-und-baeume punkt org.

<p>
<a href="https://bits-und-baeume.org/newsletter_input_pad">
<button class="btn-dark">
Vorschlag einbringen
</button>
</a>
</p>
