---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/press/
---

<section class="max-w-3xl">
    <h1>Presse</h1>
    <p><b>
       Auf unserer Presseseite findest du unseren Pressekontakt, unsere Pressemitteilungen und unseren Pressespiegel!

    </p></b>


	<div class="box box-cta">
		<h2 class="h3">Presseverteiler und Kontakt</h2>
		<p>Kontaktiere uns unter <a href="mailto:presse@bits-und-baeume.org">presse@bits-und-baeume.org</a>.</p>

		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>


	<div class="box box-infos">
		<h2 class="h3">Pressemitteilungen</h2>
			<ul>
			<li><b>28.01.2025: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen_allg/PM_250128.pdf">Bundestagswahl 2025 – Digitalpolitik jetzt in den Dienst von Mensch und Umwelt stellen</a></li>
			<li><b>06.06.2023: </b><a href="{{ site.url }}/assets/images/2023/230606_PM_Bits_und_Baeume_Journal_DE.pdf">So geht nachhaltige Digitalisierung – Bits & Bäume-Buch
gibt 28 Impulse</a></li>
        </ul>

		<h2 class="h4">Pressemitteilungen der Konferenz 2022</h2>
			<ul>

			<li><b>05.10.2022: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_221005.pdf">Für eine nachhaltige Digitalisierung: 2.500 Teilnehmer*innen auf der Konferenz „Bits & Bäume“</a></li>
			<li><b>05.09.2022: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_220901.pdf">Bündnis fordert von Politik: Digitalisierung muss sozial-ökologischem Wandel
dienen</a></li>
			<li><b>07.06.2022: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2022/Bits&Baeume_Pressemitteilung_7.6.22.pdf">Digitalisierung und Nachhaltigkeit zusammendenken – Zweite bundesweite Bits &
Bäume Konferenz vom 30. September bis 2. Oktober – Aufruf für Konferenzbeiträge</a></li>
        </ul>

		<h2 class="h4">Pressemitteilungen der Konferenz 2018</h2>
			<ul>

			<li><b>19.11.2018: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2018/181119-Pressemitteilung-Bits-und-Baeume-Forderungen.pdf"> Konferenz „Bits & Bäume“: Bündnis fordert nachhaltige Digitalisierungspolitik </a></li>
			<li><b>12.11.2018: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2018/181112-Pressemitteilung-Bits-und-Baeume-Startschuss.pdf">Bits & Bäume: Über 1.000 Teilnehmende auf Konferenz zu Digitalisierung und Nachhaltigkeit in Berlin erwartet</a></li>
			<li><b>18.10.2018: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2018/20181018-Pressemitteilung-Bits-und-Baeume-Konferenzprogramm-online.pdf">Nachhaltige Digitalisierung gemeinsam gestalten: Programm der Konferenz „Bits & Bäume“</a></li>
			<li><b>02.10.2018: </b><a href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen2018/181002-Pressemitteilung-Bits-und-Baueme-Anmeldestart.pdf">Digitalisierung trifft Nachhaltigkeit: Anmeldestart für die Vernetzungskonferenz Bits & Bäume</a></li>

        </ul>
		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-infos.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-infos.svg" alt="box" width="50" height="50">
		</div>
	</div>


	<div class="box box-cta">
		<h2 class="h3">Pressespiegel der Konferenz 2022</h2>

		<ul>
		{% for item in content.pressespiegel.items %}
			<li>
				{{item.date}}: <a href="{{item.url}}">{{item.publisher}}: <i>{{ item.title }}</i></a>
			</li>
		{% endfor %}
		</ul>


		<div class="box__icon">
			<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
		</div>
	</div>





</section>



