---
title: Publikationen
layout: layouts/_page.ejs
lang: de
---

<section class="max-w-3xl">

	<div class="box box-links">
Forderungen des „Bits & Bäume“-Bündnisses zur Bundestagswahl 2025, 2025
	<h2 class="h3"> Digitale Souveränität und Zukunft durch demokratische Kontrolle!</h2>
		Die digitale Transformation ist in vollem Gange. Sie prägt Klima und Umwelt, den sozialen Zusammenhalt, unsere Arbeitswelt, die Demokratie und die internationale Zusammenarbeit. Längst ist klar: Es bedarf politischer Rahmensetzungen, um die Potenziale der Digitalisierung für eine sozial gerechte und nachhaltige Zukunft besser zu nutzen. In 7 Kernforderungen fordern wir die zukünftige Bunderegierung auf, die Weichen für eine nachhaltige und sozial-gerechte Digitalisierung zu stellen.
</br>
</br>
			<a target="blanc" href="{{ site.url }}/assets/images/pdfs/Bits-und-Baeume_Politische-Forderungen-2025.pdf">
				<button class="btn-dark">Forderungen (PDF)</button>
			</a>
			<a target="blanc" href="{{ site.url }}/posts/forderungen-bundestagswahl-2025-html">
				<button class="btn-dark">Forderungen (HTML)</button>
			</a> <br><br>

			<a target="blanc" href="{{ site.url }}/assets/images/pdfs/Pressemitteilungen_allg/PM_250128.pdf">
				Pressemitteilung zu den Forderungen
			</a>

	<div class="box__icon">
		<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
	</div>
	<div class="box__pixel">
		<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
	</div>
</div>


<div class="box box-cta">
L. Kaufmann, F. Hildebrandt, K. van Treeck, C. Junge, P. Luzina, J. Kollien (Hrsg.), 2024
		<h2 class="h3">Digital die Welt retten? Handbuch für eine ökologische, digitale & gerechte Zukunft</h2>
17 Autor*innen, Aktivist*innen und Wissenschaftler*innen diskutieren in sieben Kapiteln die größten Herausforderungen des digitalen Wandels: Klimakrise, Artenverlust, Ressourcenknappheit, Wandel der Arbeitswelt, ungerechte Verteilung und Demokratiekrise. Das Buch zeigt, wie Digitalisierung Umweltschutz, Freiheit, Demokratie und Gerechtigkeit fördern kann, aber auch, wer von den digitalen Versprechen profitiert. Es fordert Gesetze und Aktionen, um die digitale Wirtschaft nachhaltig zu gestalten. In Zusammenarbeit mit dem BUND basiert es auf Postwachstums und digitaler Suffizienz: So viel Digitalisierung wie nötig, aber so wenig wie möglich. <br> <br>

	<a target="blanc" href="{{ site.url }}/posts/BUND-HandbuchDigitalpolitik_B&B/"><button class="btn-dark">Zum Post</button></a>
	<a target="blanc" href="{{ site.url }}/assets/images/pdfs/BUND-HandbuchDigitalpolitik_B&B.pdf"><button class="btn-dark">Handbuch (PDF)</button></a> 

<div class="box__icon">
<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
</div>
<div class="box__pixel">
<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
</div>
</div>


	<div class="box box-links">
Jankowski, P., Höfner, A., Hoffmann, M. L., Rohde, F., Rehak, R. & Graf, J. (Eds.), 2023
	<h2 class="h3"> Shaping Digital Transformation for a Sustainable Society</h2>
		Die zweite „Bits & Bäume“-Konferenz (Berlin, 2022) vereinte Tech- und Nachhaltigkeits-Communities, um die Digitalisierung nachhaltig zu gestalten. Das Begleitbuch zur Konferenz versammelt Beiträge von über 65 Autor*innen und behandelt Themen wie Ressourcenverbrauch, Governance digitaler Infrastrukturen, KI, Blockchain und die Plattformökonomie. Es bietet Lösungen wie das Computer Science for Future-Programm und thematisiert EU-Nachhaltigkeitspolitik und die Rolle der Zivilgesellschaft. Das Buch soll informieren, inspirieren und zum Handeln anregen – für eine nachhaltige und gerechte digitale Zukunft. <i>Publikation auf englisch.</i>
</br>
</br>
	<a href="https://publication2023.bits-und-baeume.org"><button class="btn-dark">Zur Publikation (EN)</button></a>
	<div class="box__icon">
		<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
	</div>
	<div class="box__pixel">
		<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
	</div>
</div>


<div class="box box-cta">
Forderungen der Bits & Bäume Konferenz 2022
<h2 class="h3">Digitalisierung nachhaltig und zukunftsfähig gestalten.</h2>
Wir fordern: Digitalisierung muss dem sozialen und ökologischen Wandel dienen. Digitale Technologien sollten Lebensbedingungen verbessern und Umwelt schützen – durch gesellschaftliche Teilhabe und innerhalb planetarer Grenzen. Stattdessen verschärfen steigender Energieverbrauch, Ressourcenabbau und fehlende Teilhabe im Globalen Süden bestehende Krisen.

Mit diesem Appell fordern 13 Organisationen aus Umwelt-, Digital- und Entwicklungspolitik sowie Wissenschaft die Bundesregierung, die EU und globale Akteure zum Handeln auf. Zur Konferenz „Bits & Bäume“ 2022 präsentieren wir über 60 Forderungen in fünf Themenbereichen.<br><br>
	<a target="blanc" href="{{ site.url }}/konferenz-2022/forderungen/"><button class="btn-dark">Zu den Forderungen (HTML & PDF)</button></a>
<div class="box__icon">
<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
</div>
<div class="box__pixel">
<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
</div>
</div>


<div class="box box-links">
<p> Anja Höfner (Hrsg.) & Vivian Frick (Hrsg.), Oekom 2019
<h2 class="h3">Buch: Was Bits und Bäume verbindet - Digitalisierung nachhaltig gestalten</h2>
Die Konferenz »Bits & Bäume« (2018 in Berlin) war das größte Debattenforum für Digitalisierung und Nachhaltigkeit. Über 50 Autor*innen aus Tech-Szene, Nachhaltigkeitsbewegung und Entwicklungszusammenarbeit zeigen, wie Digitalisierung den sozial-ökologischen Wandel fördern kann. Themen sind u. a. die Auswirkungen des Digitalkonsums im Globalen Süden, nachhaltiger Umgang mit Daten und die Chancen sowie Risiken einer digitalisierten Wirtschaft. Im Fokus steht die Frage: Welche Digitalisierung wollen wir? Die Beiträge verdeutlichen: Zukunftsfähige Digitalisierung muss dem Gemeinwohl dienen statt Einzelinteressen. Infografiken und Porträts liefern Denkanstöße für eine bessere digitale Welt. <i>Open Access (CC BY-NC-SA).</i>
		</p>
	<a target="blanc" href="https://www.oekom.de/buch/was-bits-und-baeume-verbindet-9783962381493"><button class="btn-dark">Zur Verlagswebsite</button></a>
<div class="box__icon">
<img src="{{ site.url }}/assets/images/icon-box-cta.svg" alt="box" width="66" height="66">
</div>
<div class="box__pixel">
<img src="{{ site.url }}/assets/images/pixel-box-cta.svg" alt="box" width="40" height="50">
</div>
</div>

</section>