---
title: Bits & Bäume - Termine
description: Termine der Bits & Bäume Community
layout: layouts/_base.ejs
tags: termine, kalender, calendar
lang: de
---
<section class="max-w-3xl">
<h1>Termine</h1>
	<p>
		Alle Bits & Bäume Termine und weitere thematisch nahe Veranstaltungen findet ihr in unserem <a href="https://bits-und-baeume.org/kalender">Kalender</a>, den ihr auch <a href="https://wiki.bits-und-baeume.org/it/kalender/start">abonnieren</a> könnt.<br>


		</p>
		<p>
		Eure eigenen oder andere interessante Termine schlagt gern <a href="https://bits-und-baeume.org/kalenderinput">hier</a> vor.<br>

		</p>


	</p>

<b>Community Treffen</b>
<p>Unser monatliches Community Treffen findet in der Regel jeden ersten Donnerstag im Monat statt und wird <a href="https://discourse.bits-und-baeume.org/tag/vernetzungstreffen">hier</a> angekündigt.</p>

<h3>Kalender</h3>
<p>Eigene B&B Termine in grün und B&B nahe Termin in blau.</p>
<iframe width="105%" height="550" src="https://cloud.bits-und-baeume.org/apps/calendar/embed/HSQmRMc9dmB755CK-Xfe4s2Cfz8ZiMii4/listMonth/now"></iframe>

<a  href="https://bits-und-baeume.org/kalender">Kalender im Vollbild öffnen</a>

<h3>Vergangene Veranstaltungen</h3>

Eine Übersicht über vergangene Veranstaltungen findest du <a href="{{ site.url }}/events/">hier</a>.

</section>

