---
title: Bits & Bäume
description: ...
layout: layouts/_base.ejs
tags: sitemap
lang: de
---



<section class="max-w-3xl">

	<h1>Unsere Aktivitäten - ein Überblick</h1>

	<p>Wir wollen den Wandel zu einer sozial-gerechten und nachhaltigen Digitalisierung voranbringen. Dafür schaffen wir Austauschräume, in denen die Herausforderungen der Digitalisierung analysiert, und gemeinsam Ideen für eine aktive Gestaltung einer nachhaltigen und sozial-gerechten digitalen Welt erarbeitet werden. <br><br>

<B>Konferenzen <a href="https://bits-und-baeume.org/konferenz-2018/">2018</a> und <a href="https://bits-und-baeume.org/konferenz-2022/">2022</a>:</B> Die Veranstaltungen mit über 4.000 Teilnehmern in Berlin waren für unsere Entwicklung von zentraler Bedeutung. Die <a href="https://bits-und-baeume.org/publikationen/">Publikationen</a> im Anschluss an die Konferenzen bilden nach wie vor die Grundlage unserer Arbeit. <br><br>

<B>Regelmäßige Veranstaltungen:</B> Wir veranstalten regelmäßig Themenabende, an denen wir digitalpolitische Themen diskutieren. Der Raum zum informellen Netzwerken und Kennenlernen von neuen Verbündeten kommt dabei nicht zu kurz! <br><br>

<B>Koordinationsarbeit:</B> Im Jahr 2023 haben wir die Koordinationsstelle eingerichtet, um die Zusammenarbeit in unserem Netzwerk zu verbessern. <br><br>

<B>Politische Arbeit:</B> Mit unserer politischen Arbeit wollen wir Nachhaltigkeit und Digitalisierung auf die Tagesordnung politischer Entscheidungsträger*innen bringen. Dabei agieren wir sowohl auf nationaler als auch EU-Ebene, sprechen mit Politiker*innen, begleiten politische Prozesse kritisch und bringen unsere <a href="https://bits-und-baeume.org/konferenz-2022/forderungen/">Forderungen</a> ein. <br><br>

<B>Communityarbeit:</B> Unsere Bewegung wächst mit der Bildung neuer Regionalgruppen in verschiedenen Städten, die eigene Aktivitäten und Austauschräume organisieren. Auf nationaler Ebene halten wir monatliche virtuelle Treffen ab, um Ideen auszutauschen. Mit unserer Präsenz bei zivilgesellschaftlichen Veranstaltungen, wie dem Chaos Communicaton Congress, vernetzen wir die Community weiter und bringen unsere Forderungen ein.</p>


</section>

