---
title: Material
description: Die „Bits & Bäume“ wird dezentralisiert fortgeführt, auf dass sie weiter wächst und gedeiht.
layout: layouts/_base.ejs
tags: sitemap
lang: de
translation: /en/material/
---

<section class="max-w-3xl">
	<h1>Material für deinen Bits&Bäume-Zweig</h1>
	
	<p>
		Du willst eine eigene Veranstaltung, einen Stammtisch, eine Konferenz, einen Diskussionsabend, ein Panel im Sinne von Bits&Bäume organisieren? Großartig!
	</p>
	<p>
	Du hast schon gelesen, was für uns wichtig ist, damit du deinen Zweig wirklich Bits&Bäume nennen kannst? Noch viel besser!
	</p>
	<p>
	Du suchst einfach nur nach Ideen für deine eigene Veranstaltung? Auch gut :)
	</p>
	<p>
	Hier findest du Material von A wie Anreisekarte (siehe nachhaltig organisieren) bis Z wie zwitschern (#bitsundbäume)
	</p>

	<div class="box box-infos">
		<h2 class="h3">Nachhaltig organisieren</h2>

		<p>Tipps des B&B-Teams, was nachhaltig organisieren alles heißen kann, von Kollektiven bis zur Open Street Map
		</p>

		<a href="#">
			<button class="btn-dark">link zu nachhaltig organ</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">Referent*innen und Themen finden</h2>
		<ul>
			<li><a href="">LINK</a>B&B-Publikation Was Bits&Bäume verbindet: die Themen der Konferenz zum Nachlesen und Vertiefen
				</li>
			<li><a href="">LINK</a>die Referent*innen der Bits&Bäume 2018 im Fahrplan scouten</li>
			<li><a href="">LINK</a>Aufzeichnungen der Konferenz 2018 und anderer Vorträge rund um Bits&Bäume und verwandte Stichworte auf media.ccc.de durchklicken</li>
			<li><a href="">LINK</a>das Bits&Bäume-Vortrags-Team anfragen, um die Ziele von Bits&Bäume und den Zusammenhang von Bit&Baum zu erklären (Mailadresse folgt!)</li>
		</ul>
		<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

	<div class="box box-links">
		<h2 class="h3">B&B-Material zum Leuchten oder Drucken (CC BY Schauschau.cc)</h2>
		<ul>
			<li><a href="">TEXT</a> B&B-Logo Solo: [pdf/screen] | [pdf/print] | [svg/screen] | [eps/print]</li>
			<li><a href="">TEXT</a> B&B-Logo mit Konferenz-Untertitel: [pdf/screen] | [pdf/print] | [eps/print]</li>
			<li><a href="">TEXT</a>B&B-Sticker [pdf]</li>
			<li><a href="">TEXT</a> B&B-Forderungen als Broschüre Einzelseiten für die Druckerei | Doppelseiten zum Selberdrucken [pdf]</li>
			<li><a href="">TEXT</a>B&B-Plakat [pdf]</li>
			<li><a href="">TEXT</a>... mehr Material zum Download hier.</li>
		</ul>
		<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-links.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-links.svg" widht="50" height="50">
		</div>
	</div>

	<div class="box box-infos">
		<h2 class="h3">Frohes Wachsen und Gedeihen!</h2>
		
		<p>wünscht euch euer B&B-Team</p>
		<p>Wenn ihr sonstige hilfreiche Informationen bei uns vermutet oder eine Bits&Bäume-Veranstaltung ankündigen wollt, dann meldet euch gerne: Unter bewegung@bits-und-baeume.org erreicht ihr aktuell Juliane (OKF) und Rainer (FIfF). 
			Wenn ihr eure Veranstaltung auf Twitter mit (#bitsundbäume) verseht, finden wir und alle anderen euch leicht.</p>	
		<a href="#">
			<button class="btn-dark">Button dunkel</button>
		</a>
		<div class="box__icon">
			<img src="/assets/images/icon-box-infos.svg" widht="66" height="66">
		</div>
		<div class="box__pixel">
			<img src="/assets/images/pixel-box-infos.svg" widht="50" height="50">
		</div>
	</div>



</section>
