<div class="footer__pixel">
	<img src="<%= site.url %>/assets/images/pixel-footer-left.svg"
		alt="box" width="60"
		height="50"
	>
</div>
<div class="footer__pixel right">
	<img src="<%= site.url %>/assets/images/pixel-footer-right.svg"
		alt="box" width="90"
		height="40"
	>
</div>
<div class="container mx-auto md:max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

	<div class="py-4">
		<a class="hover:no-underline hover:bg-opacity-0" href="<%= site.url %>/">
			<img class="inline-block hover:scale-105 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/bits-und-baeume-logo_CCBY-schauschau.cc.svg" alt="Logo Bits & Bäume">
		</a>
	</div>

	<div class="py-4 md:py-0">
		<div class="flex flex-row justify-between py-4 w-36 mx-8">
			<div>
			<p>Social:</p>
			</div>
			<div style="margin-left: 0.5rem;">
			<a rel="me noopener" href="https://mastodon.bits-und-baeume.org/@bits_und_baeume"">
				<img class="w-8 hover:scale-105 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/mastodon-logo.svg" alt="Mastodon-Logo">
			</a>
			</div>
			<div>
			<a href="<%= site.url %>/kritische-sm-nutzung#linked-in-disclaimer">
				<img class="w-8 hover:scale-105 hover:transform-gpu duration-50"src="<%= site.url %>/assets/images/linkedin-logo.svg" alt="LinkedIn-Logo">
			</a>
			</div>
		</div>
	</div>

	<div class="py-4 md:py-0">
		<nav class="nav-menu text-l w-full">
			<ul class="pb-2 flex flex-col content-left mx-8">
			<li><a href="<%= site.url %>/impressum/">Impressum</a></li>
			<li><a href="<%= site.url %>/datenschutz/">Datenschutz</a></li>
			</ul>
		</nav>
	</div>


</div>

<section class="max-w-7xl">
	<h3>Die Organisationen des aktuellen <a href="/traegerkreis/">Trägerkreises</a></h3>
	<br><br>

</section>
