<% if (locals.translation) { %>
	<% if (locals.lang == "de") { %>
	<div class="lang-switcher">
		<ul>
			<li>
				<div class="flex flex-nowrap items-center">
					<div>DE</div>
					<div class="w-3 m-1"><img class="hover:scale-125 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/up-arrow.svg" alt="back to top"></div>
				</div>
				<ul class="submenu">
					<li><a href="<%= locals.translation %>">EN</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<% } %>
	<% if (locals.lang == "en") { %>
	<div class="lang-switcher">
		<ul>
			<li>
				<div class="flex flex-nowrap items-center">
					<div>EN</div>
					<div class="w-3 m-1"><img class="hover:scale-125 hover:transform-gpu duration-50" src="<%= site.url %>/assets/images/up-arrow.svg" alt="back to top"></div>
				</div>
				<ul class="submenu">
					<li><a href="<%= locals.translation %>">DE</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<% } %>
<% } %>
