<li class="has-submenu">
	<a href="<% site.url %>/en/community/">Community</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/en/community/bildung/"><span>Education, Bits & Bäume</span></a></li>
		<li><a href="<% site.url %>/en/community/forum/"><span>Forum</span></a></li>
		<li><a href="<% site.url %>/en/community/konferenz-nrw/"><span>Conference NRW</span></a></li>
		<li><a href="<% site.url %>/en/community/regionale-zweige/"><span>Regionale Groups</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="<% site.url %>/en/conference-2022/">Conference 2022</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/en/conference-2022/program/"><span>Program</span></a></li>
		<li><a href="<% site.url %>/en/conference-2022/tickets/">Tickets</a></li>
		<li><a href="<% site.url %>/en/conference-2022/press/">Press</a></li>
		<li><a href="<% site.url %>/en/conference-2022/about-us/">About us</a></li>
		<li><a href="<% site.url %>/en/conference-2022/join/">Join</a></li>
		<li><a href="<% site.url %>/en/conference-2022/demands/">Demands</a></li>
		<li><a href="<% site.url %>/en/conference-2022/faqs/">FAQs</a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="<% site.url %>/konferenz-2018/">Konferenz 2018</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/en/conference-2018/programm/"><span>Program</span></a></li>
		<li><a href="<% site.url %>/en/conference-2018/demands/"><span>Demands</span></a></li>
		<li><a href="<% site.url %>/en/conference-2018/goals/"><span>Goals</span></a></li>
		<li><a href="<% site.url %>/en/conference-2018/press/"><span>Press</span></a></li>
		<li><a href="<% site.url %>/en/conference-2018/nachhaltige-konferenzorga/"><span>Sustainable organisation</span></a></li>
	</ul>
</li>
<li><a href="<% site.url %>/en/conference-2022/join/">Join!</a></li>
<li><a href="<% site.url %>/en/material/">Material</a></li>
