<li class="has-submenu">
	<a href="<%= site.url %>/community/">Community 2</a>
	<ul class="submenu">

		<li><a href="<%= site.url %>/community/"><span>Werde Teil der B&B Community</span></a></li>
			<li><a href="<%= site.url %>/community/regionale-zweige/"><span>Regionalzweige</span></a></li>
			<li><a href="https://matrix.to/#/#bitsundbaeume:matrix.org">Community Matrix</a></li>
			<li><a href="https://discourse.bits-und-baeume.org/">Discourse (Diskussionsforum)</a></li>
			<li><a href="https://lists.bits-und-baeume.org/postorius/lists/community.lists.bits-und-baeume.org/">Mailingliste</a></li>
		<!--<li><a href="<%= site.url %>/community/Infrastruktur (interner Bereich)"><span>Infrastruktur (interner Bereich)</span></a></li>-->
		<li><a href="<%= site.url %>/community/eigene-organisieren/"><span>Eigene B&B organisieren</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="#">Was wir tun</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/struktur-und-team/">Struktur und Team</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/forderungen">Forderungen</a></li>
	<!--	<li><a href="<%= site.url %>/konferenz-2022/programm/"><span>Programm & Aufzeichnungen</span></a></li>-->
		<li><a href="<%= site.url %>/konferenz-2022/aufzeichnungen/"><span>Programm & Aufzeichnungen</span></a></li>
		<li><a href="https://blog.bits-und-baeume.org/"><span>Konferenzblog</span></a></li>
	<!--	<li><a href="<%= site.url %>/konferenz-2022/karte/"><span>Karte (Lageplan)</span></a></li>-->
	<!--	<li><a href="<%= site.url %>/konferenz-2022/tickets/">Tickets</a></li>-->

	<!--	Diesen Link wieder aktivieren, sobald die Fotos da sind -->
	<!--	<li><a href="<%= site.url %>/konferenz-2022/eindruecke/">Eindrücke der Konferenz 2022</a></li>-->
		<li><a href="<%= site.url %>/konferenz-2022/presse">Presse</a></li>


	<!--	<li><a href="<%= site.url %>/konferenz-2022/awareness">Awareness Konzept</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/material">Material</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/faqs">Konferenz-FAQ</a></li>-->
	</ul>
</li>
<li class="has-submenu ck_test">
	<a href="#">Termine 3</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/konferenz-2018/programm/"><span>Programm</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/forderungen/"><span>Forderungen</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/ziele/"><span>Ziele</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/presse/"><span>Presse</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/material">Material</a></li>
		<li><a href="<%= site.url %>/konferenz-2018/nachhaltige-konferenzorga/"><span>Nachhaltige Konferenzorga</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="#">Blog</a>
</li>
<li class="has-submenu">
	<a href="#">Über uns</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/traegerkreis/">Der Trägerkreis</a></li>
		<li><a href="<%= site.url %>/diecommunity/">Die Community</a></li>
		<li><a href="<%= site.url %>/historie/">Historie</a></li>
		<li><a href="<%= site.url %>/konferenzen-events/">Konferenzen & Events</a></li>
		<li><a href="<%= site.url %>/kontakt">Kontakt und Mitarbeit</a></li>
	</ul>
</li>
<li><a href="<%= site.url %>/konferenz-2022/material/">Presse</a></li>
