<li class="has-submenu">
	<a href="<%= site.url %>/community/">Community </a>
	<ul class="submenu">

		<li><a href="<%= site.url %>/community/"><span>Werde Teil der Community</span></a></li>
			<li><a href="<%= site.url %>/community/regionale-zweige/"><span>📍 Regionalzweige</span></a></li>
			<li><a href="<%= site.url %>/newsletter">🍃 Newsletter</a>
			<li><a href="https://lists.bits-und-baeume.org/postorius/lists/community.lists.bits-und-baeume.org/">📧 Mailingliste</a></li>
			<li><a target="_blank" href="https://matrix.to/#/#bitsundbaeume:matrix.org">💬 Community-Matrix-Chat</a></li>
			<li><a href="https://discourse.bits-und-baeume.org/">👥 Discourse Forum</a></li>
			<li><a href="https://mastodon.bits-und-baeume.org/@bits_und_baeume">🐘 Mastodon</a></li>
			<li><a href="<%= site.url %>/community/eigene-organisieren/"><span>📢 Eigene B&B organisieren</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="#">Was wir tun</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/was-wir-tun-uebersicht/">Überblick</a></li>
		<li><a href="<%= site.url %>/meldungen/">Aktuelle Meldungen und Archiv</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/forderungen">Unsere Forderungen</a></li>
		<li><a href="<%= site.url %>/events/">Events</a></li>
		<li><a href="<%= site.url %>/aufzeichnungen/">Aufzeichnungen</a></li>
		<li><a href="<%= site.url %>/publikationen/">Publikationen</a></li>
		<li><a href="<%= site.url %>/politische-arbeit/">Politische Arbeit</a></li>
		<li><a href="<%= site.url %>/materialien/">Material</a></li>

	<!--	alte Einträge (Einrückung bedeutet: war vorher schon auskommentiert)

		<li><a href="<%= site.url %>/struktur-und-team/">Struktur und Team</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/programm/"><span>Programm & Aufzeichnungen</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2022/aufzeichnungen/"><span>Programm & Aufzeichnungen</span></a></li>
		<li><a href="https://blog.bits-und-baeume.org/"><span>Konferenzblog</span></a></li>
			<li><a href="<%= site.url %>/konferenz-2022/karte/"><span>Karte (Lageplan)</span></a></li>
			<li><a href="<%= site.url %>/konferenz-2022/tickets/">Tickets</a></li>

				<li><a href="<%= site.url %>/konferenz-2022/eindruecke/">Eindrücke der Konferenz 2022</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/presse">Presse</a></li>


			<li><a href="<%= site.url %>/konferenz-2022/awareness">Awareness Konzept</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/material">Material</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/faqs">Konferenz-FAQ</a></li>
	-->
	</ul>
</li>
<li class="has-submenu ck_test">
	<a href="/termine/">Termine</a>
	<!--	alte Einträge (Konferenz 2018)
	<ul class="submenu">
		<li><a href="<%= site.url %>/konferenz-2018/programm/"><span>Programm</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/forderungen/"><span>Forderungen</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/ziele/"><span>Ziele</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/presse/"><span>Presse</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/material">Material</a></li>
		<li><a href="<%= site.url %>/konferenz-2018/nachhaltige-konferenzorga/"><span>Nachhaltige Konferenzorga</span></a></li>
	</ul>
	-->
</li>
<li class="has-submenu">
	<a href="<%= site.url %>/blog">Blog</a>
</li>
<li class="has-submenu">
	<a href="#">Über uns</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/konferenzen/">Die Bits & Bäume Konferenzen</a></li>
		<li><a href="<%= site.url %>/traegerkreis/">Der Trägerkreis</a></li>
		<li><a href="<%= site.url %>/diecommunity/">Die Community</a></li>
		<li><a href="<%= site.url %>/historie/">Historie</a></li>
		<li><a href="<%= site.url %>/kontakt">Kontakt und Mitarbeit</a></li>
	</ul>
</li>
<li><a href="<%= site.url %>/konferenz-2022/material/">Presse</a></li>
<li><a href="<%= site.url %>/newsletter">🍃 Newsletter</a>
	<ul class="submenu">
		<li><a href="https://lists.bits-und-baeume.org/postorius/lists/newsletter.lists.bits-und-baeume.org/">Abonnieren per Account</a></li>
		<li><a href="mailto:newsletter-subscribe@lists.bits-und-baeume.org?subject=B%26B%20Newsletter%20Abo&body=Schicke%20diese%20Mail%20von%20deiner%20Mailadresse%20ab%2C%20um%20das%20Bits%20%26%20B%C3%A4ume-Newsletter%20zu%20abonnieren.%0A%0AMit%20dem%20Newsletter%20erf%C3%A4hrst%20du%20etwa%20einmal%20im%20Monat%20von%20Neuigkeiten%20der%20Bits%20%26%20B%C3%A4ume%20Bewegung%2C%20alle%20Events%20und%20B%26B-nahen%20Termine%2C%20Infos%20zur%20und%20aus%20der%20Community%20und%20Aufrufe%20zum%20Mitmachen%20und%20Einbringen.%0A%0Ahttps%3A%2F%2Fbits-und-baeume.org%0A%0AUm%20sicherzugehen%2C%20dass%20diese%20Mailadresse%20dir%20geh%C3%B6rt%2C%20schicken%20wir%20dir%20eine%20weitere%20Mail%20zu.%20Nachdem%20du%20auf%20diese%20geantwortet%20hast%2C%20erh%C3%A4ltst%20du%20die%20Best%C3%A4tigung%20des%20Abos.%0A%0ADu%20kannst%20dir%20auch%20einen%20Account%20erstellen%20und%20dein%20Abo%20im%20Browser%20einrichten%3A%20unter%3A%20https%3A%2F%2Fbits-und-baeume.org%2Fnewsletteranmeldung
">Abonnieren per Mail</a></li>
		<li><a href="https://bits-und-baeume.org/newsletterinput">Input geben</a></li>
	</ul>
</li>
