<li class="has-submenu">
	<a href="<%= site.url %>/community/">Community</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/community/forum/"><span>Forum B&amp;B (Gesprächsreihe)</span></a></li>
		<li><a href="<%= site.url %>/community/camp/"><span>Chaos Communication Camp 2023</span></a></li>
		<li><a href="<%= site.url %>/community/regionale-zweige/"><span>Regionale Zweige</span></a></li>
		<li><a href="https://wiki.bits-und-baeume.org/community-treffen/"><span>Regelmäßige Online-Treffen</span></a></li>
		<li><a href="https://discourse.bits-und-baeume.org"><span>Discourse (Diskussionsforum)</span></a></li>
		<li><a href="<%= site.url %>/community/konferenz-nrw/"><span>Konferenz NRW</span></a></li>
		<li><a href="<%= site.url %>/community/bildung/"><span>Bildung, Bits & Bäume</span></a></li>
		<li><a href="https://wiki.bits-und-baeume.org/struktur-der-bewegung/"><span>Wiki-Übersicht: B&amp;B-Bewegung</span></a></li>
		<li><a href="<%= site.url %>/community/eigene-organisieren/"><span>Eigene B&B organisieren</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="<%= site.url %>/konferenz-2022/">Konferenz 2022</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/struktur-und-team/">Struktur und Team</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/forderungen">Forderungen</a></li>
	<!--	<li><a href="<%= site.url %>/konferenz-2022/programm/"><span>Programm & Aufzeichnungen</span></a></li>-->
		<li><a href="<%= site.url %>/konferenz-2022/aufzeichnungen/"><span>Programm & Aufzeichnungen</span></a></li>
		<li><a href="https://blog.bits-und-baeume.org/"><span>Konferenzblog</span></a></li>
	<!--	<li><a href="<%= site.url %>/konferenz-2022/karte/"><span>Karte (Lageplan)</span></a></li>-->
	<!--	<li><a href="<%= site.url %>/konferenz-2022/tickets/">Tickets</a></li>-->

	<!--	Diesen Link wieder aktivieren, sobald die Fotos da sind -->
	<!--	<li><a href="<%= site.url %>/konferenz-2022/eindruecke/">Eindrücke der Konferenz 2022</a></li>-->
		<li><a href="<%= site.url %>/konferenz-2022/presse">Presse</a></li>


	<!--	<li><a href="<%= site.url %>/konferenz-2022/awareness">Awareness Konzept</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/material">Material</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/faqs">Konferenz-FAQ</a></li>-->
	</ul>
</li>
<li class="has-submenu">
	<a href="<%= site.url %>/konferenz-2018/">Konferenz 2018</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/konferenz-2018/programm/"><span>Programm</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/forderungen/"><span>Forderungen</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/ziele/"><span>Ziele</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/presse/"><span>Presse</span></a></li>
		<li><a href="<%= site.url %>/konferenz-2018/material">Material</a></li>
		<li><a href="<%= site.url %>/konferenz-2018/nachhaltige-konferenzorga/"><span>Nachhaltige Konferenzorga</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="#">Über uns</a>
	<ul class="submenu">
		<li><a href="<%= site.url %>/traegerkreis/">Trägerkreis</a></li>
		<li><a href="<%= site.url %>/konferenz-2022/politische-arbeit">Politische Arbeit</a></li>
		<li><a href="<%= site.url %>/publikationen">Publikationen</a></li>
		<li><a href="<%= site.url %>/kontakt">Kontakt und Mitarbeit</a></li>
	</ul>
</li>
<li><a href="<%= site.url %>/konferenz-2022/material/">Material</a></li>
