<li class="has-submenu">
	<a href="<% site.url %>/community/">Community</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/community/bildung/"><span>Bildung</span></a></li>
		<li><a href="<% site.url %>/community/forum/"><span>Forum</span></a></li>
		<li><a href="<% site.url %>/community/konferenz-nrw/"><span>Konferenz NRW</span></a></li>
		<li><a href="<% site.url %>/community/regionale-zweige/"><span>Regionale Zweige</span></a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="<% site.url %>/konferenz-2022/">Konferenz 2022</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/en/conference-2022/program/"><span>Program</span></a></li>
		<li><a href="<% site.url %>/en/conference-2022/tickets/">Tickets</a></li>
		<li><a href="<% site.url %>/en/conference-2022/press/">Press</a></li>
		<li><a href="<% site.url %>/en/conference-2022/about-us/">About us</a></li>
		<li><a href="<% site.url %>/mach-mit/">Mach mit</a></li>
		<li><a href="<% site.url %>/en/conference-2022/demands/">Demands</a></li>
		<li><a href="<% site.url %>/en/conference-2022/faqs/">FAQs</a></li>
	</ul>
</li>
<li class="has-submenu">
	<a href="<% site.url %>/konferenz-2018/">Konferenz 2018</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/en/conference-2018/demands/"><span>Demands</span></a></li>
	</ul>
</li>
<li><a href="<% site.url %>/mach-mit/">Mach mit!</a></li>
<li><a href="<% site.url %>/en/material/">Material</a></li>
