<section class="container max-w-7xl">

	<div class="wrapper relative ">
		<div class="tiles flex flex-wrap container max-w-7xl m-auto relative -top-24">

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Deutscher Naturschutzring">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/dnr.svg" title="Deutscher Naturschutzring">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Institut für ökologische Wirtschaftsforschung">
							<img class="carpet-logo" style="max-height:130px; min-height:100px;" src="<%= site.url %>/assets/images/traegerinnen_logos/ioew.svg" title="Institut für ökologische Wirtschaftsforschung">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Germanwatch e.V.">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/germanwatch.svg" title="Germanwatch e.V.">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Brot für die Welt">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/logo-brot-fuer-die-welt.svg" title="Brot für die Welt">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Chaos Computer Club">
							<img class="carpet-logo" style="max-height:130px; padding-bottom:20px;" src="<%= site.url %>/assets/images/traegerinnen_logos/ccc.svg" title="Chaos Computer Club">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung e. V.">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/fiff-schwarz.svg" title="Forum InformatikerInnen für Frieden und gesellschaftliche Verantwortung">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Konzeptwerk Neue Ökonomie">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/konzeptwerk.svg" title="konzeptwerk neue ökonomie">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Free Software Foundation Europe	">
							<img class="carpet-logo" style="max-height:130px; padding:10px;" src="<%= site.url %>/assets/images/traegerinnen_logos/fsfe-cropped.svg" title="Free Software Foundation Europe">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Die BUNDjugend">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/logo-bundjugend.svg" title="Die BUNDjugend">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Weizenbaum-Institut">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/weizenbaum.png" title="Weizenbaum-Institut" sizes="(min-width: 1400px) 276px, (min-width: 1040px) 20vw, (min-width: 500px) 230px, calc(44.44vw + 17px)" data-img2picture-widths="230,280,460,560">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Wikimedia Deutschland – Gesellschaft zur Förderung Freien Wissens e. V.">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/wikimedia-deutschland.svg" title="Wikimedia Deutschland">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Deutscher Gewerkschaftsbund">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/dgb-logo-md.svg" title="DGB">
						</a>
					</div>
				</div>
			</div>

			<div class="w-full md:w-1/2 lg:w-1/4 flex flex-col">
				<div class="mx-4 md:mr-4 flex-1 flex flex-col">
					<div class="flex-1">
						<a href="/traegerkreis/#Berlin Ethics Lab">
							<img class="carpet-logo" src="<%= site.url %>/assets/images/traegerinnen_logos/berlin_ethics_labs.png" title="DGB">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>