<li><a href="<% site.url %>/community/">Community</a></li>
<li class="has-submenu">
	<a href="<% site.url %>/konferenz-2022/">Konferenz 2022</a>
	<ul class="submenu">
		<li><a href="<% site.url %>/konferenz-2022/programm/"><span>Programm</span></a></li>
		<li><a href="<% site.url %>/konferenz-2022/tickets/">Tickets</a></li>
		<li><a href="<% site.url %>/error_placeholder/">Presse</a></li>
		<li><a href="<% site.url %>/ueber-uns/">Über uns</a></li>
		<li><a href="<% site.url %>/error_placeholder/">Mach mit</a></li>
		<li><a href="<% site.url %>/error_placeholder/">Forderungen</a></li>
		<li><a href="<% site.url %>/error_placeholder/">FAQs</a></li>
	</ul>
</li>
<li><a href="<% site.url %>/konferenz-2018/">Konferenz 2018</a></li>
<li><a href="<% site.url %>/error_placeholder/">Mach mit!</a></li>
<li><a href="<% site.url %>/error_placeholder/">Material</a></li>
